@use '../../../../../../../views/goui/goui/style/_util.scss'  as *;
@use '../../../../../../../views/goui/goui/style/_config.scss' as *;

.ic-google {
  //background-image: url('./www.collaboraoffice.com.ico');
  background-image: url('./resources/google.png');
}

.ic-microsoft {
  background-image: url('./resources/microsoft.png');
}

.ic-openid {
  background-image: url('./resources/openid.png');
}