.go-module-icon-comments, .go-menu-icon-comments{
	background-image:url('images/comments.png') !important;
}
.go-tab-icon-comments {
	background-image: none !important;
}

.go-model-icon-GO_Comments_Model_Comment{
	background-image: url("images/comments.png") !important;
	width: 16px;
	height: 16px;
}

@media print {
	.print-always{
		display : block !important;
	}
	
	.print-never {
		display : none !important;
	}
}