<config>
<file_options>
	<type name="default"></type>
	<type name="photoalbum"></type>
	<type name="guestbook"></type>
	<type name="portfolio">
	    <file name="image" field_label="Image" />
	</type>
	<type name="contact">
		<input name="addressbook" field_label="Addressbook" />
	</type>
	<type name="test"></type>

</file_options>
</config>