$calEventColor : $cPrimary; 
$calTodayColor : $cAccent;

%flex {
	box-shadow: 0 0 1px rgba(0,0,0,.11),0 1px 2px rgba(0,0,0,.22);
    box-sizing: border-box;
    height: 88px;
    padding: 12px;
    position: relative;
    top: 0;
    left: 0;
    width: 132px;
    z-index: 0;
    display: -webkit-flex;
    display: flex;
	cursor:pointer;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;

}

go-yearview {
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
	overflow:hidden;
	> div {
		position:relative;
		box-sizing: border-box;
		display: inline-block; 
		padding: 1.8%;
		width: 25%;
		height: 33.33333%;
	}
	table {

		height:90%;
		width: 100%;
		caption{
			cursor:pointer;
			color: color($fg, 'secondary-text');
			font-size: 1.2em;
			padding-bottom: 0.8em;
			&.current{
				color: $calTodayColor;
			}
		}
		th {
			height:20px;
		}
		td, th {
			cursor:default;
			position:relative;
			font-size: .8em;
			text-align: center;
			vertical-align:top;
			overflow:hidden;
			&.current{
				color: $calTodayColor;
			}
			>div {
				position:absolute;
				top: 15px;
				width:100%;
				height:6px;
				line-height:6px;
				text-align: center;
				> p {
					display:inline-block;
					border-radius: 50%;
					width:6px;
					height:6px;
					padding:0;
					margin:0;
					background-color: $calEventColor;
				}
			}
		}
		td.weeknb {
			color: color($fg, 'secondary-text');
		}
	}

}

$tagList: (beer, xmas, drinks, xmasparty);
%tagged {
	color: white !important;
	td > & { padding-top: 32px;}
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right center;
}
%taggable {
	@each $tag in $tagList {
		&.#{$tag} {
			@extend %tagged;
			background-image: url(#{$resourcePath}img/calendar/#{$tag}.jpg);
		}
	}
}

%event {
	cursor:pointer;
	
	//white-space: nowrap;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 2px;
	background-color: $calEventColor;
	color: white;
	padding: 3px 5px;
	//box-shadow: 0 1px 2.5px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.12);
	font-weight:600;
	&::first-letter {
		text-transform: capitalize;
	}
	&.new {
		background-color:white !important;
		border-width: 1px;
		border-style: solid;
	}
	&.declined {
		text-decoration: line-through;
	}
	&.tentative {
		opacity: .6;
	}
	i.icon {
		font-size: inherit !important;
		min-height:12px;
		height:12px;
		width:12px;
		min-width: 12px;
	}
}
%multiday {
	&.start { margin-right:0; overflow:hidden; border-radius: 2px 0px 0px 2px; border-right: none; }
	&.mid { margin-left:-3px; margin-right:-3px; border-radius: 0; text-indent: -9999px; border-width: 1px 0 1px 0; }
	&.end { margin-left:0; margin-right:0; border-radius: 0px 2px 2px 0px; text-indent: -9999px; border-left: none;}
	span.event-ghost { background-color:transparent; border-left:0; }
}

%nowbar {
	border-color:$calTodayColor;
	position:absolute;
	z-index:1;
	width:100%;
	&:after {
		content: '';
		position:absolute;
		left:-8;
		height:8px;
		width:8px;
		margin-top:-4px;
		margin-left:-4px;
		border-radius: 50%;
		background-color:$calTodayColor;
	}
}

.ext-cal-monthview {
	position:absolute; 
	top:0;
	bottom:0;
	width: 100%;
	overflow:hidden;
	.ext-cal-hd-ct {
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
	}
	.ext-cal-wk-ct {
		left: 0;
		overflow: hidden;
		position: absolute;
		width: 100%;
		height: 100px;
  }
  .ext-cal-evt-tbl {
		position:relative;
		table-layout:fixed;
		width:100%;
  }
	.ext-cal-bg-tbl {
		height:100%;
		left:0;
		position:absolute;
		table-layout:fixed;
		top:0;
		width:100%;
  }
	.ext-cal-body-ct {
		background: color($bg, 'card');
		bottom: 0;
		left: 0;
		border: 0;
		overflow: hidden;
		position: absolute;
		top: dp(24);
		width: 100%;
  }
	.ext-cal-ev {
		vertical-align:top;
		> div { 
			@extend %event;
			@extend %multiday;
			//max-height: 20px;
			line-height: 14px;
			margin:2px;
			> span { //time
				@extend %font-caption;
			}
		}
	}
	.ext-cal-dtitle {
		color: #666;
		line-height:14px;
		overflow:hidden;
		text-align:left;
		> div {
			margin: 4px;
			font-size:.8em;
			text-align:center;
			width: 16px;
			height:16px;
			line-height:16px;
		}
		&-today > div {
			background: $calTodayColor;
			border-radius: 50%;
			color:white;
		}
		&-prev, &-next {
			color: color($fg, 'disabled-text');
		}
	} 
	.ext-cal-week {
		padding:5px;
		color: color($fg, 'text');
		text-align: center;
		width: dp(32);
		font-weight: normal;
		
	}
	.ext-cal-day {
		vertical-align: top;
		border-top: 1px solid color($fg, 'line');
		background-color: color($bg, 'card');
		&-prev, &-next {
			background-color: color($bg, 'background');
		}
	}
	.ext-cal-hd-day {
		padding: 0 5px;
		text-align: left;
		font-size: .8em;
		height: 24px;
		color: color($fg, 'secondary-text'); 
	}
	.ext-cal-hd-days-tbl {
		table-layout: fixed;
		top: dp(24);
		width: 100%;
  }
  .ext-cal-week-link-hd {
		border-top: 0 !important;
	}
	.ext-cal-week-link,
	.ext-cal-week-link-hd {
		width:dp(32);
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		border-top: 1px solid color($fg, 'line');
		color: color($fg, 'disabled-text');
		padding: 3px 0 0;
		text-align: center;
		cursor: pointer;
  }
}