@function color($color, $hue: 500, $contrast: 0) {
	@if $contrast == 1 {
		@return map-get(map-get($color, contrast), $hue);
	}
	@return map-get($color,$hue);
}

$black-87-opacity: rgba(black, 0.87) !default;
$white-87-opacity: rgba(white, 0.87) !default;

$grey-material: (
	0: #ffffff,
	50: #fafafa,
	100: #f5f5f5,
	200: #eeeeee,
	300: #e0e0e0,
	400: #bdbdbd,
	500: #9e9e9e,
	600: #757575,
	700: #616161,
	800: #424242,
	900: #212121,
	1000: #000000,
);

$grey-fabric: (
 	0: #ffffff,
	50: #faf9f8,
	100: #edebe9,
	200: #e1dfdd,
	300: #d2d0ce,
	400: #a19f9d,
	500: #979593,
	600: #797775,
	700: #484644,
	800: #323130,
	900: #201f1e,
	1000: #000000
);

$grey: $grey-material;

// LIGHT
$fg: (
	base: black,
	divider: rgba(black, 0.04),
	line: rgba(black, 0.12),
	disabled: rgba(black, 0.38),
	disabled-button: rgba(black, 0.26),
	track: rgba(black, 0.26),
	disabled-text: rgba(black, 0.38),
	hint-text: rgba(black, 0.38),
	textbox-line: rgba(black, 0.42),
	secondary-text: rgba(black, 0.64),
	unfocused: rgba(black, 0.54),
	icon: rgba(black, 0.54),
	icons: rgba(black, 0.54),
	text: rgba(black, 0.87)
) !default;
$bg: (
	status-bar: color($grey, 200),
	app-bar: color($grey, 100),
	form: color($grey, 50),
	background: color($grey, 50),
	hover: rgba(black, .04),
	pressed: rgba(black, .08),
	selected: rgba(black, .08),
	readonly: rgba(black, .08),
	box: white,
	tbar: white,
	card: white,
	dialog: color($grey, 100),
	disabled-button: rgba(black, 0.12)
) !default;

// GO 6.2 color:
// $cPrimary:		rgb(0, 155, 201);
// $cPrimaryTp:	rgba(0, 155, 201, 0.16);

//Intermesh blue 
$cPrimary:		rgb(36, 58, 128) !default;
$cPrimaryTp:	rgba(36, 58, 128, 0.16) !default;
$cHeaderBg: 	$cPrimary !default;

$cSecondary: rgb(104, 159, 56) !default;
$cAccent:		#ff9100 !default;
$cAccentTp:		rgba(255, 145, 0, 0.16) !default;

// Colors that have meaning (eg. success/failure)
$cSuccess:		#43A047 !default;
$cDanger:		#E53935 !default;
$cDangerBg: #FFEBEE !default;
$cWarning:		#f57c00 !default;

$cSelected: 	color($bg, 'selected'); // click on menus, tree items, table
$cHover: 		color($bg, 'hover') !default;
$cActive: 		color($grey, 200) !default; // focussed
$cAnchor: 		$cPrimary !default;

