.ext-el-mask {
	background-color: $black-87-opacity;
	&-msg { // replace with loading bar
		@extend .x-mask-loading;
	}
}

@keyframes rotate {
	0%    { transform: rotate(0deg); }
	100%  { transform: rotate(360deg); }
}

.x-window-dlg .x-msg-box-wait {
	text-indent: -9999px;
	padding:0;
	margin: 50px;
	height: dp(32);
	width: dp(32);
	animation: rotate 0.8s infinite $curve-deceleration;
	border: dp(8) solid transparent;
	@include var(border-color, c-primary);
	border-right-color: transparent;
	border-radius: 50%;
}
@keyframes indeterminate1 {
	0% {
		left: 0%;
		width: 0%
	}

	50% {
		left: 25%;
		width: 75%
	}

	75% {
		left: 100%;
		width: 0%
	}
}

.x-mask-loading {

	&:after {			
		content: "";
		border:0;
		padding:0;
		height:dp(5);
		background-color: $cAccent;
		animation-name: indeterminate1;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		display: block;
		position: absolute;
		top: dp(5);
		bottom: 0;
		width: 0%;
		transition: width .2s cubic-bezier(.4,0,.2,1);
		text-indent: -9999px;
	}
	
	div { 
		position: relative;
		margin: 0 auto;
		top: dp(5);			
		background-color: color($bg, "background");
		padding: dp(20) dp(40);
		font-size: dp(18);
		@extend .z12;
		text-align: center;

	}
}

.x-item-disabled {
	color: color($fg, 'disabled');
}

.x-item-disabled * {
	color: color($fg, 'disabled');
}

.x-splitbar-proxy {
	background-color: color($fg, 'line');
}

// ###################
// ## Color Picker ###
// ###################
.x-color-palette {
	padding: dp(8) dp(16);
	width: dp(248);
	a {
		display:block;
		padding:dp(4);
		border:0;
		float: left;
		text-decoration: none;
		-moz-outline: 0 none;
		outline: 0 none;
		&:hover em, &.x-color-palette-sel em {
			@extend .z2;
			transform: scale(1.1);
		}
	}
	em  {
		border-radius: 50%;
		display:block;
		overflow: hidden;
		> span {
			display:block;
			cursor: pointer;
			width: dp(16);
			height: dp(16);
		}
	}
}

.x-ie-shadow {
	background-color:$black-87-opacity;
}

.x-shadow {
	display:none;
	+ .x-window { @extend .z24;}
	+ .x-dd-drag-proxy { @extend .z4;}
	+ .x-combo-list {@extend .z2;}
	+ .x-menu {@extend .z2;}
	+ * {
		//@extend .z1;
	}
}
.x-window-proxy + .x-window { @extend .z24;}

//todo
.x-spotlight {
	background-color: #ccc;
}
// #################
// ### TAB PANEL ###
// #################
.x-tab-panel {
	&-noborder, &-header-noborder {
		border-width: 0 0 0 0;
	}
	&-header {
		//border-bottom: 1px solid color($fg, 'line');
		.x-window-body form > .x-tab-panel > &, .x-window-body > .x-tab-panel > & {
			background-color: color($bg, 'app-bar');
		}
	}
	&-footer{
		border:0;
	}
	&-header, &-footer {
		padding-bottom:0;
		overflow:hidden;
		.x-portlet & {
			background-color: transparent;
		}
	}
	
}
.x-tab-strip {

	> li {
		border-bottom: dp(4) solid transparent;
		min-width: dp(72);
		max-width: dp(264);
		height: dp(48);
		text-align:center;
		line-height: dp(48);
		padding: 0 dp(12);
	}

	&-top{
		//width:100%; 
		//display: flex;
		//justify-content: center; // turn on to center tabs wont work with overflow
		//flex-direction: row;
		height: dp(48);
		//border-bottom: 2px solid transparent;
		@include var(color, c-primary);
	}
	&-bottom{
		height: dp(48);
		//border-top: 2px solid transparent;
		@include var(color, c-primary);
		//background-color:#cedff5;
		//border-top-color:#8db2e3;
		> li {
			border-top: dp(4) solid transparent;
			border-bottom: 0;
		}
	}
	&-wrap {
		padding: 0 dp(4);
		border-bottom: 1px solid color($fg, 'line');
	}
	>li.x-tab-strip-active {
		@include var(border-color, c-primary);
		span.x-tab-strip-text {
			@include var(color, c-primary);
		}
	}
	&-text {
		@extend %font-button;
	}
	&-disabled .x-tabs-text {
		color: color($fg, 'disabled');
	}

	span.x-tab-strip-text {
		padding:0;
		color: color($fg, 'text');
		&.primary {
			color: rgba(white, 0.7);
		}
	}
	&-over span.x-tab-strip-text {
		@include var(color, c-primary);
		&.primary {
			color: white;
		}
	}
	.x-tab-strip-closable a.x-tab-strip-close {
		&:before {
			@extend %icon;
			content: 'close';
			font-size: 1.1em !important;
			color: color($fg, 'icon');
		}
		&:hover:before{
			@include var(color, c-primary);
		}
	}
}

// animate tab panel
.x-tab-panel-body {
	border:0;
	position: relative;
	overflow:hidden;
	background-color:color($bg, 'background');
	&-top {
		border-top: 0 none;
	}
	&-bottom {
		border-bottom: 0 none;
	}
	> div {
		padding: 0;
		background-color:inherit;
/*		position:absolute;
		top:0;
		left:0;
		width:100% !important; //offsets override extjs
		display: block !important; // display override extjs
		will-change: transform;
		transition: all 250ms $curve-deceleration;
		opacity: 0;
		transform: translateX(-20%);
		visibility:hidden;
		&:not(.x-hide-display):not(.x-hide-offsets) {

			visibility:visible;
			opacity: 1;
			//transition-timing-function: $curve-deceleration;
			transition-duration: 375ms;
			transform: translateX(0) !important;
			~ div { // all next siblings
					  transform: translateX(20%);
					  opacity:0;
					  visibility:hidden;
			}
		}*/
	}
}
.x-tab-scroller-left, .x-tab-scroller-right{

	border:0;
	&-over {
		color: color($fg, 'text');
	}
	&-disabled {
      background-position: -18px 0;
      opacity:.5;
      -moz-opacity:.5;
      filter:alpha(opacity=50);
      cursor:default;
	}
	&:after {
		@extend %icon;
		content: 'keyboard_arrow_left';
		padding-top: dp(12);
	}
}
.x-tab-scroller-right:after {
	content: 'keyboard_arrow_right';
}

// ##################
// ### FORM FIELD ###
// ##################
%checkbox {
	@extend %icon;
	content: 'check_box_outline_blank'; // 'check_box' when on
	position: relative;
	color: inherit;
	display:inline-block;
	height: dp(32);
	width: dp(32);
	left:dp(-4);
	box-sizing: border-box;
	background-color: transparent;
	border-radius: 50%;
	padding:dp(4);
}

.x-form-grow-sizer {
	@extend %font-data;
	padding: dp(6) dp(8);
	min-height: dp(32);
	line-height: dp(18);
}

.ext-mb-input {
	@extend %font-data;
	color: color($fg, 'text');
	min-height: dp(32);
	line-height: dp(18);
	transition: border-color 100ms linear, box-shadow 225ms linear;
	border-radius: dp(4);
	background-color:color($bg, 'box');
	border: 1px solid color($fg, 'track');
	display: inline-block;
	padding: dp(6) dp(8);
}

.x-form{
	background-color: color($bg, 'form');
	> .x-tab-panel {
		 > .x-tab-panel-bwrap> .x-tab-panel-body > div { // tabbed form dialog
			background-color:color($bg, 'form');
		}
	}
	
	&-element {
		margin: dp(4) 0;
		.x-box-layout-ct {
			overflow:visible;
		}
		.x-box-inner { //composite
			overflow:visible;

	
//	Merijn: This didn't play nice with formgroup
/*		.x-btn {
				top: dp(-2);
				line-height: dp(32);
				height: dp(32);
				button {
					min-height: dp(32);
					&:before {
						top:dp(4);
						left:dp(4);
					}
				}
			}
*/
		}
	}
	
	&-composite {
		div.x-box-item.text {
			@extend %font-subheading-dense;
			padding: dp(4) 0;
			line-height:dp(24)
		}
	}
	
	&-display-field {
		line-height: dp(32);
		@extend %font-data;
	}
	
	&-field {
		@extend %font-data;
		color: color($fg, 'text');
		min-height: dp(32);
		line-height: dp(18);
		transition: border-color 100ms linear, box-shadow 225ms linear;
		border-radius: dp(4);
		&.x-item-disabled {
			background-color: color($bg, 'background');
		}
		+ .x-form-twin-triggers, + .x-form-trigger {
			border-radius: 0;
			border-left: 1px solid color($fg, 'line');
		}
		
		&[readonly] {
			background-color: color($bg, 'readonly');
		}
		
		&.x-triggerfield-selectonly {
			background-color:color($bg, 'box');
		}
		
	}
	&-text, textarea.x-form-field, &-time {
		@extend %font-data;
		background-color:color($bg, 'box');
		border: 1px solid color($fg, 'track');
		display: inline-block;
		padding: dp(6) dp(8);
	}
	&-time { max-height: dp(32);  }
	
	textarea.x-form-field {
		/*height: min-content;*/
		height: dp(32);
	}
	//&-empty-field + .x-form-twin-triggers > .x-form-clear-trigger {
	//	visibility:hidden; // only show clear button when not
	//}
	&-select-one {
      background-color:color($bg, 'box');
      border-color:color($fg, 'line');
	}
	&-check-group-label {
      //border-bottom: 1px solid $cBgDark;
      color: color($fg, 'text');
	}
	&-cb-label {
		display: inline-block;
		height: dp(32);
	}
/*	
	Merijn: this messed up long labels (login screen) and hint texts (IMAP auth in system settings)
&-check-wrap {
		height: dp(32);
	}*/
	&-checkbox {
		position:absolute;
		opacity: 0;
		+ .x-form-cb-label::before {
			@extend %checkbox;
		}
		&:checked + .x-form-cb-label::before {
			content: 'check_box';
		}
		&:focus + .x-form-cb-label::before {
			@include var(background-color, c-primary-tp);
		}
	}
	&-radio {
		position:absolute;
		opacity:0;
		+ label {
			margin-left: 0;
		}
		+ label:before {
			@extend %checkbox; // different icon    |
			content: 'radio_button_unchecked'; // <--
		}
		&:checked + label:before {
			content: 'radio_button_checked';
		}
		&:focus + label::before {
			@include var(background-color, c-primary-tp);
		}
	}
	&-radio-group {
		padding-left: 0; //dp(16);
		overflow:visible;
	}
	&-item {
		margin-bottom:dp(4);
		//Following line made grid in forms appear in disabled like text
		/*@extend %font-caption;*/

		// Merijn for custom form elements nested in another (chips).
		.x-form-element {
			margin: 0;
		}
	}

	&-invalid-icon:before {
		@extend %icon;
		padding: dp(8) 0;
		content: 'report_problem';
		color: $cDanger;
	}
	
	&-focus, textarea.x-form-focus {
		@extend .z2;
		@include var(border-color, c-primary);
	}	
	&-invalid, textarea.x-form-invalid {
		border-color: rgba($cDanger,0.54);
		background-color: $cDangerBg;
	}
	
	&-helptext {
		@extend %font-caption;
		/*white-space: pre-wrap;*/
		line-height: 1.6em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
}
//for gridfield with hint
.x-form-item + .x-form-helptext {
	margin-top: dp(-16);
	margin-bottom: dp(16);
}

.x-form-field-trigger-wrap {
	> input {
		padding-right: dp(32); // for trigger button: todo twintrigger
	}
}

.x-form-field-wrap {
	line-height: 0; //for textarea. Without this it gets extra margin somehow

	> span, > button.x-form-trigger { // triggers
		display:inline-block;
		position: absolute;
		right: 0;
	}
	.x-form-twin-triggers {
		padding: 0 dp(4);
		.x-form-trigger {
			width: dp(24);
		}
	}
	.x-form-trigger {
		height: dp(32);
		width: dp(32);
		vertical-align: middle;
		padding:0;
		color: color($fg, 'icon');
		&::before {
			max-height: dp(32);
			max-width: dp(32);
			@extend %icon;
			content: 'arrow_drop_down';
		}
		&.x-form-trigger-over {
			color:black;
			//background-color: color($bg, 'hover');
		}
		&.x-form-clear-trigger::before {content: 'clear'; font-size: sp(18)}
		&.x-form-search-trigger::before {content: 'search';}
		&.x-form-date-trigger::before {content: 'event';}
		&.x-form-edit-trigger::before{content: 'edit';}
		.x-small-editor & {
			height: dp(32);
		}
	} 
	.x-trigger-noedit {
		+ .x-form-twin-triggers, + .x-form-trigger {
			border-left: 1px solid transparent;
		}
	}
}
.x-trigger-wrap-focus .x-form-trigger {
	@include var(color, c-primary);
}
.x-form-invalid + .x-form-trigger {
	border-color: $cDanger;
}

.x-item-disabled .x-form-trigger-over {
	border-bottom-color:#b5b8c8;
}

.x-item-disabled .x-form-trigger-click {
	border-bottom-color:#b5b8c8;
}

.x-form-invalid.x-form-composite {
	border: none;
	background-image: none;
}

//.x-form-invalid.x-form-composite .x-form-invalid {
//	border-color:#c30;
//}

.x-form-inner-invalid, textarea.x-form-inner-invalid {
	background-color:#fff;
	/*background-image:url(../images/default/grid/invalid_line.gif);*/
}


.x-form-plainfield,
.x-form-item-label,
.x-form-label-left label.x-form-item-label{
	@extend %font-label;
	line-height: dp(16);
	padding: dp(8) dp(8) dp(4) 0;
}


.x-form-invalid-msg {
	color:#c0272b;
	font:normal 11px tahoma, arial, helvetica, sans-serif;
	background-image:url(../images/default/shared/warning.gif);
}

.x-form-empty-field {
	color:gray;
}

// .ext-webkit .x-small-editor .x-form-field {
//     font:normal 11px arial, tahoma, helvetica, sans-serif;
// }

.x-fieldset {
	border: 1px solid color($fg, "line");
	margin: dp(16);
	&-noborder {
		margin: 0;
		border:0;
	}

	padding: dp(8) dp(16) 0;
	~ .x-fieldset { border-top: 1px solid color($fg, 'divider'); }
	legend {
		/*@extend %font-caption;*/
		/*color: color($primary, 900); //color($fg, 'text');*/
		
		@extend %font-subheading; //changed this to be the same as panel headers as they are mixed in forms
		//float:left;
		padding:dp(8) 0 dp(16);
		position: initial;
		top: dp(32);
		width: 100%;
		+ * {
			clear:both;
		}
	
		.x-tool {
			float: right;
			margin: dp(-12) 0;
		}
/*		.x-tool +.x-fieldset-header-text {
			line-height: dp(40);
			margin: dp(8) 0;
			display: inline-block;
		}*/
		.x-fieldset-header-text {
			position:relative;
		}

		input{
			opacity:0;
			width:dp(24);
			height:dp(24);
			
			+ .x-fieldset-header-text{
				padding-left:dp(8);
				&::before{
					@extend %checkbox;
					top:dp(-7);
					left:dp(-36);
					pointer-events:none;
				}
			}
			&:checked + .x-fieldset-header-text::before{
				content: 'check_box';
			}
			&:focus + .x-fieldset-header-text::before{
				@include var(background-color, c-primary-tp);
			}
		}
	}
}

.x-btn{
	@extend %font-button;
	letter-spacing: 0; // for button icons
	height: dp(36); // 32 for dense
	line-height: dp(36) - 2; // 32 for dense
	border-radius: $borderRadius;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;	
	border: 1px solid color($fg, "line");
	color: inherit;
	transition: background-color 225ms linear, box-shadow 225ms $curve-standard;
	
	button {
		min-height: dp(32);
	}
	
	.x-form-composite & {
		height: dp(32);
		width: dp(32);
		line-height: dp(32) - 2;
		button {
			min-height: dp(32);
			min-width: dp(32);
			&::before {
				top: dp(4);
				left: dp(4);
			}
		}
	}

	&.x-item-disabled {
		.x-btn-text {
			color: color($fg, "disabled-button");
		}
	}
	 
	&.raised {
		@extend .z2;
		@include var(background-color, c-primary);
		button.x-btn-text {
			color:white;
		}
		&.x-btn-focus, &.x-btn-over {
			@extend .z4;
			//button.x-btn-text {
			//	color: $cPrimary;
			//}
		}
		&.x-btn-pressed {
			@extend .z8;
		}

		&.accent {
			@include var(background-color, c-accent);
		}
	}
	.x-toolbar & {
		
		//@include var(color, c-primary);
		//box-shadow: none;
		border: 0;
	}
	.x-small-editor & {
		border: 0;
	}
	// transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
   & button, & em {
		@extend %font-button;
		color: inherit;		
   }	 
	//  &-click {
	//    @extend .z2;
	//    background-color: color($grey, 200);
	//  }
	&.x-btn-focus, &.x-btn-over {
		transition: background-color 195ms linear,color 195ms linear, box-shadow 195ms $curve-standard;
		@include var(background-color, c-primary-tp);

	}
	&.primary {
		.x-btn-text {
			@include var(color, c-primary);
		}
   }
	&.danger {
		&.x-btn-focus, &.x-btn-over {
			@include var(background-color, c-primary-tp);
		}
		.x-btn-text {
			color: $cDanger;
		}
	} 
	&-icon-small-top {
		height: dp(56);
		.x-btn-text { padding-top: dp(40) !important; }
		button {
			position:relative;
		}
		button::before {
			position:absolute;
			top:dp(8);
			margin:0;
			left:50%;
			transform: translateX(-50%);
		}
	}
   &.x-btn-pressed {
		background-color: color($bg, 'pressed');
   }
   &-click {
		background-color: color($bg, 'pressed') !important;
		.x-btn-text { @include var(color, c-primary); }
   }
   &-icon {
		i {
			position:absolute;
			left:dp(8);
		}
		border: 0;
		.x-btn-ml, .x-btn-mr {
			min-width: 0;
			width: 0;
		}
		em.x-btn-arrow {
			.ic-more, .ic-more-vert, .ic-more-horiz, .x-toolbar-more-icon {
				&::after { display:none;}
			}
			> button::after { 
				margin-left: dp(20);
			}
		}
		button {
			min-width:dp(40);
			min-height: dp(40);
			position:relative;
			&::before {
				@extend %icon;
				position:absolute;
				top:dp(8.5);
				left:dp(8);
			}
		}
   }
	&-text-icon button::before{
		@extend %icon;
		padding-right: dp(8);
		//MS Why was this here?
		/*margin-top: dp(-4);*/
	}
   &-pressed {
		//background-color: color($bg, 'hover');
		//box-shadow: none !important;
   }
   &-menu-active {
		background-color: $cHover;
   }
	
	&-mc em.x-btn-arrow > button {
		/*padding-right: dp(8);*/
		&:after {
			@extend %icon;
			content: 'arrow_drop_down';
		}
	}
}
.x-panel-btns {
	.x-btn {
		//border: 1px solid rgba(0, 0, 0, 0.12);
	}
	.x-toolbar-left-row td.x-toolbar-cell {
		padding: 0 dp(8) 0 0;
	}
	td.x-toolbar-cell {
		padding: 0 0 0 dp(8);
	}
} 

.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-bl, .x-btn-br, .x-btn-bc{
	height: 0px; // remove sliding doors
	i { height: 0px; }
}
.x-btn-ml, .x-btn-mr {
	min-width: dp(8);
	width: dp(8);
}

//.x-btn-click .x-btn-text, .x-btn-menu-active .x-btn-text, .x-btn-pressed .x-btn-text{
//	color:#000;
//}

.x-btn-disabled *{
	color:color($fg, 'disabled-button') !important;
}

//.x-btn-mc em.x-btn-split {
//	background-image:url(../images/default/button/s-arrow.gif);
//}

//.x-btn-over .x-btn-mc em.x-btn-split, .x-btn-click .x-btn-mc em.x-btn-split, .x-btn-menu-active .x-btn-mc em.x-btn-split, .x-btn-pressed .x-btn-mc em.x-btn-split {
//	background-image:url(../images/default/button/s-arrow-o.gif);
//}

//.x-btn-mc em.x-btn-arrow-bottom {
//	background-image:url(../images/default/button/s-arrow-b-noline.gif);
//}

//.x-btn-mc em.x-btn-split-bottom {
//	background-image:url(../images/default/button/s-arrow-b.gif);
//}

//.x-btn-over .x-btn-mc em.x-btn-split-bottom, .x-btn-click .x-btn-mc em.x-btn-split-bottom, .x-btn-menu-active .x-btn-mc em.x-btn-split-bottom, .x-btn-pressed .x-btn-mc em.x-btn-split-bottom {
//	background-image:url(../images/default/button/s-arrow-bo.gif);
//}


// BUTTON GROUP = TODO
.x-btn-group {
	padding:0;
	background-color: color($bg, 'card');
	margin-right: dp(8);
	border-radius:$borderRadius;
	border: 1px solid color($fg, 'line');
	&-header{
		color: inherit;
	}
	&-tl,&-tc, &-tr {
		height:0px;
	}
	&-bl, &-bc , &-br {
		height:0px;
	}
	&-ml, &-mr {
		width:dp(8);
		padding:0;
	}
	.x-btn {
		border-radius: 0;
		margin:0;
	}
	.x-btn-pressed {
		box-shadow: inset 0 -2px 0 $cPrimary; // underline
		background-color: color($bg, 'card');
	}
	.x-btn-icon button {
		min-height: dp(36); 
	}
	td.x-table-layout-cell:first-child ~ td {
		border-left: 1px solid color($fg, 'line');

	}
}


// TOOLBAR
.x-panel-tbar, .x-panel-bbar, .x-window-tbar, .x-window-bbar {
	position:relative;
	.x-form-text {
		margin: 0 dp(8) 0 0;
	}
	.x-box-layout-ct{
		padding:0 dp(4);
	}
	.x-searchbar {
		background-color: color($bg, 'box');
		opacity:1;
		padding:0;
		position:absolute;
		top:0;
		bottom:0;
		transition: opacity 260ms $curve-standard;
		&.x-hide-display {
			display:block !important;
			pointer-events: none;
			opacity: 0;
		}
		.x-form-field-trigger-wrap > input {
			padding-right: dp(56);
		}


		input {
			box-shadow: none;
			min-height: dp(48);
			border:0;
			+ .x-form-search-trigger {
				min-height:dp(56);
				padding: 0 dp(8) 0 dp(16);
				width: auto;
			}
		}
	}
}

.x-panel-bbar
{
	.x-searchbar {
		input {
			min-height:dp(40);
			+ .x-form-search-trigger {
				min-height:dp(40);
			
			}
		}
	}
}

.x-toolbar{
	height: dp(48);
	padding:0;

	&.go-paging-tb, .go-paging-tb & {
		height: dp(40);
	}
	&-ct {
		height: 100%;
	}


	.x-panel-tbar & {
		border-bottom: 1px solid color($fg, 'line');
	}

	.x-panel-bbar & {
		height: dp(40);
		border-top: 1px solid color($fg, 'line');
	}

/*	.go-module-panel > div > .x-panel-tbar & {
		border-bottom: 1px solid color($fg, 'line');
	}*/
/*	.x-panel-bbar & {
		height: dp(48);
	}*/
	&.primary {
		@include var(background-color, c-primary);
	}
	&.header {
		border-bottom: 0;
	}
	&-left .x-toolbar-cell > * {
		margin-right:dp(8);
	}
	&-right .x-toolbar-cell > * {
		margin-left:dp(8);
	}
	&-right {
		padding-right: dp(8);
	}
	&-left {
		padding-left: dp(8);
	}
	div.xtb-text {
		@extend %font-subheading-dense;
		padding: 0 dp(8) 0 0;
	}
	.xtb-title {
		padding-left: dp(8);
		@extend %font-title;
	}

	.x-form-field-wrap {
		margin: 0 dp(8);
	}
}

.x-form-panel, .x-fieldset {
	.x-toolbar {
		.xtb-title {
			@extend %font-subheading;
		}
	}
	.x-panel-header-text {
		@extend %font-subheading;
	}
}

.x-small-editor x-form-text, .x-small-editor textarea.x-form-field {
	min-height: dp(24);
	margin: 0;
}

.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label{
	//@extend %font-data;
}

.x-toolbar .x-item-disabled {
	color: color($fg,'disabled');
}

.x-toolbar .x-item-disabled * {
	color: color($fg,'disabled');
}

//.x-toolbar .x-btn-mc em.x-btn-split {
//	background-image:url(../images/default/button/s-arrow-noline.gif);
//}

//.x-toolbar .x-btn-over .x-btn-mc em.x-btn-split, .x-toolbar .x-btn-click .x-btn-mc em.x-btn-split,
//.x-toolbar .x-btn-menu-active .x-btn-mc em.x-btn-split, .x-toolbar .x-btn-pressed .x-btn-mc em.x-btn-split
//{
//	background-image:url(../images/default/button/s-arrow-o.gif);
//}

//.x-toolbar .x-btn-mc em.x-btn-split-bottom {
//	background-image:url(../images/default/button/s-arrow-b-noline.gif);
//}

//.x-toolbar .x-btn-over .x-btn-mc em.x-btn-split-bottom, .x-toolbar .x-btn-click .x-btn-mc em.x-btn-split-bottom,
//.x-toolbar .x-btn-menu-active .x-btn-mc em.x-btn-split-bottom, .x-toolbar .x-btn-pressed .x-btn-mc em.x-btn-split-bottom
//{
//	background-image:url(../images/default/button/s-arrow-bo.gif);
//}

.x-toolbar .xtb-sep {
	background-color: color($fg, 'line');
	margin: 0 dp(8);
	width: 1px;
	height: dp(32);
}


.x-tbar-page-first:before { @extend %icon; content: 'first_page'; }
.x-tbar-loading:before { @extend %icon; content: 'refresh'; }
.x-tbar-page-last:before { @extend %icon; content: 'last_page'; }
.x-tbar-page-next:before { @extend %icon; content: 'chevron_right'; }
.x-tbar-page-prev:before { @extend %icon; content: 'chevron_left'; }

.x-tbar-page-number{
	width: dp(48);
}


.x-paging-info {
	color:#444;
}
.x-toolbar-more-icon {
	&::before {@extend %icon; content: 'more_vert';}
}
//#################
//### RESIZABLE ### // WIP
//#################
.x-resizable {
	&-handle {
		background-color:#fff;
	}
	&-over {
		
	}
	&-pinned {
		
	}
	&-handle {
		&-north, &-south {
			
		}
		&-east, &-west {
			//handle
		}
		&-southeast {
			//handle img
		}
		&-northeast {
			//handle img
		}
		&-southwest {
			//handle img
		}
		&-northwest {
			//handle img
		}
	}
	&-proxy{
		border-color:#3b5a82;
	}
	&-overlay{
		background-color:#fff;
	}
}


//############
//### GRID ### 
//############

.x-grid3-no-row-borders{
	.x-grid3-row{
		border-bottom: 0px;
	}
}

.x-grid3{
	background-color: color($bg, "box");
	&-scroller {
		-webkit-overflow-scrolling: touch;
	}
	&-hd {
		overflow:hidden;
		position:relative;
		&-btn {
			color: inherit;
			right: dp(-2);
			//top:dp(10);
			line-height: dp(32);
			&:after {
				background-color:inherit;
				@extend %icon;
				content: 'arrow_drop_down';
			}
		}
		&-row td {
			@extend %font-caption;
			color: color($fg, 'text');
			border-left:0;
			border-right: 1px solid color($fg, 'divider');
			//border-image: linear-gradient(to bottom, transparent, color($fg, 'line')) 1 100%;
			height: dp(32);
			
			&.x-grid3-cell-last {
				border-right: 0;
			}
			&.x-grid3-hd-over.x-grid3-sortable { 
				cursor:pointer; 
				@include var(color, c-primary); 
			}
		}
		 
		&-text {
			color:color($fg, 'text');
		}
		&-inner { position:initial;}
	}
	&-header{
		//margin-top: dp(9); //don't understand why +1 here?
		height:dp(32);
		border-bottom: 1px solid color($fg, 'line');
		background-color: color($bg, 'background');
	}
	&-cell-inner, &-hd-inner {
		@extend .ellipsis;
		// min-height: dp(40); //Seems to cause slightly off positioning in grid cells
		padding: dp(6) dp(8) dp(6) dp(16); // 10 top = middle of row line-height 20dp
		.ux-row-action-cell & {
			padding: 0;
		}
		> em {
			@extend %badge;
			position: absolute;
			right: dp(14);
		}

		a {
			cursor: pointer;
		}
	}
	&-row-checker, .x-grid3-hd-checker &-hd-checker {
		height:dp(20); // same as line-height of text
		&::before {
			@extend %checkbox;
			padding:0; // grid row has the padding
			top: -1px; // grid col need 1px up
		}
		.x-grid3-row-selected &::before {
			content: 'check_box';
		}
	}
	
	
	
	&-row {
		border:0;
		border-bottom:1px solid color($fg, 'divider');
		&-over {
			background-color:$cHover;
		}
		&-selected {
			background-color: $cSelected;
			border-bottom-color: transparent;
			background-image: none;
		}
		
		&-alt{ // for strips
			background-color:$cHover;
		}		
		.ux-row-action {
			opacity: 0;
			transition : opacity 90ms $curve-standard;
		}
		&:hover .ux-row-action {
			opacity: 1
		}
	}
	&-col {
		padding: dp(4) 0;
		position: relative;
	}
	&-check-col-td > div {
		text-overflow: initial;
		 > div {
			height:dp(20);
			&::before{
				@extend %checkbox;
				padding:0;
				top: -1px;
			}
			&.x-grid3-check-col-on::before {
				content: 'check_box';
			}
		}
	}
	&-row td, &-summary-row td {
		@extend %font-data;
		vertical-align: middle;
		padding:0;
	}
	&-row-selected{
		margin-right: -20px;		
	}
	&-cell {
		&-first {
			//padding-left: dp(16) !important;
			//padding-left: dp(8) !important;
		}
		&-selected{
			background-color: $cSelected;
			color:#000;
			span{
				color:#000 !important;
			}
			.x-grid3-cell-text{
				color:#000;
			}
		}
		//padding: dp(8) dp(16) dp(0) dp(32);
	}
	&-row-body {
		padding: 0 0 dp(8) dp(16);
		color: color($fg, "secondary-text");
	}
	&-hd-inner {
		min-height: dp(20);
		padding: 0 dp(8) 0 dp(16);
	}
	&-dirty-cell > div {
		border-radius: $borderRadius;
		border-left: dp(4) solid $cWarning;
		padding-left: dp(12);
		background-color: rgba($cWarning, .08);
	}
	&-body  {
		/*min-height: dp(152);*/
		position:relative;
		
		.x-grid3-td-expander, 
		.x-grid3-td-checker, 
		.x-grid3-td-numberer, 
		.x-grid3-td-row-icon {
			//background-image: url(../images/default/grid/grid3-special-col-bg.gif);
		}
		.x-grid3-row-selected {
			.x-grid3-td-numberer,
			.x-grid3-td-checker,
			.x-grid3-td-expander {
				//background-image:url(../images/default/grid/grid3-special-col-sel-bg.gif);
			}
		}
/*		.x-grid3-check-col-td, .x-grid3-row-checker {
			padding-left: dp(16) !important;
		}*/
	}
	
	&-resize {
		&-proxy {
			background-color:#777;
		}
		&-marker {
			background-color:#777;
		}
	}
}


.x-grid3-radio-col:before {
	color: color($fg, 'icon');
	@extend %icon;
	content: 'radio_button_unchecked';
}
.x-grid3-radio-col-on:before {
	color: color($fg, 'icon');
	@extend %icon;
	content: 'radio_button_checked';
}

.x-grid3-locked td.x-grid3-row-marker, .x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker{
	background-color:#ebeadb !important;
	// todo: background-image:url(../images/default/grid/grid-hrow.gif) !important;
	color:#000;
	border-top-color:#fff;
	border-right-color:#6fa0df !important;
}

.x-grid3-locked td.x-grid3-row-marker div, .x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker div{
	color:color($fg, 'text') !important;
}

.x-grid3-cell-text, .x-grid3-hd-text {
	color:#000;
}

.x-grid3-split {
	background-image: none; // todo url(../images/default/grid/grid-split.gif);
}
.x-grid-row-loading {
	background-color: #fff;
	//background-image:url(../images/default/shared/loading-balls.gif);
}

td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
	font-weight: 600;
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {
	//background-color:#ebf3fd;
	//background-color:color($grey, 100);
	//background-image:url(../images/default/grid/grid3-hrow-over.gif);

}
// .sort-asc, .sort-desc {
// 	position: relative;
// 	&:after{
// 		@extend %icon;
// 		color: color($fg, 'hint-text');
// 		left: dp(14);
// 		top: dp(10); 
// 		font-size: sp(13);
// 		position:absolute;
// 	}
	
// 	.x-grid3-hd-inner {
// 		padding-left: dp(32);
// 	}
// }
// .sort-asc:after { //}.x-grid3-sort-icon {
// 	content: 'arrow_upward';
// 	//background-image: url(../images/default/grid/sort_asc.gif);
// }
// .sort-desc:after {
// 	content: 'arrow_downward';
// }

.x-grid3-sort-icon {
	background: none;
	&:after{
		@extend %icon;
		color: color($fg, 'hint-text');
		left: dp(14);
		top: dp(10); 
		font-size: sp(13);
		margin: 0 dp(4);		
		content: 'arrow_downward';
	}
}

.sort-desc .x-grid3-sort-icon:after {
	content: 'arrow_upward';
}

.col-move-top, .col-move-bottom{
	width:dp(16);
	height: dp(16);
	pointer-events:none;
	overflow:visible;
	&:before {
		@extend %icon;
		content: 'arrow_drop_down';
		left:dp(-8);
		position:relative;
	}
}
.col-move-bottom:before{
	content: 'arrow_drop_up';
	top:dp(-24);
}

td.grid-hd-group-cell {
	background: url(../images/default/grid/grid3-hrow.gif) repeat-x bottom;
}
.x-grid-editor {
	.x-form-field {
		min-height: dp(40);
		border: 0;
		padding-left: dp(16);
		border-radius: 0;
	}
	textarea.x-form-field {
		padding-top: dp(12);
		padding-left: dp(16);
	}
}

.x-menu-item-icon:before {
	.xg-hmenu-sort-asc & { content: 'sort';}
	.xg-hmenu-sort-desc & { content: 'sort'; transform: scaleY(-1); } // flip y
	.xg-hmenu-lock & { content: 'lock'; }
	.xg-hmenu-unlock & { content: 'lock_open'; }
}
.x-group-by-icon:before,
.x-show-groups-icon:before {
	@extend %icon;
	content: 'power_input';
}

.x-props-grid {
	.x-grid3-td-name .x-grid3-cell-inner{
		//background-image: url(../images/default/grid/grid3-special-col-bg.gif) !important;
		color:#000 !important;
	}
	.x-grid3-body .x-grid3-td-name{
		background-color:#fff !important;
		border-right-color:#eee;
	}
}

.x-grid3-row-expander:before { // todo test
	@extend %icon;
	content: 'keyboard_arrow_down';
	.x-grid3-row-collapsed & {
		@extend %icon;
		content: 'keyboard_arrow_right';
	}
}

.x-grid3-body .x-grid3-td-numberer .x-grid3-cell-inner {
	color:#444;
}

.x-grid-group-hd {
	// MS: Removed this becauise email view digressed
	// border-bottom: 1px solid color($fg, 'line');
	// border-top: 1px solid color($fg, 'line');
	
	border-bottom: 0;//2px solid color($fg, 'divider');

	div.x-grid-group-title {
		@extend %font-caption;
		/*@include var(color, c-primary);*/
		padding: dp(8);
		&::before {
			@extend %icon;
			padding: 0 dp(4);
			content: 'keyboard_arrow_down';
		}
		.x-grid-group-collapsed &::before {
			@extend %icon;
			content: 'keyboard_arrow_right';
		}
	}
}

.x-column {
	min-height: 1px;
}
.x-column-layout-ct {
	//padding: 0 dp(8) !important;
}

.x-cols-icon:before {
	@extend %icon;
	content: 'view_column';
	//background-image:url(../images/default/grid/columns.gif);
}

.x-grid-empty {
	@extend %font-title;
	margin: dp(8) auto;
/*	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);*/
	padding: dp(16);
	text-align:center;
	color: color($fg, 'disabled-text');
	&::before {
		@extend %icon;
		font-size: sp(120) !important;
		display: block;		
	}
	
	.x-form-element & {
		@extend %font-caption;
		margin: dp(4) 0;
		padding: 0;		
	}
}

.x-grid-with-col-lines .x-grid3-row td.x-grid3-cell {
	border-right-color:#ededed;
}

.x-grid-with-col-lines .x-grid3-row-selected {
	border-top-color:#a3bae9;
}


// #####################
// ### DRAG AND DROP ###
// #####################
.x-dd-drag-ghost {
	@extend %font-data;
	color:color($fg, 'text');
	opacity:.9;
	border:0;
	padding: 0 dp(8) 0 dp(40);

	a { color:inherit;}
}
.x-dd-drag-proxy {
	background-color:color($bg,'card');
	line-height: dp(40);

	.x-grid3-hd-inner{
		border:0;
	}
}
.x-dd-drop-icon:before {
	padding: dp(2) dp(8);
	@extend %icon;
	.x-dd-drop-ok-add & {
		content: 'add';
		@include var(color, c-primary);
	}
	.x-dd-drop-nodrop & {
		content: 'block';
		color: $cDanger;
	}
	.x-dd-drop-ok &, .x-tree-drop-ok-append & {
		content: 'done';
      	color: $cSuccess;
	}
}

.x-view {
	&-selector {
		background-color:#c3daf9;
		border-color:#3399bb;
	}
}


// ############
// ### TREE ###
// ############
.x-tree{
	&-node-el {
		padding: dp(6) dp(8);
		padding-right: 0;
		display: table;
		width: 100%;
		
		.secondary {
			float: right;
			
			button {
				padding:0;
				margin: 0;
				cursor: pointer;	
				display: none;
			}
		}
		&:hover, &.x-tree-selected {
			.secondary {
				button {
					display: block;					
				}
			}
		}
	}
	&-node-indent {
		width:0.01%;
		white-space:nowrap;
	}
	&-node-icon {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;	
	}
	&-ec-icon, &-node-indent,&-ec-icon,&-node-icon, &-node-anchor, &-node-cb {
		display:table-cell;
		vertical-align: top; //required for Firefox
		
		
	}
	&-node-cb {
		padding: 0 dp(4);
	}
	&-node-anchor {
		width:auto;
		overflow:visible;
		position:relative;
	}
	&-ec-icon {
		z-index:1;
	}
	&-ec-icon, &-node-icon {
		position:relative;
		//display:inline-block;
		&::before {
			@extend %icon;
			color: color($fg, 'icon');
		}
	}
	&-nolines {}
	&-arrows {}
	&-lines {
		.x-tree-elbow-plus::before {content: 'arrow_drop_up' !important;transform:rotate(90deg);}
		.x-tree-elbow-end-plus::before{content: 'arrow_drop_up';transform:rotate(90deg);}
		.x-tree-elbow-minus::before{content: 'arrow_drop_down';}
		.x-tree-elbow-end-minus::before{content: 'arrow_drop_down';}
		.x-tree-elbow,
		.x-tree-elbow-end,
		.x-tree-elbow-plus,
		.x-tree-elbow-minus,
		.x-tree-elbow-end-minus,
		.x-tree-elbow-end-plus,
		.x-tree-elbow-line {
			min-width: dp(24);
		}
	}
	&-node {
		@extend %font-body1;
		
		.x-tree-node-over {background-color: $cHover;}
		.x-tree-selected {background-color: $cSelected;}
		
		&-indent span {
			display:inline-block;
			width: dp(24);
		}
		a, .x-dd-drag-ghost a{
			color: color($fg, 'text');
			span {
				color: inherit;
			}
		}
	}
}
.x-tree-node a > span, .x-dd-drag-ghost a > span {
	@extend .ellipsis;
	padding: 0 dp(6);
	display:block;
	top:0;
	left:0;
	right:0;
	position:absolute;
	//Required for email tree view only:
	> *:not(.secondary) {
		pointer-events: none;
	}
}

.x-tree-node a {	
	border: 1px solid transparent;
}
.x-tree-node .x-tree-drag-append a {
   background-color: $cHover;
	 border: 1px dashed white;
}

.x-tree-node .x-tree-node-inline-icon:not(.go-icon) {
   background-image: none;
}

.x-tree-node-loading a{
	font-style: italic;
	color:#444444;
}

.x-tree-node .x-tree-node-disabled a{
	color:gray !important;
}

.x-tree-node div.x-tree-drag-insert-below{
	border-bottom-color:#36c;
}

.x-tree-node div.x-tree-drag-insert-above{
	border-top-color:#36c;
}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a{
	border-bottom-color:#36c;
}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a{
	border-top-color:#36c;
}

.x-tree-node .x-tree-drag-append a {
	background-color:#ddd;
	border-color:gray;
}

.x-dd-drop-icon::before {
	@extend %icon;
	.x-tree-drop-ok-append & { content: 'done';} // drop add
	.x-tree-drop-ok-above & { content: 'low_priority'; transform: scaleY(100%); }
	.x-tree-drop-ok-below & { content: 'low_priority';}
	.x-tree-drop-ok-between & { content: 'trending_flat';}
}

// ###################
// ### DATE PICKER ###
// ###################
.x-date {
	&-picker {
		padding: 0 dp(8);
		width: dp(256);
      border-color: transparent;
		> table, table.x-date-inner {
			width: 100%;
		}
	}
	&-left{
		a:before {
			@extend %icon;
			width:dp(24);
			content: 'keyboard_arrow_left';
		}
	}
	&-right {
		a:before {
			@extend %icon;
			width:dp(24);
			content: 'keyboard_arrow_right';
		}
	}
	&-left,&-right {
		width:dp(40);
		a {
			height: dp(24);
			width:dp(40);
			padding:0;
			margin:0;
			color:inherit;
		}
	}
	&-bottom {
      border:0;
	}
	&-inner {
		@extend %font-data;
		th {
			@extend %font-data-head;
			height: dp(32);
			border:0;
			padding:0;
			text-align:center !important;
			span {padding:0;}
		}
		a {
			height: dp(32);
			padding:0;
			line-height: dp(32);
			width: dp(32);
			text-align:center;
			color:color($fg, 'text');
			border-radius: 50%;
		}
		td {
			height: dp(32);
			width: dp(32);
			text-align:center;
			border:0;
		}
		.x-date-today a {
			border: 1px solid currentColor;
			padding:0;
			font-weight: 700;
			@include var(color, c-primary);
		}
		.x-date-selected a {
			@include var(background-color, c-primary);
			color:white;
			border:0;
			padding:0;
		}
		a:hover, .x-date-inner .x-date-disabled a:hover{
			color:white;
			background-color:$cAccent;
		}
	}
}
.x-date-middle {
	padding-top:dp(4);
   padding-bottom:dp(4);
   width:auto;
}
.x-date-middle .x-btn-mc em.x-btn-arrow {
	//background-image:url(../images/default/toolbar/btn-arrow-light.gif);
}

.x-date-inner .x-date-active{
	color:#000;
}


.x-date-inner .x-date-selected span{
	font-weight:bold;
}

.x-date-inner .x-date-prevday a,.x-date-inner .x-date-nextday a {
	color:#aaa;
}


.x-date-inner .x-date-disabled a {
	background-color:#eee;
	color:#bbb;
}

.x-date-mmenu{
	background-color:#eee !important;
}

.x-date-mmenu .x-menu-item {
	font-size:10px;
	color:#000;
}

.x-date-mp {
	background-color: color($bg, 'background');
}

.x-date-mp td {
	font:normal 11px arial, helvetica,tahoma,sans-serif;
}

.x-date-mp-btns button {
	@extend .x-btn;
}

.x-date-mp-btns {
	text-align:right;
}

.x-date-mp-btns td {
	border-top-color: color($fg, 'divider');;
}

td.x-date-mp-month a,td.x-date-mp-year a {
	color:color($fg, 'text');
	padding: dp(8) 0;
}

td.x-date-mp-month a:hover,td.x-date-mp-year a:hover {
	color:white;
	background-color: $cAccent;
}

td.x-date-mp-sel a {
	border-radius: $borderRadius;
	@include var(background-color, c-primary);
	color:white;
	//background-image: url(../images/default/shared/glass-bg.gif);
	border:0;
}

.x-date-mp-ybtn a {
	@extend %icon;
	&.x-date-mp-prev:before {
		content: 'chevron_left';
	}
	&.x-date-mp-next:before {
		content: 'chevron_right';
	}
	&:hover {
		@include var(color, c-primary);
	}
	//background-image:url(../images/default/panel/tool-sprites.gif);
}

td.x-date-mp-sep {
   border-right-color:color($fg, 'divider');
}

// ###############
// ### TOOLTIP ###
// ###############

.x-tip { 
	border-radius: $borderRadius;
	box-sizing:content-box;
	background-color: color($grey, 900);
	opacity: .9;
	// Todo ext doesn't put classes on floating elements (yet)
	//transform: scale(1);
	//transition: transform 120ms $curve-deceleration, opacity 120ms $curve-standard;
	//&.x-hide-nosize {
	//	transform: scale(.8);
	//	opacity: 0;
	//}
	.x-tip-header-text {
		@extend %font-body2;
		color:white;
	}
	.x-tip-body {
		@extend %font-body2;
		color:color($grey, 100);
		letter-spacing: 0.04em; // fixes ugly ext bug for Lato font
	}
	.x-tip-close {
		// &:before {
		//   @extend %icon;
		//   content: 'close';
		// }
	}
	.x-tip-mr { padding-right:dp(8);}
	.x-tip-ml,.x-tip-tl,.x-tip-bl { padding-left: dp(8);}
	.x-tip-tc { padding-top: dp(6);}
	.x-tip-bc { padding-bottom: dp(6);}
	.x-tip-mc { @extend %font-body2;}
}

.x-form-invalid-tip .x-tip-tc, 
.x-form-invalid-tip .x-tip-tl, 
.x-form-invalid-tip .x-tip-tr, 
.x-form-invalid-tip .x-tip-bc,
.x-form-invalid-tip .x-tip-bl, 
.x-form-invalid-tip .x-tip-br, 
.x-form-invalid-tip .x-tip-ml, 
.x-form-invalid-tip .x-tip-mr
{
	background-image: url(../images/default/form/error-tip-corners.gif);
}

.x-form-invalid-tip .x-tip-body::before {
	@extend %icon;
	content: 'warning';
}

.x-tip-anchor {
	//background-image:url(../images/default/qtip/tip-anchor-sprite.gif); no achor for tips
}
// ############
// ### MENU ###
// ############
.x-menu{
	border-radius: $borderRadius;
	background-color:color($bg,'card');
	opacity: 1;
	transition: opacity 90ms $curve-standard, transform 120ms $curve-deceleration;
	transform-origin: left top 0px;
	transform: scale(1);
	will-change: transform, opacity;
	
	&.x-menu-no-icons {
		.x-menu-item-icon {
			display: none;
		}		
	}
	
	&.x-hide-offsets {
		opacity: 0;
		transform: scale(0.6);
	}
	&-list {
		padding: dp(8) 0; 
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	&-floating{ border:0; }
	&-nosep { background-image:none; }
	&-sep {
		margin: dp(8) 0;
		height: 1px;
		background-color: color($fg, 'divider');
		border:0;
	}
	&-list-item {
		padding: dp(8) 0;
		&.x-menu-sep-li {padding: 0; }
		> .x-form-check-wrap{ padding-left: 16px;}
	} 
	&-item-arrow:after {
		@extend %icon;
		content: 'arrow_drop_up';
		transform: rotate(90deg);
		position: absolute;
		right: dp(32);
	} 
	&-item-active { // this is actualy hover in ext
		background-color: $cHover;
		border:0;
	}
	&-item i { margin-right: dp(16); }
	&-item-icon {
		display:inline-block;
		width: dp(40) !important; // <- some modules mess this up
		height: dp(20); // 4 dp smaller
		position:relative;
		background-size: contain; // <- for svg backgrounds
		li > & {
			position:absolute;
		}
	}
	&-check-item .x-menu-item-text:before {
		position: absolute;
		left: dp(16);
		top: 0;
		@extend %icon;
		content: 'check_box_outline_blank';
	}
	&-item-checked .x-menu-item-text:before {
		position: absolute;
		left: dp(16);
		top: 0;
		@extend %icon;
		content: 'check_box';
	}
	&-item-checked a.x-menu-group-item .x-menu-item-text:before {
		content: 'radio_button_checked';
	}
	&-group-item .x-menu-item-icon{ background-image:none;}
	&-plain {
		//background-color:#f0f0f0 !important;
		background-image: none;
	}
}


a.x-menu-item {
	@extend %font-body1;
	user-select: none;
	padding: 0 dp(56) 0 dp(16);
	border:0 !important;
}
a.x-menu-group-item .x-menu-item-text:before{
	content: 'radio_button_unchecked';
}
.menu-title {
	@extend %font-caption;
	@include var(color, c-primary);
	padding: dp(8) dp(16) 0;
}


//.x-date-menu, .x-color-menu{
//	background-color: #fff !important;
//}

.x-menu .x-date-picker{
//	border: 1px solid color($fg, 'line');
}

.x-cycle-menu .x-menu-item-checked {
	border-color:#a3bae9 !important;
	background-color:#def8f6;
}

$menuScrollerSize : dp(4);
.x-menu-scroller {
	position: relative;
	&-active {
		// when clicked
	}
	&::before{
		display:block;
		content: '';
		border: $menuScrollerSize solid transparent;
		width:0;
		height:0;
		margin: 0 auto;
		pointer-events: none;
	}
	&-top::before {
		border-bottom-color: color($fg,'icon'); 
	}
	&-bottom::before {
		border-top-color: color($fg,'icon'); 
	}
}

.x-box-mc {
	color: white;
	h3 {
		@extend %font-title;
		color:inherit;
	}
}
/*
.x-box-tl {
	background-image: url(../images/default/box/corners.gif);
}

.x-box-tc {
	background-image: url(../images/default/box/tb.gif);
}

.x-box-tr {
	background-image: url(../images/default/box/corners.gif);
}

.x-box-ml {
	background-image: url(../images/default/box/l.gif);
}

.x-box-mc {
	background-color: #eee;
	background-image: url(../images/default/box/tb.gif);
	font-family: "Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;
	color: #393939;
	font-size: 12px;
}

.x-box-mc h3 {
	font-size: 14px;
	font-weight: bold;
}

.x-box-mr {
	background-image: url(../images/default/box/r.gif);
}

.x-box-bl {
	background-image: url(../images/default/box/corners.gif);
}

.x-box-bc {
	background-image: url(../images/default/box/tb.gif);
}

.x-box-br {
	background-image: url(../images/default/box/corners.gif);
}

.x-box-blue .x-box-bl, .x-box-blue .x-box-br, .x-box-blue .x-box-tl, .x-box-blue .x-box-tr {
	background-image: url(../images/default/box/corners-blue.gif);
}

.x-box-blue .x-box-bc, .x-box-blue .x-box-mc, .x-box-blue .x-box-tc {
	background-image: url(../images/default/box/tb-blue.gif);
}

.x-box-blue .x-box-mc {
	background-color: #c3daf9;
}

.x-box-blue .x-box-mc h3 {
	color: #17385b;
}

.x-box-blue .x-box-ml {
	background-image: url(../images/default/box/l-blue.gif);
}

.x-box-blue .x-box-mr {
	background-image: url(../images/default/box/r-blue.gif);
}
*/
// ##################
// ### COMBO LIST ###
// ##################
.x-combo-list {
	@extend %font-body1;
	border: 1px solid color($fg, 'line');
	border-radius: $borderRadius;
	background-color: color($bg, 'dialog');
	&-inner {
		padding: dp(8) 0;
		//background-color:#fff;
		h4 {
			padding: dp(8);
		}
	}
	&-hd {
		@extend %font-body2;
		color:color($fg, 'text');
	}
	&-item {
		min-height: dp(32);
		padding: dp(8);
	}
	&-small {
		@extend %font-caption;
	}
	.x-combo-selected {
		background-color: $cSelected; //color($grey, 100);
	}
	.x-toolbar {
		height: dp(40);
		border-top: 1px solid color($fg, 'line');
		.xtb-sep { display:none;}
		.x-toolbar-cell {padding:0;}
	}
}

// Portlet
.x-portal-column {
	overflow: visible;
}
.x-portlet {
    margin-bottom:dp(16);
}
.x-portlet .x-panel-ml {
	padding-left: 0px;
}
.x-portlet .x-panel-mr {
	padding-right: 0px;
}

// #################
// ##### PANEL #####
// #################

.x-border-panel {
	border-right: 1px solid color($fg,'divider');
	&:last-child {
		border-right: 0;
	}
}
.x-panel{
	border: 1px solid color($fg, "line");
	&-noborder {
		border:0;
	}
	&-body {
      border:0;
			-webkit-overflow-scrolling: touch;
	}
	&-header {
		border: 0;
		border-top: 1px solid color($fg, 'divider');
		padding: 0 dp(8) 0 dp(14);
     height: dp(48);
     line-height: dp(48);
     //background-color:$cPrimary;
		&-text {
			@extend %font-title;
			//padding-left: dp(8);
		}
      .x-border-panel > & {
			background-color: transparent;
      }
	}
	&-icon::before { 
		@extend %icon;		
		//margin-top: dp(-4);
		float: left;
		padding: dp(12) sp(16) dp(12) 0;	}
	&-collapsed {
		.x-window-tl {
			border-bottom-color:#84a0c4;
		}
	}
	&-floating {
		@extend .z8;
		background-color: color($bg, 'background');
		// see x-panel-collapsed
	}
	&-bwrap {
      overflow:visible;
      //background-color: color($bg, 'background');
      //border: 1px solid color($fg, 'line');
	}
	&-tbar {
      overflow:visible;
	}
}
.x-tool{
	margin: dp(8) 0;
	position:relative;
	width:dp(32);
	height:dp(32);
	&:hover {
		@include var(color, c-primary);
	}
//	border-radius: 50%;
//	transition: background 250ms linear;
	&::before{
		position: absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%, -50%);
	}
//	.x-window-header & {
//
//	}
///*	&-toggle {
//		float: left;
//	}*/
//	&:hover {
//		transition-duration: 85ms;
//		@include var(background-color, c-primary-tp);
//	}
}
.x-border-layout-ct {
	box-shadow: none;
}


.x-panel-tl .x-panel-header {
	/*padding: 0 dp(8); removed for start page*/
	color:color($fg, 'text');
}

.x-panel-tc {
	//background-image: url(../images/default/panel/top-bottom.gif);
}

.x-panel-tl, .x-panel-tr, .x-panel-bl,  .x-panel-br{
	//background-image: url(../images/default/panel/corners-sprite.gif);
	//border-bottom-color:$cBgDark;
	border:0;
}


.x-panel-mc {
	@extend %font-body2;
	background-color: color($bg, 'box');
}

.x-panel-ghost {
	@extend .z24;
	border-radius: $borderRadius;
	visibility:visible;
	background-color:white;
}

.x-panel-ghost ul {
	border:0;
}

.x-panel-dd-spacer {
	//border-color:$cBgDark;
}

.x-panel-fbar td,.x-panel-fbar span,.x-panel-fbar input,.x-panel-fbar div,.x-panel-fbar select,.x-panel-fbar label{
	@extend %font-data;
	button {
		@include var(color, c-primary);
	}
}

// ##############
// ### WINDOW ###
// ##############
.x-window{
	background-color:color($bg,'dialog');
	border-radius: $borderRadius;
	overflow:hidden;
	border: 1px solid color($fg, 'line');
	&-noborder, &-maximized{
		border: 0;
		.x-window-header {
			border-radius: 0;
		}
	}
	&-footer {
		padding: dp(4);
		border-top: 1px solid color($fg, 'line');
	}
	&-footer-noborder {
		border-top: 0;
	}
	&-header {
		@extend %font-title;
		background-color:color($bg,'app-bar');
		border-radius: $borderRadius;
		padding: 0 dp(8) 0 dp(16);
		&-text {
			display:block;
			overflow:hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			height: dp(48);
			line-height: dp(48);
		}
	}
	&-header-noborder {
		border-bottom: 0;
	}
	&-mc {
		@extend %font-body1;
	}
	&-proxy { // ghost when animating
		@extend .z24;
		border-radius: $borderRadius;
		background-color:white;
	}
	&-bbar .x-toolbar {
		border-top-color: color($fg, 'divider');;
	}
	&-maximized .x-window-tc {
		background-color:#fff;
	}
}


.x-panel-ghost .x-window-tl {
	border-bottom-color: color($fg, 'divider');
}

.x-dlg-mask{
   background-color:#ccc;
}

.x-window-plain .x-window-mc {

}
.x-window-plain .x-window-body {
	//padding: 0 dp(16) dp(24) dp(16);
	//border-color: color($bg, 'background') #a3bae9 #a3bae9 color($bg, 'background');
}

body.x-body-masked .x-window-plain .x-window-mc {
}

// HTML
.x-html-editor-wrap {
	border-radius: dp(4);
	border:1px solid color($fg, 'track');
}
.x-html-editor-tb .x-toolbar {
	height: dp(40);
	background-color: transparent;
	.x-toolbar-cell {
		padding:0;
	}
	.x-btn {
		font-size:.8em;
	}
	
}
.x-html-editor-tb .x-btn-text {
	background-image: none; //url(wysiwyg.gif);
	color: color($fg, 'secondary-text');
}

// ####################
// ### BORDERLAYOUT ###
// ####################
.x-border-layout-ct {
	form & {
		background-color:color($bg, 'form');
	}
}

.x-table-layout-cell {
	vertical-align:top;
}

.x-accordion-hd {
	@extend %font-body1;
	color:color($fg, 'text');
	border-bottom: 0 !important;
	&:hover {
		background-color: color($fg, 'hover');
	}
	.x-panel-collapsed & {
		border-bottom: 1px solid color($fg, 'divider') !important;
	}
	.x-tool {
		color: color($fg, 'icon');
	}
}

.x-layout-collapsed {
	display:none;
	background-color:color($bg, 'app-bar');
	border:0;
	width:dp(0);
   height:dp(24);
	&-over{
		background-color:color($bg, 'hover');
	}
	.x-tool {
		margin:0;
		width:dp(24);
		height:dp(24);
	}
}

$resizerSize : dp(3);
.x-layout-split {
	border-right: 1px solid color($fg,'line');
	border-top: 1px solid color($fg,'line');
	&.x-splitbar {
		&-h {
			width:$resizerSize;
			.x-layout-mini {
				&-east{}
				&-west{
					right:0;
					left: auto;
				}
			}
		}
		&-v {
			height:$resizerSize;
			.x-layout-mini {
			}
		}
	}
	.x-layout-mini {
		background-color: color($bg, 'status-bar');
		opacity: 1;
	}
}

.x-layout-mini {
	width: dp(6);
	background-color: white;
	border-radius: $borderRadius;
	&:before {
		position: relative;
		display:block;
		content: '';
		border: dp(6) solid transparent;
		width:0;
		height:0;
		.x-layout-split-west &,
		.x-layout-cmini-east & {
			border-right-color: color($fg,'icon'); 
			right:dp(6); 
			top:13px;
		}
		.x-layout-split-east &,
		.x-layout-cmini-west & {
			border-left-color: color($fg,'icon'); 
			right:0; 
			top:13px;
		}
		.x-layout-split-north &,
		.x-layout-cmini-south & {
			border-bottom-color: color($fg,'icon');
			top:dp(-6); 
			left: 13px; 
		}
		.x-layout-split-south &,
		.x-layout-cmini-north & {
			border-top-color: color($fg,'icon');
			top:0; left: 13px;
		}
	}
	
}

// ################
// ### PROGRESS ###
// ################
.x-progress {
	&-wrap {
		border:0;
		border-radius: $borderRadius;
	}
	&-inner {
		height: dp(32);
		@include var(background-color, c-primary-tp);
	}
	&-bar {
		@include var(background-color, c-primary);
		border:0;
	}
	&-text {
		@extend %font-data-head;
		color:#fff;
		line-height: dp(32);
		&-back {
			line-height: dp(32);
			color:color($fg, 'text');
		}
	}
}

// ############
// ### LIST ### todo
// ############
.x-list-header{
	background-color:#f9f9f9;
	//background-image:url(../images/default/grid/grid3-hrow.gif);
}

.x-list-header-inner div em {
	border-left-color:#ddd;
	font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-list-body dt em {
	font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-list-over {
	background-color:#eee;
}

.x-list-selected {
	background-color:color($bg, 'background');
}

.x-list-resizer {
	border-left-color:#555;
	border-right-color:#555;
}

.x-list-header-inner em.sort-asc, .x-list-header-inner em.sort-desc {
	//background-image:url(../images/default/grid/sort-hd.gif);
	//border-color: $cBgDark;
}

// ##############
// ### SLIDER ### todo
// ##############
.x-slider-horz {
	height: dp(32);
	overflow:visible;
	.x-slider-inner {
		top: dp(16);
		background-color: color($fg, 'track');
		border-radius: $borderRadius;
		height: dp(2);
	}
	.x-slider-focus {
		height: dp(2);
		transform-origin: 0 0;
		width:100%;
		@include var(background-color, c-primary);
	}
	.x-slider-thumb {
		cursor: -webkit-grab;
		cursor: grab;
		top: dp(-9);
		border: 3px solid transparent;
		@include var(border-color, c-primary);
		width:dp(20);
		height: dp(20);
		transform: scale(.7);
		transform: .4s $curve-sharper,background-color .4s $curve-sharper, border-color .4s $curve-sharper;
		border-radius: 50%;
		@include var(background-color, c-primary);
		&.x-slider-thumb-drag {
			cursor: -webkit-grabbing;
			cursor: grabbing;
			transform: scale(1);
		}
	}
}
input[value="0"] + .x-slider .x-slider-thumb {
	border-color: color($fg, 'track');
	background-color: white; 
}

// TODO slider vertical styling when being used
.x-slider-vert, 
.x-slider-vert .x-slider-end, 
.x-slider-vert .x-slider-inner {
	//background-image:url(../images/default/slider/slider-v-bg.png);
}

.x-slider-vert .x-slider-thumb {
	//background-image:url(../images/default/slider/slider-v-thumb.png);
}

// ##############
// ### DIALOG ###
// ##############
.x-window-dlg {
	background-color: color($bg, 'dialog');
	border-radius: $borderRadius;
}
.x-window-dlg .ext-mb-text,
.x-window-dlg .x-window-header-text {
	//@extend %font-title;
}

.ext-mb-text {
	max-height: dp(600);
	overflow: auto;
	display: block;
}

.x-window-dlg .ext-mb-textarea {
	@extend %font-data;
}

.x-window-dlg .ext-mb-info:after {
	@extend %icon;
	content: 'info';
	font-size:2.2em;
	@include var(color, c-primary);
}

.x-window-dlg .ext-mb-warning:after {
	@extend %icon;
	content: 'warning';
	font-size:2.2em;
	color: $cWarning;
}

.x-window-dlg .ext-mb-question:after {
	@extend %icon;
	content: 'help';
	font-size:2.2em;
	@include var(color, c-primary);
}

.x-window-dlg .ext-mb-error {
	background-image:url(../images/default/window/icon-error.gif);
}

// EXTENSION

.x-switch {
	position: relative;
	min-height: dp(24);
	padding-left: dp(4);
	> .thumb {
		position: absolute;
		pointer-events: none;
		transition: transform linear .06s, background-color linear .08s;
		height: dp(24);
		width: dp(24);
		top: dp(-2);
		left: dp(0);
		&::after { // nop
							 @extend .z2;
							 content: '';
							 position:absolute;
							 top:0;
							 height: dp(24);
							 width: dp(24);
							 background-color: color($grey, 50);
							 z-index:1;
							 border-radius: 50%;
		}
		&::before { // shade
								content: "";
								position:absolute;
								top: dp(-8);
								left: dp(-8);
								bottom: dp(-8);
								right: dp(-8);
								background-color: transparent;
								border-radius: 50%;
		}
	}
	> .track {
		background-color: color($fg, 'disabled');
		position:absolute;
		height: dp(16);
		top:dp(3); // track in middle of label lineheight
		width: dp(40);
		border-radius: dp(8);
		pointer-events: none;
		transition: background-color linear .08s;
	}
	> input {
		width: dp(40);
		height: dp(24);
		opacity:0;
		&:checked {
			~ .thumb {
				transform: translate(dp(24), 0);
				&::after { @include var(background-color, c-primary);}
				&::before {@include var(border-color, c-primary);}
			}
			~ .track {
				@include var(background-color, c-primary-tp);
			}
		}
		&:focus {
			~ .thumb::before {
				background-color: rgba(black, .12);
			}
			&:checked ~ .thumb::before {
				background-color: rgba($cPrimary, .2);
			}
		}

		&[disabled] {
			~ .thumb {
				background-color: color($grey, 400);
				&::before {
					background-color: rgba(black, .12);
				}
			}
			~ .track {
				background-color: color($fg, 'divider');
			}
		}
		~ label {
			padding-left: dp(56);
		}
	}
}

// superbox extension
.x-superboxselect {
	position:relative; 
	height: auto; 
	overflow: hidden; 
	padding: 0; 
	display:block;
	input[disabled] { background-color: transparent; }
	&-input {
		padding-left: dp(8);
		input {
			appearance: none;
			border: 0;
			background-color: transparent;
			box-shadow:none !important;
		}
	}
	ul { 
		overflow: hidden; 
		cursor: text; 
	}
	li { 
		float: left; 
		margin: dp(3) dp(2) dp(3); 
		line-height: dp(24);
	}
	&-stacked li { float: none !important;}
	&-display-btns { padding-right: dp(64); }
	&-btns {
		border-left: 1px solid color($fg, 'divider');
		position: absolute; 
		right: 0; 
		top: 0; 
		bottom:0;
		overflow:hidden; 
		padding: 0 dp(4);
		div {
			float: left; 
			margin-top:dp(7);
			width: dp(24); 
			height: dp(24);
			
		}
	}
	&-btn {
		&-clear:before { @extend %icon; content: 'clear'; font-size:dp(18);width: dp(24);text-align: center }
		&-expand:before { @extend %icon; content: 'arrow_drop_down'; line-height:dp(18); }
		&-over { color: black; }
		&-hide { display:none; }
	}
	&-item {
		position: relative; 
		border-radius: $borderRadius;
		@include var(background-color, c-primary-tp);
		padding: 0px dp(32) 0px dp(8); 
		&-hover { background-color: $cHover; }
		&-focus {background-color: $cSelected; color: white;}
		&-close {
			height: dp(24);
			position: absolute; 
			right: dp(4); 
			top: 0; 
			display:block;
			cursor:pointer;
			&:before {
				@extend %icon;
				content: 'clear';
				font-size: 1em;
			}
			&:hover, &:active {
				color: black;
			}
			.x-superboxselect-item-focus & {
				color:white;
			}
			.x-item-disabled & {
				color: color($fg, 'disabled');
			}
		}
	}
}
