:root {
  --c-primary: #{map-get($vars, c-primary)};
  --c-primary-tp: #{map-get($vars, c-primary-tp)};
}

::-webkit-scrollbar-thumb {
	//border: none;
	background:color($grey,200);
}
input[type="time"]::-webkit-clear-button {
    display: none;
}

html {
   font-size: 100%;
	letter-spacing: normal;
	-moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

body {
	@include var(background-color, c-primary);
	//background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(239,166,76,1) 0%, rgba(245,184,184,1) 100.2% );
}

body * {
	box-sizing: border-box;
}

body, html {
	@extend %font-body1;
	color: color($fg, 'text');
	text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
	//height: 100%;
}

button, html, input, select, textarea {
    font-family: $font-family;
}

h1 {
	margin: dp(16) 0;
	@extend %font-display1;
}
h2 {
	margin: dp(16) 0;
	@extend %font-headline; }
h3 {
	margin: dp(8) 0;
	@extend %font-title;
}
h4 {
	margin: dp(8) 0;
	@extend %font-subheading;
}
h5 {
	margin: dp(8) 0;
	@extend %font-subheading-dense;
}
h6 {
	margin: dp(8) 0;
	@extend %font-data-head;
}


code {
	border: 1px solid color($fg, 'line');
	background-color: color($bg, 'background');
	padding: dp(8);
	margin: dp(16) 0;
	display: block;
	font-family: "Courier New",Courier,monospace;
	color: color($fg, 'base');
	border-radius: dp(4);
	overflow: auto;
	white-space: pre-wrap;
}

p {
	margin: dp(16) 0;
}

.blue {color: #039BE5 !important;}
.red {color: $cDanger !important;}
.pink {color: #D81B60 !important;}
.purple {color: #8E24AA !important;}
.cyan {color: #00ACC1 !important;}
.green {color: $cSuccess !important;}
.orange {color: #FB8C00 !important;}
.brown {color: #6D4C41 !important;}
.yellow {color: #FDD835 !important;}
.bluegrey {color: #607D8B !important;}

.info {
	background-color: $cPrimaryTp;
	color: $cPrimary;
	border: 1px solid $cPrimary;
	border-radius: dp(4);
	padding: dp(8);
	margin: dp(16);
}

strong { font-weight: $font-weight-m; }
small {
	font-weight: $font-weight-r;
	font-size:.85em; line-height: 1.2;
}



.success { color: $cSuccess !important; }
.danger { color: $cDanger !important; }
.warning { color: $cWarning !important; }

p {
	margin: dp(16) 0;
}

.go-message-panel {
	padding: dp(16);
}


/*#window-container, #viewport {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	visibility: hidden;
	> * {
		visibility: visible;
	}
}*/


/*#bg {
	z-index: -1;
	position: fixed;
	top:0;left:0;right:0;bottom:0;
	opacity: .5;
	//background-image: url('img/bg/office-desk.jpg'); // preloaded in Layout.php
	background-repeat: repeat;
	background-size:cover;
	filter: blur(5px);
}*/

@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
	}
}

//default links are black in the UI
a {
	cursor: pointer;
	color: color($fg, "text");		
	text-decoration: none;
	&:link, &:active, &:visited {
		
	}
	&[target], &[onclick] {
		color: $cAnchor;
	}
	&:hover {
		text-decoration: underline;
	}
	
	label {
		cursor: inherit;
	}	
}

//blue links here
.ext-mb-content {
	a {
		color: $cAnchor;
	}
}
 
#loading{
	color:white;
	position: absolute;
	top:0;
	width: 100%;
	.loading-indicator {
		@extend %font-display1;
		margin-top:40vh;
		text-align:center;
	}
	.loading-wave {
	border: dp(6) solid currentColor;
	border-radius: dp(26);
	position:relative;
	text-align:center;
	width:dp(98);
	height:dp(98);
	padding-left: dp(15);
	padding-top: dp(16);
	margin-bottom: dp(24);
	margin-left: auto;
	margin-right: auto;
	b { // head
		display:block;
		float:left;
		margin-right: dp(6);
		width:dp(14);
		height:dp(14);
		border-radius:50%;
		background:currentColor;
		animation: wave 1.3s linear infinite;
		&::after { // body
			display:block;
			float:left;
			content :'';
			margin-right: dp(4);
			width:dp(14);
			margin-top: dp(18);
			height:dp(34);
			border-radius:dp(8);
			background:currentColor;
		}
		&:nth-child(2) {
			animation-delay: -1.1s;
		}

		&:nth-child(3) {
			animation-delay: -0.9s;
		}
	}
}
}
#copyright {
	position:fixed;
	bottom: dp(16);
	text-align:center;
	width: 100%;
}
#go-powered-by{
	position:absolute;
	right:dp(16);
	bottom:dp(16);
	a {color:inherit;}
}

#login-top-panel {
	height: dp(88);
	position:relative;
	
	.login-user-welcome{
		position:absolute;
		bottom: dp(16);
		right:dp(16);
	}	
}


.go-display-name {
	@extend %font-subheading;
	margin: dp(8) 0 dp(8) dp(16);
	display:block;
}

.login-text-comp {
	padding-bottom: dp(16);
}

#login {
	.go-app-logo {
		position:absolute;
		top: dp(16);
		left: dp(16);
	}
	#go-powered-by {
		color: white;
	}
}
#motd { // login message of the day
	@extend .z4;
	border-radius: $borderRadius;
	background-color: color($bg, 'card');
	margin: dp(56) auto 0;
	padding: dp(8);
	max-width: 100%;
	width: 600px;
	max-height: 220px;
	overflow:auto;
}

#go-login-header {
	position:absolute;
	top:0;
	left:0;
	right:0;
	height: dp(72);
}

#go-select-language{
	position:absolute;
	top: dp(16);
	right: dp(16);
	label {
		@extend %font-body1;
		text-align:right;
		color:white;
		padding-top: dp(4);
	}
	input {
		background-color: inherit;
		color:white;
		border:1px solid currentColor;
	}
	.x-form-trigger{
		color:white;
		&:before{
			color:white;
		}
	}
	
}

.go-header-left {
	padding-left: dp(16);
	position: absolute;
	top: dp(12);
	left: 0;
}
.go-header-right {
	top: 0;
	right: 0;
	position: absolute;
	z-index: 1;
	padding-right: dp(16);
	/* padding: 20px 20px 20px 0px; */
	/* height: 46px; */
}

#quick-add-menu {
	display: inline-block;
	padding: dp(4) 0;
	height: dp(56);
	width: 100%;
	margin-right: dp(8);
}
.go-module-title-tbar{
	display:none;
	@extend %font-title;
	//margin-right: dp(56);
	//width: 245px;
	@include var(color, c-primary);
}
.go-item-wrap {
	cursor:pointer;
	padding: dp(8);
	border-bottom: 1px solid color($fg, 'divider');
	&:before {
		@extend %icon;
		content: 'keyboard_arrow_right';
		padding-right: dp(16);
	}
	&.go-view-selected {
		background-color: $cSelected;
		@include var(color, c-primary);
	}
	span {
		padding: 0 0 0 dp(40) !important;
	}
}
.go-view-over {
	background-color: color($bg,'hover');
}
#go-logo, .go-app-logo, .go-about-logo {
	background-image: url(#{$resourcePath}img/logo-white.svg);
	background-size: contain;
	background-repeat: no-repeat;
	height: dp(40);
	width: dp(240);
	@extend %font-title;
}

.go-main-tab-panel {
		border-right: 0;
}
.go-about-logo {
	background-image: url(#{$resourcePath}img/logo-blue.svg);
}
.go-settings-logo {
	background-image: url(#{$resourcePath}img/logo-white.svg);
	background-size: auto dp(40);
	background-repeat: no-repeat;
	background-position: dp(16) dp(16);
	height: dp(72);
	width: dp(272);
	border: 1px solid color($fg, 'border');

	@include var(background-color, c-primary);
}

//, .go-border-center:not(.x-panel-noborder)
.x-portlet {
	@extend .z1;
  border: 0;
  background-color:color($bg,'card');
  border-radius: $borderRadius;
}
#go-module-panel-files-card-panel, #email-message-panel, #em-pnl-west {
	//@extend %card;
}
.go-nav {
	> div {
		min-height: dp(40);
		padding: dp(8) 0;
		padding-left: dp(16);
		// border:0;
		// margin:0;
		cursor:pointer;
		&.x-view-selected i {
			@include var(color, c-primary);
		}
		> i {
			color: color($fg,'secondary-text');
			margin-right:dp(16);
		}
		button {
			visibility: hidden;
		}
		&:hover button {
			visibility: visible;;
		}
		&.x-view{
			&-over {
				background-color: $cHover;
			}
			&-selected {
				@include var(color, c-primary);
				background-color: $cSelected;
			}
		}

		&.divider {
			border-bottom: 1px solid color($fg, 'line');
			padding-bottom: dp(16);
			margin-bottom: dp(8);
		}
  }
}




#mainNorthPanel {
	height: dp(56);
	.x-panel-body {
		min-height: dp(56);
	}
	
	position: relative;
	color: white;
	@include var(background-color, c-header-bg);
}
.go-main-tab-panel.x-tab-panel {
	> .x-tab-panel-header {
		position: relative;
		border-width: 0 0 0 0;
		@include var(background-color, c-header-bg);
		.x-tab-strip {
			
			&-active {
				@include var(border-bottom-color, c-accent);
				color:white;
				.x-tab-strip-text{ color:white;}
			}
			&-wrap { border: 0; }
		}
		.x-tab-scroller-right, .x-tab-scroller-left {
			color: white;
		}
		.x-tab-scroller-right-over, .x-tab-scroller-left-over {
			color: white;
		}
		.x-tab-right { padding-left:0;}
		.x-tab-strip {	border: 0; }
		.x-tab-strip-text{
			color:rgba(white, .5);
			padding-left:0;
		}
	}
	.x-tab-panel-body{
		background-color: color($bg, "background");
		> .x-hide-display {
			display:none !important;
		}
	}
}

.go-grid3-hide-headers {
	.x-panel-tbar {
		border-bottom: dp(1) solid color($fg, "divider");
	}
	.x-grid3-header {
		display:none;
	}
}


.go-head-tb {
	border-bottom: 1px solid color($fg, 'line') !important;
	position:relative;
	z-index: 2;
	background-color: color($bg, 'background') !important;
}

// empty state icons
#ti-tickets-grid .x-grid-empty::before {
	content: 'forum';
}
#ab-contacts-grid .x-grid-empty::before {
	content: 'person';
}
#ab-company-grid .x-grid-empty::before {
	content: 'domain';
}


.link-icon{
	display:inline-block;
	background-repeat: no-repeat;	
	width:16px !important;
	height:16px !important;
	padding:0 1px 0 0;
}

#secondary-menu {
	padding-right: dp(56);
	#start-menu-link, #search_query {
		float: left;
		text-decoration: none;
		height:dp(40);
		padding: dp(18) dp(8) 0 0;
		color: white;
		&:hover,&:active { color: white; }
	}
}


.search-field-wrap {
	position:absolute;
	z-index: 20;
	display: block;
	top: 0;
	left:0;
	right:0;
	height: dp(64);
	padding: dp(8);
	@include var(background-color, c-header-bg);
	// border-radius: $borderRadius;
	// transition: opacity 280ms $curve-standard;
	// opacity:1;
	.x-form-trigger {
		height: dp(48);
		&.x-form-clear-trigger::before {
			font-size: dp(24);
			color: white;
		}
	}	
	&.x-hide-display {
		opacity:0;
		pointer-events: none;
	}
	.x-btn {
		position:absolute;
		top: 0;
		right: 0;
		padding: 0;
		margin: 0;
	}
	.x-form-field-wrap {
		margin: 0 auto;		
	}
	input {
		width: 100%;
		max-width: dp(800);
		background: none;
		height: dp(48);
		border:0;
		padding: 0 0 0 dp(8);
		background-color: rgba(255,255,255,0.1);
		color: white;

		&::placeholder {
			color: #dedede;
			font-style: italic;
		}
		
		&.x-form-invalid {
			background-color: #e57373;
		}
	}
}



.go-search-panel {
	//border: 1px solid color($fg, "line");
	@extend .z24
}

@keyframes slide-top {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
#message-ct, .notifications {

	> div { // message
		@extend .z4;
		border-radius: $borderRadius;
		background-color: color($bg, 'card');
		cursor: pointer;
		pointer-events:auto;
		//min-width: dp(400);
		max-width: dp(480);
		min-height: dp(40);
		//padding: 0 dp(24) dp(8);
		//color: color($fg, 'secondary-text');
		margin: 0 auto dp(4);

		.x-panel-header {
			color: color($fg,'secondary-text');
			>i, .x-tool {
				transform: scale(.8);
				margin-top: dp(12);
			}
			.x-tool {
				transform: scale(.8);
				margin-top: dp(4);
			};
			height: dp(40);
			//line-height: dp(40);
	    }
		.x-panel-header-text {
			color: color($fg,'secondary-text');
			font-size: dp(16);
		}
		.x-panel-body {
			padding: dp(8) dp(16);
		}
	}
}
#message-ct {
	position: absolute;
	pointer-events:none;
	z-index: 100000;
	top: dp(64);
	right: 8px;
	overflow: visible;
	> div {animation: slide-top .2s ease-out;}
}
.notifications {
	padding: dp(4);
	@include var('background-color', c-primary);
	i.entity::before{margin-top: dp(-22);}
}
.notificationArea {
	//higher than window 9003 and lower than menu's 15000
	z-index: 10000 !important;
	@include var('background-color', c-primary);
	.x-panel-header,.x-panel-header-text {
		border-top:0; color:white;
		.x-tool:hover {
			color: color($grey-material, 300);
		}
	}
}
@keyframes blink {
	0% {opacity: 0;}
	100% { opacity:1;}
}
#status-bar {
	cursor: pointer;
	display:inline-block;
	float:left;
	height: dp(32);
	padding: dp(2) dp(8);
	margin-top: dp(16);
	margin-right: dp(8);
	border-radius: dp(16);
	border: 1px solid color($fg,'line');
	background-color: color($bg,'readonly');
	> * {
		@extend %icon;
		animation: blink .3s 7 alternate;
		margin: 0 dp(4);
		text-shadow: 0px 1px 0px rgba(black, 0.56);
		transform: scale(0.7);
		cursor: pointer;
	}
}

.card {
	background-color: color($bg, 'card');
}
/*.go-global-search {
	//width: 65%;
	height: dp(40);
	display:inline-block;
	position:absolute;
	left: 240px;
	right: 240px;
	background-color: color($bg, 'disabled-button');
	border-radius: $borderRadius;
	.x-btn {
		position:absolute;
		top: dp(8);
		left: dp(8);
	}
}*/


button {
	border:0;
	outline:0;
	background: none;
	color:inherit;
	cursor: pointer;
	font-size: inherit;
	&:hover{
		cursor: pointer;
	}
	&[disabled] {
		cursor: default;
    opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity=60);
		pointer-events: none;
	}
}
.closed{
	display:none !important;
}

.avatar {
	position:relative;
	display:inline-block;
	padding:0;
	background: url(#{$resourcePath}img/default-avatar.svg) no-repeat center center;
	background-color:  color($grey, 600);
	color: color($grey, 50);
	background-size:cover;	
	border-radius: 50%;
	width:dp(40);
	height: dp(40);
	line-height: dp(40);
	font-size: dp(16);	
	text-align: center;	
	
	.icon {
		color: white;
		line-height: dp(40);
		font-size: inherit;			
		height: 100%;
		width: 100%;
	}

	.go-detail-view & {
		margin-top:dp(8);
		margin-right: dp(8);
	}

	.icons &, .go-detail-view-avatar &{ // used in address book
		//float:left; ?? why?
		margin-top:dp(4);
		margin-right: dp(16);
	}

	.x-grid3-cell-inner & {
		margin-right: dp(8);
	}
	
	.x-btn {
		border: 0;
	}
	
	&.group {
		&::before {
			content: "group";			
		}
		background: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.24));	
	}
}

.user {
	position: relative;
	padding-left: dp(56);
	min-height: dp(40);
	
	.wrap {
		//padding-top: dp(3);
		&.single {
			padding-top: dp(10);
		}
		> * {
			display:block;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	.avatar {
		position: absolute;
		top: dp(4);
		left: dp(4);
		vertical-align: middle;
	}
	
/*	.username, .displayName {
		display:block;
	}*/
}

#user-menu {
	span + span {
		display:block;
		height:dp(48);
		border-radius: 50%;
	}
}

.user-img {
	@extend .avatar;
	position:absolute;	
	right: dp(16);
	top: dp(8);
	z-index:15;
	border: 1px solid white;
	width: dp(48);
	height: dp(48);
	&.login-avatar{
		top: dp(16);
	}	
	&:hover + div {
		display: block;
	}
	+ div {
		padding-top:dp(48);
		z-index:14;
		@extend .z1;
		color: color($fg, 'text');
		position:absolute;
		top: dp(20);
		right:dp(8);
		width: dp(256);
		background-color: color($bg, 'card');
		button a {
			color: color($fg, 'icon');
			&:hover{
				color: color($fg, 'text');
			}
		}
	}

}
hr {
	height: 1px;
	border:0;
	margin: dp(15) 0 dp(16) 0;
	background-color: color($fg, 'line');
}
#go-logged-in-as {
	text-align:center;
}

#go-module-panel-summary > div > div.x-panel-body  {
	background-color: color($bg, 'background');
}

.go-tab-notification {
	@extend %badge;
	color: rgba(white, 0.87);
	background-color: $cDanger !important; // override element style
	position:absolute;
	right:dp(-4);
	top:dp(4);	
}

.go-create-link-btn {
	.x-btn-mc em.x-btn-arrow > button:after {
		content: '';
	}
}

.badge {
	@extend %badge;

	.x-panel-header-text & {
		margin-left: dp(8);
		color: color($fg, 'text');
		@include var(background-color, c-primary-tp);
		display: none;

		.x-panel-collapsed & {
			display: inline-block;
		}
	}
}

.right {
	float: right;
}

.status {
	@extend %font-subheading-dense;
	text-transform:uppercase;
	padding-left: dp(8);
	padding-right: dp(8);
	background-color: color($bg, 'background');
	display: inline-block;
	border-radius: $borderRadius;
	color: color($fg, 'text');
	text-shadow: 0px 0px 4px white;
	border:1px solid color($fg, 'divider');

	.x-panel-header-text & {
		margin: dp(8);
	}
}

.x-tab-with-icon {
	position:relative;
}
button.filetype-pdf, button.filetype-doc {
	background-position: 0 center;
   background-repeat: no-repeat;
	background-size:contain;
	padding-left: dp(24) !important;

}
.x-grid3-hd-row .x-grid3-td-icon {
	text-indent: -9999px;
}
.x-grid3-row td.go-grid-col-icon {
	//padding: dp(8) 0;
	> div { // cell inner
		padding: 0 dp(16) 0 dp(8);
		> div { // the icon
			width:dp(24);
			height:dp(24);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 16px 16px;
			/*border-radius: 50%;*/
			box-sizing: border-box;
			margin-top: dp(8);
		}
	}
}
tr.go-grid-row {
	td {
		border-bottom: 1px solid rgba(0,0,0,0.04);
		vertical-align:top;
		&.r {text-align:right}
	}
}
.go-grid-icon { // icon in field
	background-repeat: no-repeat;
	background-position: 0 center;
   padding-left: dp(40) !important;
	display: block;
	width:auto !important;
	text-decoration: none !important;
}

// removing legacy style
.x-btn,.x-menu-item {
	.btn-cut,
	.btn-copy,
	.btn-paste,
	.btn-attach,
	.btn-thumbnails,
	.btn-upload,
	.btn-addressbook-add-contact,
	.btn-addressbook-add-company,
	.btn-addressbook-manage,
	.ml-btn-mailings,
	.btn-up,
	.btn-message,
	.bs-btn-catalog,
	.bs-btn-expenses,
	.bs-btn-report,
	.bs-btn-batchjob,
	.bs-send-email,
	.bs-duplicate,
	.no-btn-categories,
	.btn-files,
	.btn-one-day,
	.btn-five-days,
	.btn-seven-days,
	.btn-month,
	.btn-list,
	.cal-btn-home,
	.btn-send,
	.btn-reply,
	.btn-reply-all,
	.btn-forward,
	.btn-flag,
	.btn-addressbook,
	.btn-compose,
	.btn-show,
	.btn-right-arrow,
	.btn-left-arrow,
	.btn-availability,
	.btn-one-day,btn-five-days,btn-seven-days,btn-month
	{
		background-image: none !important;
	}
}

// file upload
.x-uf{
	&-buttons-ct {
		position:relative;
		height:dp(36);
	}
	&-input-ct {
		position:absolute;
		overflow:visible;
	}
	&-ubtn-ct {
		display:inline-block;
		margin-left:78px;
	}
	&-cbtn-ct {
		margin-left:4px;
		display:inline-block;
	}
	&-bbtn-ct {
		display:inline-block;
	}
	&-input-wrap {
		cursor: pointer;
		position: absolute;
		right:0;
		bottom:0;
		left:0;
		overflow: hidden;
		top: 0;
		input {
			top: dp(-36);
			min-height:dp(2*36);
			position:absolute;
			opacity:0;
			cursor: pointer;
		}
	}
	&-input-mask {
		position:absolute;
		width: 24px;
		left: -18px;
	}
	&-table {
		width:100%;
		font-size: 11px;
		border-collapse: collapse;
		margin-top: 2px;
	}
	&-filedelete {
		width: 16px;
		text-align: right;
		padding-right: 2px;
		a { color: color($fg, 'icon');}
	}

}

.go-border-west {
	//background-color: color($grey, 100);
}

%go-icon-list {
	p, > a {
		min-height: dp(40);
		box-sizing: border-box;
		display:table;
		text-decoration: none;
		padding: dp(8) dp(16);
		margin: 0;
		//width: 100%;
		span, a {
			display: inline-block;
			min-height: dp(24);
		}

		i.label {
			left: dp(16);
			top: dp(12);
			width:  dp(24);
			height: dp(24);
			position: absolute;
			color: color($fg, 'icon');

		}

		.avatar {
			left: 0;
			top:dp(4);
			position: absolute;
			//color: color($bg, 'background');
		}


		&:hover {
			.show-on-hover {
				display:block !important;
			}
			.hide-on-hover {
				display: none;
			}
		}

		label {
			@extend %font-caption;
			width:100%;
			display: block;
			line-height: dp(16);
		}

	}



	.left {
		top: dp(12);
		left: dp(16);
		position:absolute;
	}

	.right {
		top: dp(12);
		right: dp(16);
		position:absolute;
	}
}

.go-icon-list {
	@extend %go-icon-list;
	& > p, & > a {
		position:relative;
		padding-left: dp(56);
	}
}

//detail view
.go-detail-view {

	small {
		color: color($fg, 'secondary-text');
	}
	
	.content {
		padding: dp(16);
	}
	
	@extend %font-body1;


	> .x-panel-bwrap {
		> .x-panel-body {
			>.x-panel {
				@extend .z2;
				border-radius: $borderRadius;
				margin: dp(8);
				background-color: color($bg, 'box');

				> .x-panel-bwrap {
					>.x-panel-body {
						padding-bottom: dp(8);
					}
				}
			}
		}
	}
	
	figure {
		background-image: url(#{$resourcePath}img/default-avatar.svg);
		background-position:center 60%;
		background-size: cover;
		position: relative;
		margin:0;
		&:before {
		  display: block;
		  content: "";
		  width: 100%;
		  padding-top: (9 / 16) * 100%;
		}
	}
		
	.xtb-title {
		@extend %font-title;
	}

	hr {
		clear:both;
		margin:dp(8) 0 ;
	}
	.indent {
		margin: dp(8) 0 dp(8) dp(64);
	}
	.more {
		font-style: italic;
	}
	 //12 column
	.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9,.s10,.s11,.s12{
		display:block;
		float:left;
		padding: 0 dp(16) dp(8) dp(16);
		margin: 0;
	}
	.s1 {width: 8.333333%;}
	.s2 {width:16.666666%;}
	.s3 {width:25%;}
	.s4 {width:33.333333%;}
	.s5 {width:41.666666%;}
	.s6 {width:50%;}
	.s7 {width:58.333333%;}
	.s8 {width:66.666666%;}
	.s9 {width:75%;}
	.s10 {width:83.333333%;}
	.s11 {width:91.666666%;}
	.s12 {width:100%;}
	.pad {
		//padding-left: dp(16);
		//padding-bottom:dp(8)
	}

	label {
		@extend %font-caption;
		width:100%;
		display: block;
		line-height: dp(16);
	}

	.icons {
		// This is causing sassc to fail. @extends .xxx is deprecated
		@extend %go-icon-list;
		
		h5 {
			margin-left: dp(16);
			margin-right: dp(16);
		}
		
		hr {
			margin: dp(16);
		}
		
		h5:not(:first-child) {
			margin-top: dp(12);
		}
	}
	.icons > p, .icons > a {
		position:relative;
		padding-left: dp(64);
	}
	
	.x-panel-bbar {
		.x-btn{
			border: 1px solid color($fg, "line");
		}
		.x-toolbar {
			border-bottom: 0;
			height: dp(64);
		}
	}
	
	.x-toolbar.actions {
		padding: dp(16);
		padding-bottom: dp(24);
		height: dp(72);
		.x-btn{
			color: $cPrimary;
			border: 1px solid color($fg, "line");
		}
	}
	
	.x-panel-bbar  {
		.x-toolbar {
			border-top: 0;
		}
	}
	
	
	

	h3.title {
		padding: dp(16);
		margin: 0;
	}

	.status {

		float:right;
		margin: dp(12) dp(16);
	}
}

.show-on-hover {
	display: none !important;		
}

.x-grid3-row-over {
	.show-on-hover {
		display: block  !important;
	}
}



// old detail view compatibility
.display-panel-heading {
	@extend %font-title;
	/*color: color($fg, 'secondary-text');*/
	//border-top: 1px solid color($fg, 'line');
	padding: dp(8) dp(16);
	height: dp(56);
	.display-panel + .display-panel & {
		border-top: 1px solid color($fg, 'line');
	}
}

.go-display-panel {
	width: 100%;
	&-heading {
		@extend %font-title;
		/*color: color($fg, 'secondary-text');*/
		border-top: 1px solid color($fg, 'line');
		padding: dp(8) dp(16);
		height: dp(56);
	}
/*	.x-panel-body > & + & {
		padding-top:dp(8);
	}
	.x-panel-body > & > tbody>tr>td:first-child,
	.x-panel-body > div > div > & > tbody>tr>td:first-child, {
		padding-left: dp(16);
	} 
	.x-panel-body > div > div > & > tbody>tr>td:last-child, {
		padding-right: dp(16);
	} */
	.table_header_links {
		@extend %font-caption;
		@extend .ellipsis;
		padding: dp(8);
		vertical-align: middle;
		height: dp(40);
		border-bottom: 1px solid color($fg, 'line');
		background-color: transparent !important;
	}
}
	
table.display-panel {
	border-collapse: collapse;
	border-spacing: 0;
	&.labels {		
		td, th{
			&:first-child {
				width: dp(200);
			}
		}
	}
	
	width: 100%;
	clear: both;
	td, th {
		vertical-align:top;
		padding: dp(8);
		&:first-child {
			padding-left: dp(16);
		}
		&:last-child  {
			padding-right: dp(16);
		}
		&.r, &.right {text-align:right; float: none}
	}
	th {
		@extend %font-data-head;
	}
	tr.line td, td.line, th.line, tr.line th {
		border-bottom: 1px solid color($fg, 'divider');
	}
	tr.totals th {
		padding: dp(8);
		vertical-align: middle;
		border-right: 1px solid color($fg, 'divider');
	}

	tr.bold-line td, td.bold-line,  tr.line th, th.line {
		border-bottom: 1px solid color($fg, 'line');
	}

	table { 
		td:first-child {
			padding-left: 0;
		}
		td:last-child  {
			padding-right: 0;
		}
	}
}
tr.go-grid-row {
	td {
		border-bottom: 1px solid rgba(0,0,0,0.04);
		vertical-align:top;
		//&.r {text-align:right}
	}
}
.collapsible-display-panel-header {
	@extend %font-title;
/*	color: color($fg, 'secondary-text');*/
	border-top: 1px solid color($fg, 'line');
	padding: 0 dp(8) 0 dp(16);
	height: dp(56);
	line-height: dp(56);
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mo-title {
	background-repeat: no-repeat;
	background-position: dp(4) center;
	padding-left: dp(40);
	background-size: dp(16) dp(16);
}
.go-select-all-checkbox {
	color: color($fg, 'text');
	@extend %font-caption;
	.x-form-checkbox + label:before{
		margin: 0 dp(6) 0 dp(4);
		color: color($fg, "icon");
	}
	.x-form-cb-label {
		vertical-align: middle;
	}
}
td[id^="comment-td"] {
	padding: 0 dp(16) dp(8) !important; //override inline style
}
table[id^="comments-ext"] b {
	padding-right:dp(16);
}
.comment-div {
	padding: dp(8);
	border-radius: $borderRadius;
	border: 1px solid color($fg, 'divider');
}
// end old display panel


.go-border-bottom {
	border-bottom: 1px solid color($fg, 'line');
}

.x-window.go-form-panel .x-panel-body,
.x-window.go-form-panel .x-window-body,
.x-column.go-form-panel .x-panel-body,
.x-form-label-left.go-form-panel > div > .x-panel-body,
.go-form-panel .x-panel-body, .go-error-dialog{
	padding: dp(8) dp(16);
}

.go-error-dialog {
	font-size: dp(14);
	font-family: monospace;
	line-height: 1.4em;
	white-space: nowrap;

	.x-panel-body {
		padding: dp(8);
		border: 1px solid color($fg, 'line');
		background-color: color($bg, 'card');
	}
}

#container { // error container
	margin: dp(24);
	padding: dp(16);
	font-size: 10px;
	border-radius: dp(4);
	h1 {
		@extend %font-title;
	}
}
.go-link-grid, .go-search-grid {
	.x-grid3-col-name {
		padding-left: dp(56);
		position:relative;
		i {
			position: absolute;
			left: dp(16);
			top: dp(8);
			width: dp(24);
			height: dp(26);
		}
	}
}

.go-links-link-grid {
	.x-grid3-col-name {
		padding-right: dp(56);
	}
}

.go-sidenav {
	//margin-top: dp(8);
	//border-right: 1px solid color($fg, "divider");
	/*background-color: color($bg, 'app-bar');*/
	.x-grid3 {
		background-color: transparent;
		
		&-row {
			border-bottom: 0;
		}
	}
	//.x-panel-tbar {
	//	border-bottom: 1px solid color($fg, "divider");
	//}
	.x-panel-header-text {
		//@extend %font-title;
	}
	.x-date-picker {
		transform-origin: 0 0;
		transform: scale(.9);
	}

	.x-toolbar:first-of-type {
		border-bottom: 0;
	}


	.x-panel-body {
		padding-bottom: dp(8);
	}
}

.go-layout-responsive {
	
	.x-btn.go-narrow {
		display: none;
	}
	
	&.go-narrow {
		.x-btn.go-narrow {
			display: block;
		}
		.x-layout-split {
			display: none !important;
		}
	}

}

/*.go-layout-responsive-item {
	float:left;	
	height: 100%;
	width: auto;
	&:last-child {
		overflow: hidden;
		float: none;
	}
}

@media screen and (max-width: 1023px) {
	.go-layout-responsive {
		overflow: hidden;
	}

	.go-layout-responsive-item {
		float:left;	
		width: 100% !important;
		height: 100%;
	}
}*/

.go-show-tablet, .go-show-mobile {
	display:none;
}

.go-hide-tablet, .go-hide-mobile {

}

.go-hide {
	display: none !important;
}

@media screen and (max-width: 1200px) {
	.go-show-tablet {
		display: block;
	}

	.go-hide-tablet, .go-hide-mobile {
		display: none;
	}

	.go-main-tab-panel {
		> .x-tab-panel-header {
			display: none;
		}
	}
	
	#mainNorthPanel {
		height: dp(64);
		.x-panel-body {
			min-height: dp(64);
		}
	}

	.x-grid3-row .ux-row-action {
		opacity: 1;
	}

}

@media screen and (max-width: 1000px) {
	.go-show-mobile, .go-show-tablet {
		display: block;
	}
	.go-hide-tablet {
		display: none;
	}

	.go-hide-mobile {
		display: none;
	}
	#go-logo {
		display: none;
	}
}


.x-form-element {
	.x-grid-panel {
		border-radius: dp(4);
		border: 0;
	}
	.x-grid-panel {	
		&.x-form-invalid {
			border-color: rgba($cDanger,0.54);
		}
	}
}

.x-form {
	.x-btn-icon button {
		color: color($fg, "secondary-text");
	}
}

.x-panel.text {
	padding: dp(16);
}


//.x-btn.raised{
//	border: dp(1) solid color($fg, "line");
//}


.go-links-detail {
	a {
		color: color($fg, 'text');
	}
	.icons {
		p { 
		  a:not(.right) {			
				padding-right: dp(64);
			}
		}
	}
	.count {
		float: right;
		@extend %badge;
	}
	
	a.show-more {
		font-style: italic;
		color: $cAnchor;
		padding-right: 0;
	}

	.go-top-right {
		right: dp(48);
		top: dp(12);
		padding-right: 0;
	}
	
}

.go-login-dialog {
	.x-panel-bbar .x-toolbar {
		border-top: 0;
	}
}


.x-grid3-cell {
	.trigger {
		@extend %icon;
		float: right;
	}
	//looks ugly in tasks.
	//&.success { background-color: lighten($cSuccess, 55%);  }
	//&.danger { background-color: lighten($cDanger,45%);}
	//&.warning { background-color: lighten($cWarning, 47%);}
	//&.summary { background-color: color($bg, 'background'); }
}


.go-grid3-form-field {
	.go-editable-col {
		.x-grid3-cell-inner {
			border: 1px solid color($fg, 'track');
		border-radius: dp(4);			
		background-color: color($bg, 'box');		
		margin-right: dp(4);
		}
			
			
	}
	.x-grid3-cell-inner {
		min-height: dp(32);
		padding: dp(6) dp(8);	
		height: dp(32);
	}	
	
	.ux-row-action-cell {
		.x-grid3-cell-inner {
			padding: dp(4) 0;
		}
	}
	.x-grid-editor {
		overflow: hidden !important;
	}
	.x-grid-editor .x-form-field {
		margin: 1px -5px -1px 1px; //correction for extjs positioning.		
		min-height: auto;
		height: auto;
		padding: dp(6) dp(8);
		padding-left: dp(8);
		border-radius: dp(4);
	}
	
	.x-grid-editor {
		.x-form-field-wrap {
			margin: 1px -5px -1px 1px; //correction for extjs positioning.		
		}
	}

	.x-grid3-cell {
		.trigger {
			padding: dp(4) 0 dp(4) dp(4);
			margin-right: dp(4);
		}
	}	
	.x-grid3 {
		background-color: transparent;
	}
	.x-grid3-row {
		border-bottom: 0;
		margin-bottom: dp(4);
	}
	
	.x-panel-bbar .x-toolbar {
		border-top: 0;
		padding-right: dp(14);
	}
	
	.x-grid3-cell-selected {
		background-color: color($bg, 'box');
	}
	.x-grid3-scroller {
		overflow: hidden;
	}

}

//This class on a button will make it fade from gradient to the background color
//of a tree.
.go-more-button-over {
	position: absolute;
	padding-right: dp(8);
	background-color: #e6e6e6;
	&.x-btn.x-btn-over {
		background-color: #e6e6e6;
	}
	&:before {
		pointer-events: none;
		position: absolute;
		content: '';
		background: linear-gradient(to right, transparent, #e6e6e6);
		width: dp(24);
		height: 100%;
		left: dp(-24);
		top: 0;
	}
}


.go-form-group {


	.x-panel-bbar {
		overflow: visible;
		.x-toolbar {
			border-top: 0;
		}

		.x-btn-text {
			font-weight: normal;
			@include var(color, c-primary);
		}
	}

	.x-toolbar {
		margin-left: dp(-16);
	}
	margin-bottom: dp(16);
}


.go-chip {
	display: inline-block; 
	border-radius: dp(4); 
	background-color: $cPrimaryTp; 
	margin-right: dp(8);
	margin-top: dp(8);
	padding-left: dp(8);
	
	button.icon {
		color: color($fg, "secondary-text");
	}
}

/**
 * Resets ExtJS style to normal HTML defaults for displaying the HTML editor values or e-mails
 */
.go-html-formatted {

	@extend %font-body1;

	blockquote {
		display: block;
		margin: 1em 40px;
		pading: 0px 10px;
	}

	td {
		display: table-cell;
	}

	th {
		display: table-cell;
		vertical-align: inherit;
		font-weight: bold;
		padding: 1px;
	}

	ul, menu, dir {
		display: block;
		list-style-type: disc;
		list-style-position: outside;
		margin: 0;
		padding: 0 0 0 2em;
	}

	ol {
		display: block;
		list-style-type: decimal;
		list-style-position: outside;
		margin: 0;
		padding: 0 0 0 2em;

		> ol {
			list-style-type: lower-alpha;

			> ol {
				list-style-type: lower-roman;
			}
		}
	}

	li {
		display: list-item;
	}

	p {
		margin: dp(8) 0px;
	}

	a:link, a:visited, a:active {
		text-decoration: underline;
		color: $cAnchor;
	}

	a:visited {
		color: purple;
	}
}

.normal-link {
	text-decoration:underline;
	color: $cAnchor;
	cursor: pointer;
}

.go-chip {
	display: inline-block; 
	border-radius: dp(4);
	background-color:  $cPrimaryTp;
	margin-right: dp(8);
	margin-top: dp(8);
	padding-left: dp(8);
}

.go-messages {

	.avatar {
		margin: 0;
	}

	.text-crop {
		.more {
			border-bottom-left-radius: dp(8);
			border-bottom-right-radius: dp(8);

			background-image: none;
			background-color: color($bg, 'status-bar');
			padding-top: dp(16);
		}

		&.mine {
			.more {
				background-color: rgba-to-rgb($cPrimaryTp);
			}
		}
	}
	padding: 0 dp(8);
	h6 {
		@extend %font-caption;
		text-align:center;
		padding: dp(8) 0;
	}
	> div { 
		position:relative;
		overflow:hidden;
		width: 100%;
		padding-bottom:dp(8);
		span.photo {
			@extend .avatar;
			//position:absolute;
			//top: 0;
			margin-top:0 !important;
			margin-right: dp(16);
			float: left;
			text-align: center;
			&:after {
				content: '';
				position: absolute;
				right: dp(-16);
				top: dp(12);
				width: 0; height: 0;
				border: 0;
				border-right: dp(16) solid color($bg, 'status-bar');
				border-bottom: dp(16) solid transparent;
			}
			&.mine {
				margin-right:0;
				margin-left: dp(16);
				//right:0;
				float: right;
				&:after {
					left: dp(-16);
					border: 0;
					border-left: dp(16) solid $cPrimaryTp;
					border-bottom: dp(16) solid transparent;

				}

			}
		}
		> div { // message		
			border-radius: dp(8);
			//display:inline-block;
			//margin-left: dp(56);
			overflow:hidden;
			max-width: 100%;
			background-color: color($bg, 'status-bar');
			.content {
				padding: dp(8) dp(16);
			}
			&.mine {
				margin-right: dp(56);
				margin-left: 0; // reset
				background-color: $cPrimaryTp;

				//float:right;
			}
		}
		
	}
}

.tags {	
	margin-left: -2px;
	padding: 0 dp(16) !important;
	// &.mine {
	// 	text-align:left;
	// }
	> i {
		margin-top: dp(-16);
	}
}
.x-emoji-menu {
	padding: 7px 0;
	overflow-y: auto;
	background-color: color($bg, 'card') !important;
	em {
		cursor:pointer;
		display: block;
		padding: 3.5px;
		border: 0;
		float: left;
		width:dp(32);
		height:dp(32);
		padding: dp(8);
		font-size:22px;
	}
}
.new-message {
	border: 1px solid color($fg,'line');// rgba(black, 0.12);
	border-radius: dp(16);
	overflow:hidden;
		.x-panel-body {
			background-color:transparent;
		}
	
	.x-html-editor-wrap{
		border:0;
	}
	textarea.x-form-textarea {
		border:0;
		//margin:dp(2) 0;
		&.x-form-focus {
			box-shadow: none;
		}
	}
}

.go-multiselect-grid {
	.x-panel-tbar {
		border-bottom: 0;
		border-top: 1px solid color($fg, 'divider');
		.x-toolbar {
			border-bottom: 0;
		}
	}
	.x-panel-bbar .x-toolbar {
		border-top: 0;
	}
}


.go-module-icon-password { /* for auth methods */
	background-image:url('img/key.png') !important;
}

.go-user-disabled {
	opacity: .6;
}

.go-grid {
	.go-grid-hd-btn {
		@extend .icon;
		cursor: pointer;
		display: block;
		width: dp(18);
		//height: dp(31);
		position: absolute;
		top: 0;
		right:0;
		background-color: color($bg, 'background');
		&:hover {
			@include var(color, c-primary);
		}
		&::after {
			//margin-left:dp(4);
			color: color($fg, 'icon');
			font-size: .7em;
			content:'more_vert';			
		}
	}
	&-row-inactive {
		color: color($fg, 'disabled-text');
	}
	&.x-grid-panel .x-grid3-header {
		position:relative;
		//padding-right: dp(24);
/*		.x-grid3-hd-over .x-grid3-hd-btn {
			display: none;
		}*/
	}
}

.go-top-right {
	position:absolute;top: dp(8); right: dp(8);
}

.x-toolbar.summary{
	padding:0;
	.x-toolbar-left , .x-toolbar-right, .x-toolbar-cell {
		padding:0;
	}
	.x-toolbar-cell > div {
		border-right: 1px solid color($fg,'line');
		min-height:dp(40);
    	padding: 0 dp(4) 0 dp(16);
	}
}





.x-plupload-body {
	overflow-x: hidden;
	overflow-y: auto;
}

.x-plupload-body dl {
	padding: 5px;     
	border-bottom: 1px solid #D0D0D0;
	font: normal 11px arial,tahoma,verdana,helvetica;
	width: 100%;
}

.x-plupload-body dt {
	float: left;
	cursor: pointer;
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.plupload_over {
	background-color: #EFF5FB;
}

.plupload_selected {
	background-color: #EFF5FB;
}

.plupload_emptytext {
	font: 11px Arial,Helvetica,sans-serif; 
	vertical-align: middle; 
	text-align: center;
}

.plupload_emptytext span {
	line-height: 100px;
}

//.silk-accept { background-image: url(/img/icons/silk/accept.png) !important; background-repeat: no-repeat; }
//.silk-add { background-image: url(/img/icons/silk/add.png) !important; background-repeat: no-repeat; }
//.silk-cross { background-image: url(/img/icons/silk/cross.png) !important; background-repeat: no-repeat; }
//.silk-stop { background-image: url(/img/icons/silk/stop.png) !important; background-repeat: no-repeat; }
//.silk-arrow-up { background-image: url(/img/icons/silk/arrow_up.png) !important; background-repeat: no-repeat; }

.go-grid-total {
	position: absolute;
	bottom: 0;
	right:0;
	text-align: right;
	padding: dp(4) dp(16);
	border: 1px solid color($fg, 'line');
	border-bottom:0;
	border-right: 0;
	border-top-left-radius: dp(8);
	background-color: color($bg, 'box');
	cursor: pointer;
	z-index:2;
}


.go-user-settings-dlg {
	.x-panel-header-text {
		@extend %font-subheading;
	}
	.x-toolbar {
		.xtb-title {
			@extend %font-subheading;
		}
	}
}

.x-dd-over {
	position:relative;
	&::after {
		content: '';
		z-index:1;
		pointer-events : none;
		position:absolute;
		@include var(background-color, c-primary-tp);
		top:dp(8);bottom:dp(8);left:dp(8);right:dp(8);
		outline: 8px solid transparent;
		@include var(outline-color, c-primary-tp);
		border: 2px dashed white;
	}
}

/* used in mail to hide calendar links */
.go-hidden {
	display: none;
}

.go-button {
	display: inline-block;
	@extend .x-btn;
	min-height: dp(32);
	line-height: dp(24);
	padding: 2px dp(8);

	&:hover, &:focus {
		transition: all 195ms linear,color 195ms linear, box-shadow 195ms $curve-standard;
		@include var(background-color, c-primary-tp);
	}

	&.primary {
		&:hover, &:focus {
			transition: all 195ms linear,color 195ms linear, box-shadow 195ms $curve-standard;
			@include var(background-color, c-accent);
		}
	}

	&.accent {
		&:hover, &:focus {
			transition: all 195ms linear,color 195ms linear, box-shadow 195ms $curve-standard;
			@include var(background-color, c-primary);
		}
	}
}

.go-page {
	background: color($bg, 'dialog');
	header {
		text-align: center;
		@include var(background-color, c-primary);
		padding: dp(24);
		color: white;
	}

	footer {
		text-align: center;
		clear: both;
	}

	header .go-app-logo {
		height: dp(40);
		display: inline-block;
	}


	section {
		width: dp(800);
		margin: 0 auto;
		padding: dp(16);
	}

	fieldset, .card {
		@extend .z4;
		border-radius: $borderRadius;
		background-color: color($bg, 'card');
		border: none;
		padding: dp(16);
	}

	.error {
		color: red;
	}

	button, a.button {
		@extend .go-button;
		text-decoration: none;

		i {
			margin-right: dp(4);
		}
	}

	.toolbar {
		padding: dp(16) 0;
		button, a.button {
			border: 0;
		}
	}

	h2 {
		font-size: 1.5rem;
		font-weight: 400;
		letter-spacing: normal;
		line-height: 2rem;
		color: rgba(0, 0, 0, 0.87); }

	fieldset, .card {
		border: none;
		margin-bottom: 16px;
		overflow: hidden;
	}

	label {
		width: 80%;
		margin-top: 4px;
		margin-bottom: 8px;
		font-size: .8rem;
		letter-spacing: 0.04em;
		display: inline-block;
		color: #666;
	}

	textarea, input:not([type=checkbox]):not([type=radio]) {

		@extend %font-data;
		color: color($fg, 'text');
		min-height: dp(32);
		line-height: dp(20);
		//line-height: dp(18);
		transition: border-color 100ms linear, box-shadow 225ms linear;
		border-radius: dp(4);
		width: 100%;
		background-color:color($bg, 'box');
		border: 1px solid color($fg, 'track');
		display: inline-block;
		padding: dp(6) dp(8);

	}

	pre {
		@extend code;
	}

	*[disabled] {
		opacity: 0.65;
		cursor: not-allowed;
	}
}


.x-panel-tbar {
	.go-multiselect-toolbar {
		background-color: color($bg, 'box');
		opacity: 1;
		padding: 0;
		.x-toolbar-left .x-toolbar-cell:first-child {
			padding-left: 0;
		}
		position: absolute;
		top: 0;
		bottom: 0;
		transition: opacity 260ms $curve-standard;

		&.x-hide-display {
			display: block !important;
			pointer-events: none;
			opacity: 0;
		}
	}
}

.go-dropzone {
	border: 2px dashed color($fg, 'line');
	border-radius: $borderRadius;
	margin: dp(16);
	text-align:center;
	padding: dp(48);
	color: color($fg, 'secondary-text');
}


//compact header
body.go-compact {
	#mainNorthPanel {
		height: dp(64);

		.x-panel-body {
			min-height: dp(64);
		}
	}

	.go-main-tab-panel {
		overflow: visible;
	}

	.go-main-tab-panel.x-tab-panel > .x-tab-panel-header {
		position: absolute;
		top: dp(-56);
		left: dp(224);
		right: dp(272);
		width: auto !important;
		height: 0;
		overflow: visible;
	}

	.go-main-tab-panel {
		bottom: 0;
	}
}

.go-progressbar{
	height:dp(12);
	margin: dp(8) 0;
	border:1px solid color($fg,'line');
	background-color:color($bg,'card');
	> div { // indicator
		background-color:$cPrimary;
		height:100%;
	}
}