@font-face {
  font-family: 'Lato';
  src: url('#{$resourcePath}fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
  src: url('#{$resourcePath}fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$resourcePath}fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
       url('#{$resourcePath}fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
       url('#{$resourcePath}fonts/Lato-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('#{$resourcePath}fonts/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$resourcePath}fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$resourcePath}fonts/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
       url('#{$resourcePath}fonts/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$resourcePath}fonts/Lato-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('#{$resourcePath}fonts/Lato-Heavy.eot'); /* IE9 Compat Modes */
  src: url('#{$resourcePath}fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$resourcePath}fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
       url('#{$resourcePath}fonts/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
       url('#{$resourcePath}fonts/Lato-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('#{$resourcePath}fonts/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$resourcePath}fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$resourcePath}fonts/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
       url('#{$resourcePath}fonts/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$resourcePath}fonts/Lato-HeavyItalic.ttf') format('truetype');
  font-style: italic;
  font-weight:  bold;
  text-rendering: optimizeLegibility;
}



// @font-face {
//   font-family: 'Lato';
//   src: url('#{$resourcePath}fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Bold.ttf') format('truetype');
//   font-style: normal;
//   font-weight: bold;
//   text-rendering: optimizeLegibility;
// }

// @font-face {
//   font-family: 'Lato';
//   src: url('#{$resourcePath}fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-BoldItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: bold;
//   text-rendering: optimizeLegibility;
// }

@font-face {
  font-family: 'Lato';
  src: url('#{$resourcePath}fonts/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('#{$resourcePath}fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$resourcePath}fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
       url('#{$resourcePath}fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
       url('#{$resourcePath}fonts/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url('#{$resourcePath}fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$resourcePath}fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$resourcePath}fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
       url('#{$resourcePath}fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$resourcePath}fonts/Lato-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}











// @font-face {
//   font-family: 'LatoWebBlack';
//   src: url('#{$resourcePath}fonts/Lato-Black.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Black.ttf') format('truetype');
//   font-style: normal;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: Lato-BlackItalic */@font-face {
//   font-family: 'LatoWebBlack';
//   src: url('#{$resourcePath}fonts/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-BlackItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: Lato-Bold */@font-face {
//   font-family: 'LatoWebBold';
//   src: url('#{$resourcePath}fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Bold.ttf') format('truetype');
//   font-style: normal;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: Lato-BoldItalic */@font-face {
//   font-family: 'LatoWebBold';
//   src: url('#{$resourcePath}fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-BoldItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: Lato-Hairline */@font-face {
//   font-family: 'LatoWebHairline';
//   src: url('#{$resourcePath}fonts/Lato-Hairline.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Hairline.ttf') format('truetype');
//   font-style: normal;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: Lato-HairlineItalic */@font-face {
//   font-family: 'LatoWebHairline';
//   src: url('#{$resourcePath}fonts/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-HairlineItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: Lato-Heavy */@font-face {
//   font-family: 'LatoWebHeavy';
//   src: url('#{$resourcePath}fonts/Lato-Heavy.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Heavy.ttf') format('truetype');
//   font-style: normal;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: Lato-HeavyItalic */@font-face {
//   font-family: 'LatoWebHeavy';
//   src: url('#{$resourcePath}fonts/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-HeavyItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: Lato-Italic */@font-face {
//   font-family: 'LatoWeb';
//   src: url('#{$resourcePath}fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Italic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: Lato-Light */@font-face {
//   font-family: 'LatoWebLight';
//   src: url('#{$resourcePath}fonts/Lato-Light.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Light.ttf') format('truetype');
//   font-style: normal;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: Lato-LightItalic */@font-face {
//   font-family: 'LatoWebLight';
//   src: url('#{$resourcePath}fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-LightItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }


// /* Webfont: Lato-Regular */@font-face {
//   font-family: 'LatoWeb';
//   src: url('#{$resourcePath}fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
//   src: url('#{$resourcePath}fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$resourcePath}fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
//        url('#{$resourcePath}fonts/Lato-Regular.ttf') format('truetype');
//   font-style: normal;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

