#startMenu.x-menu {
	width: 100%;
	bottom: 0;
	border-radius: 0;
	top: dp(64) !important; // top bar
	opacity: 1;
	transition: opacity 300ms $curve-sharp;
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.68);
	&.x-hide-offsets {
		opacity: 0;
		ul {transform: scale(.9);}
	}
	ul {
		//box-sizing: border-box;
		max-width: 800px;
		text-align: justify;
		transform: scale(1);
		transition: transform 200ms $curve-sharp;
		margin: 0 auto;
		height:auto !important;
		max-height: 95%;
		overflow-y: auto;
	}
	a.x-menu-item {
		padding:0 dp(4);
		height: dp(96);
		width: dp(96);
		margin:0 !important;
		cursor: pointer;

	}
	.x-menu-item-icon {
		height: dp(64);
	}
	li {
		border-radius: 4px;
		text-align:center;
		margin: dp(8) dp(12);
		display:inline-block;
	}
	.x-menu-item-text {
		@extend %font-data;
		display:block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		font-size: .9em;
		color: white;
		text-shadow: 0px 1px 0px color($fg, 'unfocused');
	}
	#x-menu-el-go-start-menu-admin-menu { display:none;}
}

.go-model-icon{
	&-GO_Addressbook_Model_Contact {
		background-image: url('images/16x16/contact.png') !important;
		width:16px;
		height:16px;
	}
	&-GO_Addressbook_Model_Company
	{
		background-image: url('images/16x16/company.png') !important;
		width:16px;
		height:16px;
	}
	&-GO_Addressbook_Model_Addresslist{
		background-image: url('images/16x16/templates.png') !important;
		width:16px;
		height:16px;
	}
}

// TICKETS
.ti-seen, .ti-unseen, .ti-late {
	td.x-grid3-td-first_column .x-grid3-cell-inner {
		padding: 0;
	}
}


// EMAIL 
.ml-unseen-row {
	//background-color:white;
}
.ml-unseen-from {
	font-weight: bold;
}
.ml-unseen-subject {
	font-weight: normal;
}

.ml-seen-subject, .ml-unseen-subject {
	@extend %font-body2;
}


.x-tree-node .ml-folder-unseen a .em-folder-status { // badge
	@extend %badge;
	
}
.em-folder-status {
	float:right;
}

.ml-unseen-dot {
	@include var(background-color, c-primary);
	width: 9px;
	height: 9px;
	margin: dp(2);
	border-radius: 50%;
	float: right;
}

.x-grid3-col-icon {
	text-overflow: initial;
	white-space: normal;
	i {
		font-size: dp(16);
		float: right;
		width: dp(16);
		height: dp(16);
		color: color($fg, 'secondary-text');
	}
}

.x-grid3-col-icon {
		i {
			&.em-flag {
				color: $cDanger;
			}
	}
}

.message-body {
	background-color: white;
	position: relative;	
	
	p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{
		margin-top:0cm;
		margin-right:0cm;
		margin-bottom:0cm;
		margin-left:36.0pt;
		margin-bottom:.0001pt;
		font-size:11.0pt;
	}

	.msg {
		padding: dp(16);
	}
}

#email-message-panel {
	.x-panel-body {
		background-color: color($bg, 'box');
	}
}

.message-header-table{
	float:left;
	margin-right: dp(72);
	margin-bottom: dp(8);
}

.message-header {
	position: relative;
	border-bottom:1px solid color($fg, "line");
	padding: dp(8) dp(16);
		
	b {
		@extend %font-caption;
	}
	
	.avatar {
		width: dp(64);
		height: dp(64);
		line-height: dp(64);
		font-size: dp(24);
		position: absolute;
		top: dp(16);
		right: dp(16);
	}
	
	.x-form-checkbox {
		margin-left: 0;
	}
}

.mo-description {
	padding-left: dp(40);
}



.cal-has-links{
	//background:url(../../../../views/Extjs3/themes/Default/images/attach.gif) no-repeat center 3px;
	@extend %icon;
	font-size: dp(16);
	&:before {
		content: "link";
	}
	float:right;
}

.go-attachments {
	span {
		cursor: pointer;

		&.x-view-selected {
			background-color: color($bg, 'selected');
		}
		&.x-view-over {
			background-color: color($bg, 'hover');
		}

		i {
			cursor: pointer;
			display: none;
		}
		&.x-view-selected, &.x-view-over {
			i {
				display: inline-block;
			}
		}
	}
}

//Bookmarks
.chooseIcon {
	margin-top:10px;
	margin-left:50%;
	position:relative;
	display:inline-block;
	padding:0;
	background: url(#{$resourcePath}img/default-avatar.svg) no-repeat center center;
	background-size:cover;	
	border-radius: 50%;
	width:dp(40);
	height: dp(40);
	font-size: dp(28);	
	text-align: center;	
	
	.icon {
		color: red;
		line-height: dp(40);
		font-size: inherit;			
		height: 100%;
		width: 100%;
	}

	.go-detail-view & {
		//float:left; ?? why?
		margin-top:dp(4);
		margin-right: dp(16);
	}
	
	.x-btn {
		border: 0;
	}
	
	&.group {
		&::before {
			content: "group";			
		}
		background: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.24));	
	}
}
