#startMenu.x-menu {
  width: 100%;
  bottom: 0;
  border-radius: 0;
  top: 0 !important;
  opacity: 1;
  transition: opacity 300ms $curve-sharp;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.68);
  &.x-hide-offsets {
      opacity: 0;
      ul {transform: scale(.9);}
  }

  &:before {
      content: " ";
	  position:absolute;
      background-image: url(#{$resourcePath}img/logo-white.svg);
      background-size: contain;
      background-repeat: no-repeat;
      height: dp(40);
      width: dp(240);
      margin: dp(12) dp(16);
      display:block;
  }

  ul {
      max-width: 95%;
	  padding-top:dp(40);
      display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(10rem, 17%), 1fr));
      justify-content: space-between;
    align-content: start;
    transform: scale(1);
    grid-gap: 4vw 4vh;
      transition: transform 200ms $curve-sharp;
      margin: 0 5%;
      height: calc(100vh - 56px) !important;
      overflow-y: auto;
  }
  li {
    padding:0;
    height: 130px;
    border-radius: 4px;
  }
  a.x-menu-item {
    padding:0;
    text-align:center;
    margin:0 !important;
    cursor: pointer;
  }
  .x-menu-item-icon {
      max-width: dp(96);
      height: dp(96);
      width: 100% !important;
      background-position: center !important;
  }

  li.x-menu-textfield-item {
    grid-column: 1 / -1;
    height: 50px;
	  //max-width: 500px;
	  margin: 0 auto;
	  width:400px;
	  position:relative;
    > div {
      @extend .search-field-wrap;
      background-color: transparent !important;
    }
    > div > div {
		 overflow:hidden;
	 }

  }
  .x-menu-item-text {
      @extend %font-data;
      display:block;
      padding: dp(8) 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: .9em;
      color: white;
      text-shadow: 0 1px 0 color($fg, 'unfocused');
  }
  #x-menu-el-go-start-menu-admin-menu { display:none;}
}

.go-model-icon{
	&-GO_Addressbook_Model_Contact {
		background-image: url('images/16x16/contact.png') !important;
		width:16px;
		height:16px;
	}
	&-GO_Addressbook_Model_Company
	{
		background-image: url('images/16x16/company.png') !important;
		width:16px;
		height:16px;
	}
	&-GO_Addressbook_Model_Addresslist{
		background-image: url('images/16x16/templates.png') !important;
		width:16px;
		height:16px;
	}
}

// TICKETS
.ti-seen, .ti-unseen, .ti-late {
	td.x-grid3-td-first_column .x-grid3-cell-inner {
		padding: 0;
	}
}


// EMAIL 
.ml-unseen-row {
	//background-color:white;
}
.ml-unseen-from {
	font-weight: bold;
}
.ml-unseen-subject {
	font-weight: normal;
}

.ml-seen-subject, .ml-unseen-subject {
	@extend %font-body2;
}

i.icon.em-priority_high {
	color: #bb0000;
}

i.icon.em-low_priority {
	color: #00ccff;
}


.x-tree-node .ml-folder-unseen a .em-folder-status { // badge
	@extend %badge;
	
}
.em-folder-status {
	float:right;
}

.ml-unseen-dot {
	@include var(background-color, c-primary);
	width: 9px;
	height: 9px;
	margin: dp(2);
	border-radius: 50%;
	float: right;
}

.x-grid3-col-icon {
	text-overflow: initial;
	white-space: normal;
	i {
		font-size: dp(16);
		float: right;
		width: dp(16);
		height: dp(16);
		color: color($fg, 'secondary-text');
	}
}

.x-grid3-col-icon {
		i {
			&.em-flag {
				color: $cDanger;
			}
	}
}

.message-body{
	background-color: white;
	position: relative;
	color: black;

	> {
		color:inherit;
	}
	
	p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{
		margin-top:0cm;
		margin-right:0cm;
		margin-bottom:0cm;
		margin-left:36.0pt;
		margin-bottom:.0001pt;
		font-size:11.0pt;
	}

	.msg {
		padding: dp(16);

		img {
			// no horizontal scrolling in email
			max-width: 100% !important;
		}
	}
}

#email-message-panel {
	.x-panel-body {
		background-color: color($bg, 'box');
	}
}

.message-header-table{
	float:left;
	margin-right: dp(72);
	margin-bottom: dp(8);
}

.message-header {
	position: relative;
	border-bottom:1px solid color($fg, "line");
	padding: dp(8) dp(16);
		
	b {
		@extend %font-caption;
	}
	
	.avatar {
		width: dp(64);
		height: dp(64);
		line-height: dp(64);
		font-size: dp(24);
		position: absolute;
		top: dp(16);
		right: dp(16);
	}
	
	.x-form-checkbox {
		margin-left: 0;
	}
}

.mo-description {
	padding-left: dp(40);
}



.cal-has-links{
	//background:url(../../../../views/Extjs3/themes/Default/images/attach.gif) no-repeat center 3px;
	@extend %icon;
	font-size: dp(16);
	&:before {
		content: "link";
	}
	float:right;
}

.go-attachments {
	span {
		cursor: pointer;

		&.x-view-selected {
			background-color: color($bg, 'selected');
		}
		&.x-view-over {
			background-color: color($bg, 'hover');
		}

		i {
			cursor: pointer;
			display: none;
		}
		&.x-view-selected, &.x-view-over {
			i {
				display: inline-block;
			}
		}
	}
}

//Bookmarks
.chooseIcon {
	margin-top:10px;
	margin-left:50%;
	position:relative;
	display:inline-block;
	padding:0;
	background: url(#{$resourcePath}img/default-avatar.svg) no-repeat center center;
	background-size:cover;	
	border-radius: 50%;
	width:dp(40);
	height: dp(40);
	font-size: dp(28);	
	text-align: center;	
	
	.icon {
		color: red;
		line-height: dp(40);
		font-size: inherit;			
		height: 100%;
		width: 100%;
	}

	.go-detail-view & {
		//float:left; ?? why?
		margin-top:dp(4);
		margin-right: dp(16);
	}
	
	.x-btn {
		border: 0;
	}
	
	&.group {
		&::before {
			content: "group";			
		}
		background: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.24));	
	}
}



.finance-document-item-group-title {
	display: none;
}
