$app-icons: (
 addressbook: contacts_alt1,
 calendar: calendar_lg,
 summary: task_manager_lg,
 groups: contacts_lg,
 users: contacts_lg,
 workflow: photoaffix,
 tasks: quickmemo_lg,
 tickets: google_messenger_red,
 files: explorer,
 notes: color_note,
 timeregistration2: clock_lg,
 leavedays: chronus,
 bookmarks: browser,
 site: browser,
 cron: studio_lg,
 customfields: instapaper_alt,
 billing: google_opinion_rewards_alt,
 modules: google_play_services,
 tools: settings_lg,
 projects2: android_for_work,
 email: email_alt,
 postfixadmin: boxer_email,
 filesearch: applicationreader,
 hoursapproval2: clock_green,
 admin2userlogin: contacts,
 voip: dialer_green,
 announcements: we_chat,
 reminders: bell,
 zpushadmin:phone_blue_grey,
 log: notebook_lg,
);


//#startMenu {
//	@each $module, $icon in $app-icons {
//		.go-module-icon-#{$module}, .go-menu-icon-#{$module}{
//			background-image:url('img/icons/#{$icon}.png') !important;
//		}
//	}
//}
/*
#startMenu.x-menu {
	width: 100%;
	max-height:100%;
	height:100%;
	opacity: 1; 
	transition: opacity 300ms $curve-sharp;
	background-color: color($bg, 'app-bar');
	&.x-hide-offsets {
		opacity: 0;
		ul {
			transform: scale(.9);
		}
	}
	ul {
		box-sizing: border-box;
		padding: dp(32) 20%;
		transform: scale(1);
		transition: transform 200ms $curve-sharp;
		margin: 0 auto;
		height:auto !important;
		max-height: 100%;
		text-align: justify;
		overflow-y: auto;
	}
	a.x-menu-item{
		padding:0;
		height: dp(112);
		width: dp(128);
		margin:0 !important;
		cursor: pointer;

	}
	#x-menu-el-go-start-menu-admin-menu {
		width: 100%;
		padding: dp(16) dp(40);
		margin:0;
		.menu-title {
			color: white;
			text-align:left;
			padding:0;
			border-bottom: 1px solid color($fg-dark, 'divider');
		}
	}
	li {
		border-radius: 4px;
		text-align:center;
		margin: dp(8) dp(24);
		display:inline-block;
	}
	img {
		cursor: pointer;
		width: dp(72);
		height: dp(72);
		padding: 0;
		background-position: center center;
		background-size:contain;
	}
	.x-menu-item-text {
		@extend %font-data;
		display:block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		color: white;
		text-shadow: 0px 1px 0px color($fg, 'unfocused');
	}
	.x-menu-scroller {
		height: 0px;
	}
	.x-menu-item-active{
		background-color: color($fg, 'unfocused');
	}
}
*/

.go-model-icon{
	&-GO_Addressbook_Model_Contact {
		background-image: url('images/16x16/contact.png') !important;
		width:16px;
		height:16px;
	}
	&-GO_Addressbook_Model_Company
	{
		background-image: url('images/16x16/company.png') !important;
		width:16px;
		height:16px;
	}
	&-GO_Addressbook_Model_Addresslist{
		background-image: url('images/16x16/templates.png') !important;
		width:16px;
		height:16px;
	}
}

// TICKETS
.ti-seen, .ti-unseen, .ti-late {
	td.x-grid3-td-first_column .x-grid3-cell-inner {
		padding: 0;
	}
}


// EMAIL 
.ml-unseen-row {
	background-color:white;
}
.ml-unseen-from {
	font-weight: bold;
}

.ml-seen-subject, .ml-unseen-subject {
	@extend %font-body2;
}


.x-tree-node .ml-folder-unseen a .em-folder-status { // badge
	@extend %badge;
	
}
.em-folder-status {
	float:right;
}

.ml-unseen-dot {
	@include var(background-color, c-primary);
	width: dp(8);
	height: dp(8);
	margin: dp(4);
	border-radius: 50%;
	float: right;
}

.x-grid3-col-icon {
	text-overflow: initial;
	white-space: normal;
	i {
		font-size: dp(16);
		float: right;
		width: dp(16);
		height: dp(16);
		color: color($fg, 'secondary-text');
	}
}

.x-grid3-col-icon {
		i {
			&.em-flag {
				color: color($red, 700);
			}
	}
}

.message-body {
	padding: dp(8) dp(16);

	position: relative;	
	
	p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{
		margin-top:0cm;
		margin-right:0cm;
		margin-bottom:0cm;
		margin-left:36.0pt;
		margin-bottom:.0001pt;
		font-size:11.0pt;
	}
}

.message-header {
	position: relative;
	background-color: color($bg, "background");
	border-bottom:1px solid color($fg, "line");
	padding: dp(8) dp(16);
		
	b {
		@extend %font-caption;
	}
	
	.avatar {
		width: dp(64);
		height: dp(64);
		position: absolute;
		top: dp(16);
		right: dp(16);
	}
	
	.x-form-checkbox {
		margin-left: 0;
	}
}




//TASK filter
.x-form-radio-group.x-column-layout-ct {
	margin-top:dp(16);
}

.mo-description {
	padding-left: dp(40);
}



.cal-has-links{
	//background:url(../../../../views/Extjs3/themes/Default/images/attach.gif) no-repeat center 3px;
	@extend %icon;
	font-size: dp(16);
	&:before {
		content: "link";
	}
	float:right;
}

/* hide selection */
.cal-date-picker .x-date-inner .x-date-selected {

	> a {
	background-color: transparent;
	color: color($fg, 'text');
	font-weight: normal;
	}
	span {
		font-weight: normal;
	}

	&.x-date-today {
		> a {
			@include var(color, c-primary);
		}
	}
}