@use "utils";


// $font-family:  -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family: Lato, sans-serif !default;

$font-weight-r: normal;
$font-weight-m: bold;
$font-weight-l: 100;

%font-button {
	font-size: utils.sp(15);
	font-weight: $font-weight-m;
	letter-spacing: 0.022em;
	text-decoration: none;
}

%font-caption { //Used as labels and grid headers
	font-size: utils.sp(15);
	font-weight: $font-weight-r;
	color: var(--fg-secondary-text);
}

%font-body1 {
	font-size: utils.sp(16);
	color: var(--fg-text);
	font-weight: $font-weight-r;
	line-height: utils.dp(24);
	.primary & { color: white; }

	@media print {
		font-size: 12px;
		line-height: 18px;
	}
}

%font-body2 {
	font-size: utils.sp(15); //14 for big screen | device
	line-height: utils.dp(22);
	font-weight: $font-weight-m;
}

%font-data {
	font-size: utils.sp(16);
	font-weight: $font-weight-r;
}
%font-data-head {
	font-size: utils.sp(12);
	line-height: utils.sp(16);
	font-weight: $font-weight-m;
	color: var(--fg-secondary-text);
}

%font-subheading {
	font-size: utils.sp(16);
	line-height: utils.dp(24);
	letter-spacing: 0.4px;
	color: var(--fg-text);
	font-weight: $font-weight-r;
}

%font-label {
	font-size: utils.sp(12);
	line-height: utils.dp(16);
	color: var(--fg-secondary-text);
	font-weight: $font-weight-r;
}

%font-subheading-dense {
	font-size: utils.sp(13);
	color: var(--fg-secondary-text);
	font-weight: $font-weight-r;
}

%font-title {
	font-size: utils.sp(18);
  line-height: utils.dp(24);
	font-weight: $font-weight-r;
	letter-spacing: 0.6px;
	color: var(--fg-text);
}

%font-headline {
	font-size: utils.sp(24);
	line-height: utils.dp(32);
	font-weight: $font-weight-r;
	letter-spacing: 0.6px;
	color: var(--fg-text);
}

%font-display1 {
	font-size: utils.sp(34);
	line-height: utils.dp(40);
	font-weight: $font-weight-r;
	letter-spacing: 0.6px;
	color: var(--fg-text);
}
