

// $font-family:  -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family: Lato, sans-serif !default;

$font-weight-r: normal;
$font-weight-m: bold;
$font-weight-l: 100;

@function letter-space($space, $font-size) {
	@return (($space / $font-size)  * $density / 160) * 1em;
}

%font-button {
	font-size: sp(14);
	font-weight: $font-weight-m;
	letter-spacing: 0.015em;
	text-decoration: none;
}

%font-caption {
	font-size: sp(12);
	font-weight: $font-weight-r;
	color: color($fg, 'secondary-text');
}

%font-body1 {
	font-size: sp(16);
	color: color($fg, 'text');
	font-weight: $font-weight-r;
	line-height: dp(24);
	.primary & { color: white; }

	@media print {
		font-size: 12px;
		line-height: 18px;
	}
}

%font-body2 {
	font-size: sp(14); //14 for big screen | device
	line-height: dp(20);
	font-weight: $font-weight-m;
}

%font-data {
	font-size: sp(16);
	font-weight: $font-weight-r;
}
%font-data-head {
	font-size: sp(12);
	font-weight: $font-weight-m;
	color: color($fg, 'secondary-text');
}

%font-subheading {
	font-size: sp(16);
	line-height: dp(24);
	color: color($fg, 'secondary-text');
	font-weight: $font-weight-r;
}

%font-label {
	font-size: sp(12);
	color: color($fg, 'secondary-text');
	font-weight: $font-weight-r;
}

%font-subheading-dense {
	font-size: sp(13);
	color: color($fg, 'secondary-text');
	font-weight: $font-weight-r;
}

%font-title {
	font-size: sp(20);
  line-height: dp(24);
	font-weight: $font-weight-m;
}

%font-headline {
	font-size: sp(24);
	line-height: dp(32);
	font-weight: $font-weight-r;
}

%font-display1 {
	font-size: sp(34);
	line-height: dp(40);
	font-weight: $font-weight-r;
}
