@use "sass:math";

@function density($size) {
	@return $size / 160 * 62.5%
}
@function dp($width) {
	@return $width * .1rem;
}
@function sp($size) {
	@return $size * $font-scale *.1rem;
}

%icon {
	display: inline-block;
	font-family: 'Icons';
	font-weight: normal;
	font-style: normal;
	font-size: dp(24);  /* Preferred icon size */
	color:inherit;
	width: auto;
	height: auto;
	text-transform: none;
	letter-spacing: normal;
	vertical-align:middle;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased; // Support for all WebKit browsers.
	text-rendering: optimizeLegibility; // Support for Safari and Chrome.
	-moz-osx-font-smoothing: grayscale; // Support for Firefox.
	font-feature-settings: 'liga'; // Support for IE
	line-height: normal;
}