@import 'base';
@import 'lato';
body, html {
	@extend %font-body1;
	color: color($fg, 'text');
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	height: 100%;
}

button, html, input, select, textarea {
	font-family: $font-family;
}

h1 { @extend %font-display1; }
h2 { @extend %font-headline; }
h3 { @extend %font-title; }
h4 { @extend %font-subheading; }
h5 { @extend %font-subheading-dense; }
h6 { @extend %font-data-head; }

code {
	border: 1px solid color($fg, 'line');
	background-color: color($bg, 'background');
	padding: dp(8);
	margin: dp(16) 0;
	display: block;
	font-family: "Courier New",Courier,monospace;
	color: color($fg, 'base');
	border-radius: dp(4);
}

p {
	margin: dp(16) 0;
}

ul{
	display: block;
	list-style-type: disc;
	list-style-position: inside;
	margin: 0;
	padding: 2px;
}

ol {
	display: block;
	list-style-type: decimal;
	list-style-position: inside;
	margin: 0;
	padding: 2px;
}
