/*
 * Convert transparent color to hex value by given background
 */
h6 {
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.64); }
h4 {
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.4px;
	color: rgba(0, 0, 0, 0.87);
	font-weight: normal; }
h5 {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.64);
	font-weight: normal; }
h3 {
	font-size: 16px;
	line-height: 21px;
	font-weight: normal;
	letter-spacing: 0.6px;
	color: black; }
h2 {
	font-size: 21px;
	line-height: 28px;
	font-weight: normal;
	letter-spacing: 0.6px;
	color: black; }
h1 {
	font-size: 30px;
	line-height: 35px;
	font-weight: normal;
	letter-spacing: 0.6px;
	color: black; }
body, p, span, div {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.87);
	font-weight: normal;
	line-height: 21px; }
code {
	border: 1px solid rgba(0, 0, 0, 0.12);
	background-color: #fafafa;
	padding: 7px;
	margin: 14px 0;
	display: block;
	font-family: "Courier New",Courier,monospace;
	color: black;
	border-radius: 3.5px; }
p {
	margin: 0; }
ul {
	display: block;
	list-style-type: disc;
	list-style-position: outside;
	margin: 0;
	padding: 0 0 0 2em; }
ol {
	display: block;
	list-style-type: decimal;
	list-style-position: outside;
	margin: 0;
	padding: 0 0 0 2em; }
ol > ol {
	list-style-type: lower-alpha; }
ol > ol > ol {
	list-style-type: lower-roman; }


@media (max-device-width:1200px) {
	/*
 * Convert transparent color to hex value by given background
 */
	h6 {
		font-size: 13px;
		line-height: 16px;
	}
	h4 {
		font-size: 16px;
		line-height: 24px;
	}
	h5 {
		font-size: 14px;
	}

	h3 {
		font-size: 18px;
		line-height: 24px;
	}

	h2 {
		font-size: 27px;
		line-height: 32px;
	}

	h1 {
		font-size: 24px;
		line-height: 40px;
	}

	body, p, span, div {
		font-size: 16px;
	}

	code {

		padding: 8px;
		margin: 16px 0;
		display: block;
		border-radius: 4px;
	}
}


