forum
.vscode
.gitmodules
/nbproject
/build/config.php
/build/deploy
/*-license.txt
/www/*-license.txt
.idea
/www/vendor
/config.php
/www/config.php
/**/*.css
/**/*.css.map
/config.ini
/www/config.ini
/www/promodules
/www/duurzaamgebouw
/tests/data
/www/go/modules/*
!/www/go/modules/community
/www/modules/*
!/www/modules/addressbook
!/www/modules/sync
!/www/modules/z-push
!/www/modules/zpushadmin
!/www/modules/caldav
!/www/modules/carddav
!/www/modules/admin2userlogin
!/www/modules/bookmarks
!/www/modules/calendar
!/www/modules/calendarexport
!/www/modules/chat
!/www/modules/comments
!/www/modules/cron
!/www/modules/customcss
!/www/modules/customfields
!/www/modules/dav
!/www/modules/defaultsite
!/www/modules/demodata
!/www/modules/dropbox
!/www/modules/email
!/www/modules/favorites
!/www/modules/files
!/www/modules/formprocessor
!/www/modules/freebusypermissions
!/www/modules/googledrive
!/www/modules/groups
!/www/modules/imapauth
!/www/modules/ipwhitelist
!/www/modules/ldapauth
!/www/modules/log
!/www/modules/manualsite
!/www/modules/mediawiki
!/www/modules/modules
!/www/modules/notes
!/www/modules/phpbb3
!/www/modules/phpcustomfield
!/www/modules/postfixadmin
!/www/modules/presidents
!/www/modules/reminders
!/www/modules/search
!/www/modules/serverclient
!/www/modules/settings
!/www/modules/sieve
!/www/modules/site
!/www/modules/smime
!/www/modules/summary
!/www/modules/tasks
!/www/modules/tools
!/www/modules/users
!/www/modules/webodf
.DS_Store
.sass-cache
lang.csv
.gitmodules
/www/branding
/.project
