body {font-size: 12px; font-family: arial;}
h1 {font-size: 16px;}
h2 {font-size: 14px;}
h3 {font-size: 12px;}
table {width:100%; border-collapse: collapse; margin:10px 0px;}
table td {padding:0px;}
table td:first-child{width:100px; height:24px}
table th {text-align: left;}

input[type=text],input[type=password],input[type=email], select {
	border:1px solid #aaa; 
	padding:1px;
	margin:2px;
	font: 12px arial;
	line-height:16px;
	width:200px;
}

label{width:150px;display:block}
#Contact_sex label{width:100px;}

textarea {width:350px; height:80px;border:1px solid #aaa; }

.clear {clear:both;}
.wrapper {width:980px; background-color: #fff; padding:10px;}
.error {color:red;}
.button {box-sizing:content-box; text-align:center; width: 100px; display:block; cursor:pointer; border:1px solid #aaa; padding:5px; margin:5px 0px; font-size: 12px; text-decoration: none; color:#000;background-color:#f1f1f1;line-height:16px;}
.button:hover{background-color:#ddd}


#reset-login-button {float:left;}
#submit-login-button {float:left;}
#recover-login-button {float:left; margin-left:5px;}
#submit-forgotpassword-button {float:left; margin-left:5px;}
#register-submit-button {float:left; margin-left:5px;}

/*#reset-login-button {background-color: #99FF99;float:left;}
#reset-login-button:hover {background-color: #88FF88;}

#submit-login-button {background-color: #99FF99;float:left;}
#submit-login-button:hover {background-color: #88FF88;}

#recover-login-button {background-color: #9999FF;float:left; margin-left:5px;}
#recover-login-button:hover {background-color: #8888FF;}

#submit-forgotpassword-button {background-color: #99FF99;float:left; margin-left:5px;}
#submit-forgotpassword-button:hover {background-color: #88FF88;}

#register-submit-button {background-color: #9999FF;float:left; margin-left:5px;}
#register-submit-button:hover {background-color: #8888FF;}*/


/* for anti spam */
.contact-form-url {
	display: none;
}