cms\:plugin{
border:1px dashed red;
display:block;
padding:5px;
color: red;
background-color:#f1f1f1;
}


.mceItemHiddenSpellWord {
background:url(../../javascript/tiny_mce/plugins/spellchecker/img/wline.gif) repeat-x bottom left;
cursor:default;
}