.go-module-icon-servermanager , .go-menu-icon-servermanager{
	background:url('images/servermanager.png');
}

.go-tab-icon-servermanager {
	background-image: none !important;
}
.go-link-icon-13 {
	background-image: url('images/servermanager.png') !important;
}

.installation-disabled td{
	color: red;
}