parameters:

    level: 3

    parallel:
        processTimeout: 100.00
    fileExtensions:
        - php

    paths:
        - ../www/api
        - ../www/go

    excludePaths:
        - */vendor/*
        - ../www/go/modules/community/activesync

