<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap-install.php" colors="true" processIsolation="false" backupGlobals="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="core">
      <directory>./go/core</directory>
    </testsuite>
    <testsuite name="modules">
      <directory>./go/modules</directory>
    </testsuite>
    <testsuite name="api">
      <directory>./go/api</directory>
    </testsuite>
  </testsuites>
  <!--	<filter>
		<whitelist>
			<directory>./</directory>
			<exclude>
				<directory>./GO/Utils</directory>
			</exclude>
		</whitelist>
	</filter>-->
</phpunit>
