.go-module-icon-email , .go-menu-icon-email , .go-tab-icon-email {
	background-image: url('images/16x16/message.png') !important;
}


.btn-compose {
	background-image:url('images/16x16/message_new.png') !important;
}

.btn-reply {
	background-image:url('images/16x16/mail_reply.png') !important;
}

.btn-reply-all {
	background-image:url('images/16x16/mail_replyall.png') !important;
}



.btn-forward {
	background-image:url('images/16x16/mail_forward.png') !important;
}

.btn-reload {
	background-image:url('images/16x16/reload.png') !important;
}

.btn-flag {
	background-image:url('images/16x16/flag.png') !important;
}

.btn-attach {
	background-image:url('images/16x16/attach.png') !important;
}
.btn-accounts {
	background-image:url('images/16x16/accounts.png') !important;
}
.btn-send {
	background-image:url('images/16x16/mail_send.png') !important;
}
.btn-show {
	background-image:url('images/16x16/show.png') !important;
}

.btn-addressbook {
	background-image:url('images/16x16/addressbook.png') !important;
}
.btn-toggle-window{
	background-image:url('images/16x16/toggle_window.png') !important;
}

.ml-seen-mail{
}

.ml-unseen-mail{
 margin:0px;
 margin-bottom:4px;
 font-weight:bold;
 color:#15428B;
}

.ml-seen-from{
}

.ml-unseen-from{
	margin:0px;
	margin-bottom:4px;
	font-weight:bold;
	color:#15428B;
}

.ml-seen-subject{
	margin:0px;
	margin-bottom:4px;
	font-weight:normal;
}

.ml-unseen-subject{
	margin:0px;
	margin-bottom:4px;
}

.ml-unseen-row{
}

.ml-seen-row{
   background-color:#f6f6f6;
}

.message-header{
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size:12px;
	background-color: #c3daf9;
	border-bottom:1px solid #6593CF;
	padding-left: 5px;
}

.ml-folder-unseen a span{
	color: #15428B !important;
}

.x-tree-node img.folder-account, .x-tree-node-collapsed img.folder-account{
	background-image:  url("images/16x16/account.png");
}

.x-tree-node-expanded img.folder-account{
	background-image:  url("images/16x16/account.png");
}


.x-tree-node img.folder-default, .x-tree-node-collapsed img.folder-default{
	background-image:  url("images/16x16/folder.png");
}

.x-tree-node-expanded img.folder-default{
	background-image:  url("images/16x16/folder_open.png");
}

.x-view-over, .x-view-selected{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	margin:-1px 0 0px 0;
}
.attachment-wrap.x-view-over{
	background-color:#efefef;
}
.x-view-selected{
	background-color:#eff5fb;
}
.x-view-selected .msg-head{
	background:transparent;
}

.email-upload-pc{
	padding-left:0px !important;
	margin-left:-3px;
}

div.em-message-labels-container span {
	float: left;
	border-radius: 5px;
	padding: 3px 8px;
	line-height: 15px;
	margin-right: 5px;
	margin-bottom: 5px;
}

div.em-messages-grid-labels-container > div {
	border-radius: 4px;
	float: left;
	height: 16px;
	margin: 0 4px 4px 0;
	width: 16px;
}
