.entity.Task::before {
	content: "check";
}


#ta-notify, #ta-notify:hover{
	float:left;
	padding-left:20px;
	line-height:16px;
	background: url(images/tasks.png) no-repeat;
	height:16px;
	vertical-align:middle;
	color:white;
	font-size: 10px;
	margin-top:3px;
}

.go-module-icon-tasks , .go-menu-icon-tasks {
	background-image: url('images/tasks.png') !important;
}

.go-tab-icon-tasks {
	background-image: none !important;
}

.go-model-icon-GO_Tasks_Model_Task {
	background-image: url('images/tasks.png') !important;
	width:16px;
	height:16px;
}

.btn-new-task .x-btn-small .x-btn-text{
	padding:0px !important;
}

#tasks-new-task-icon{
	background-image: url('images/newtask.png') !important;
	height:16px;
	width:16px;
	margin-left:5px;	 
}

.tasks-completed{
	text-decoration:line-through !important;
/*	color: black !important;*/
}

.tasks-late td, a.tasks-late, td.tasks-late{
	color: red !important;
}

.tasks-active td, a.tasks-active, td.tasks-active{
	color: green !important;
}

.tasks-call{
	background-image: url('images/call.png') !important;
	width:16px;
	height:16px;
}

.img-call-add{
	background:url('images/phone-add.png') no-repeat top right !important;
	width:16px !important;
	height:16px !important;
}
