* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: rgba(0, 0, 0, 0.05); }

header {
  height: 88px;
  text-align: center;
  padding: 16px;
  margin-bottom: 8px;
  background-color: #243a80;
  color: white; 
}

pre {
	font-family: Helvetica, Arial, sans-serif;
	overflow: auto;
	font-size: 12px;
}

header img {
	height: 40px;
	display: inline-block;
}

section {
  width: 700px;
  margin: 0 auto; }

.error {
  color: red; }

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.87); }

fieldset, .card {
  border: none;
  background-color: white;
  margin-bottom: 16px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  overflow: hidden; }
.card {
	padding: 20px;
}
label {
  width: 80%;
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: .8rem;
  letter-spacing: 0.04em;
  display: inline-block;
	color: #666;
}

input:not([type=checkbox]):not([type=radio]) {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  padding: 0 0 8px;
  border: none;
  transition: background-color 180ms cubic-bezier(0.4, 0, 0.2, 1), transform 180ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  background: none;
  font-size: inherit;
  -webkit-appearance: none; }
input:focus {
	outline: none;
	border-bottom: 2px solid #212121; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
	transition-delay: background-color 5000s, color 5000s;
	-webkit-text-fill-color: #2a2a2a;
}

*[disabled] {
	opacity: 0.65; 
	cursor: not-allowed;
}

button, a.button {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
  min-width: 88px;
  font-family: Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.87);
  display: inline-block;
  position: relative;
  min-width: 64px;
  height: 36px;
  padding: 0 16px;
  border: none;
  border-radius: 2px;
  outline: none;
  float: right;
  background-color: #689F38;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden; }

footer {
  line-height: 72px;
  text-align: center;
  clear: both; }

code {
  background-color: #f1f1f1;
  font: 12px courier;
  color: black;
  padding: 12px;
  display: block;
  margin: 12px 0;
  white-space: pre;
}
