@import "../../../../../../../../views/Extjs3/themes/Paper/src/_base.scss";

%event {
  @extend %font-body2;
  cursor:pointer;
  word-wrap: break-word;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: $borderRadius;
  background-color: $cPrimary;
  border-left: 3px solid rgba(0,0,0,.4);
  color: white;
  padding: dp(4) dp(8);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.38);
  text-align:left;
  &::first-letter {
    text-transform: capitalize;
  }
  // &:hover {
  //
  // }
  &.new {
    background-color:white !important;
    border-width: 1px;
    border-style: solid;
  }
  &.declined {
    text-decoration: line-through;
  }
  &.tentative {
    opacity: .6;
  }
  i {
    font-size: inherit !important;
    color:inherit;
    min-height:dp(16);
    height:dp(16);
    width:dp(16);
    min-width: dp(16);
  }
}
%multiday {
  &.start { margin-right:0; overflow:hidden; border-radius: 2px 0px 0px 2px; border-right: none; }
  &.mid { margin-left:-3px; margin-right:-3px; border-radius: 0; text-indent: -9999px; border-width: 1px 0 1px 0; }
  &.end { margin-left:0; margin-right:0; border-radius: 0px 2px 2px 0px; text-indent: -9999px; border-left: none;}
  span.event-ghost { background-color:transparent; border-left:0; }
}

// %nowbar {
// 	border-color:$cPrimary;
// 	position:absolute;
// 	z-index:1;
// 	border-bottom: 1px solid $cPrimary;
// 	width:100%;
// 	&:after {
// 		content: '';
// 		position:absolute;
// 		left:-8;
// 		height:8px;
// 		width:8px;
// 		margin-top:-4px;
// 		margin-left:-4px;
// 		border-radius: 50%;
// 		background-color:$cPrimary;
// 	}
//}

.yearview {
  position: absolute;
  background-color: color($bg, 'card');
  width: 100%;
  min-height: 560px;
  top: 0;
  bottom: 0;
  overflow: hidden;
  > div {
    position: relative;
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 1.8%;
    width: 25%;
    height: 33.33333%;
  }
  table {
    color: color($fg, 'secondary-text');
    height: 90%;
    width: 100%;
    caption { // month name
      cursor: pointer;

      //font-size: 1.2em;
      padding-bottom: 0.8em;
      &.current{
        color: $cPrimary;
      }
    }
    th {
      height: 20px;
    }
    td {
      &.today {
        font-weight:500;
        color:$cPrimary;
      }
      &.past {
        color: color($fg, 'disabled-text');
      }
    }
    td, th {
      cursor: default;
      position: relative;
      font-size: .8em;
      text-align: center;
      vertical-align: top;
      overflow: hidden;
      >div {
        position:absolute;
        top: 15px;
        width:100%;
        height:6px;
        line-height:6px;
        text-align: center;
        > p {
          display:inline-block;
          border-radius: 50%;
          width:6px;
          height:6px;
          padding:0;
          margin:0;
          background-color: $cPrimary;
        }
      }
    }
    td.weeknb {
      color: color($fg, 'line');
    }
  }

}

.cal {
  li {
    color:color($fg,'text');
    &.today {
      color:$cPrimary;
      > em {
        border-color: $cPrimary;
        font-weight:500;
        color:$cPrimary;
      }
    }
    &.past, &.other { color: color($fg, 'secondary-text'); }
    &.other { background-color: color($bg, 'background'); } // another month
  }
  .now {
    position: absolute;
    pointer-events: none;
    left: dp(64);
    right: 0;
    z-index:10;
    > hr {
      //background-color: $cPrimary;
      border: 1px dashed $cPrimary;
      height: 1.5px;
      margin:0;
    }
    > b { // dot
      width: dp(16);
      height: dp(16);
      border-radius: 50%;
      box-shadow: 0 0 0 2px color($bg, 'card');
      left: 14.4%;
      position:absolute;
      display:block;
      transform: translate(-50%, -50%);
      background-color: $cPrimary;
    }
    > span { // time display
      margin-left: dp(-64);
      background-color: $cPrimary;
      color: white;
      height: dp(24);
      line-height: dp(24);
      white-space: nowrap;
      display:inline-block;
      text-align:right;
      width: dp(56);
      transform: translateY(-50%);
      &:before { // arrow
        content: '';
        background-color: $cPrimary;
        z-index:-1;
        border-radius: 2px;
        position:absolute;
        right: dp(-16);
        top: 4px;
        width: dp(18);
        height: dp(18);
        transform: rotate(45deg); transform-origin: center top;
      }
    }
  }
}

.cal.month {
  background-color: color($bg, 'card');
  display: flex;
  flex-direction: column;
  ul { // header
    padding-left: dp(24); // for weeknbs
    @extend %font-caption;
    display:flex;
    border-bottom: 1px solid color($fg, 'line');
    //background-color: color($bg, 'status-bar');
    height: dp(32);
    > li { //weekdays
      color:color($fg,'secondary-text');
      line-height: dp(32);
      text-align: center;
      &.current {
        color: $cPrimary;
      }
    }
  }
  ol { // week row
    display:flex;
    flex: 1 0 0;
    position:relative;
    align-items: stretch;
    border-top: 1px solid color($fg, 'divider');
    > li{ // day
      &:not(.events):hover { background-color: $cHover;}
      &.events {
        position:absolute;
        margin-left: dp(24); // week numbers
        width: calc(100% - 18px);
        overflow:hidden;
        bottom: 0;
        top: 0;
        > div {
          @extend %event;
          @extend %multiday;
          position:absolute;
          > span { //time
            float:right;
            font-weight:100;
          }
        }
      }
      &.weeknb  {
        text-align: center;
        color : color($fg, 'secondary-text');
        border-right: 1px solid color($fg, 'divider');
        font-size: .8em;
        max-width: dp(24);
        font-weight: 300;
      }
    }
  }
  li {
    flex: 1 0 0;
    color: color($fg, 'text');
    &:focus {
      outline: none;
      box-shadow: none;
    }
    > em { // date number
      font-style: normal;
      display:block;
      text-align:center;
      border-top: 2px solid transparent;
      //width: dp(24);
      height: dp(24);
      line-height: dp(24);
    }
  }
}

$hourHeight: 7vh;
$halfHour : 3.5vh;

.cal.week {
  background-color: color($bg, 'card');
  display: flex;
  flex-direction: column;
  > ul { //header + all-day
    &:first-child { // header
      @extend %font-caption;

      min-height: dp(36);
      > li {
        //background-color: color($bg, 'status-bar');
        line-height: dp(24);
        padding: dp(4);
        font-size: 1.2em;
        text-align: center;
        > em { // date number
          font-style: normal;
          color: inherit;
          margin-left: dp(8);
          padding: dp(4) 0;
          font-size: 1.2em;
          //border: 1px solid currentColor;
        }
      }
    }
    display:flex;
    padding-right: 7px ; // for scrollbar
    max-height: dp(212); // x all-day events fit
    border-bottom: 2px solid color($fg, 'divider');
    .event { margin: dp(4) dp(4) dp(4) 0;}
  }
  > ol { // has 7 li's for days
    overflow-y: scroll;
    position: relative;
    display:flex;
    flex-grow: 1000;
    > li {
      position:relative;
      overflow:hidden;
      height: 24*$hourHeight;
      background: linear-gradient(180deg, color($fg, 'line') 1px, transparent 1px);
      background-size: 100% $hourHeight;
      background-repeat:repeat-y;
      &:first-child { // time display
        position:initial;
        background-size: 8px $hourHeight;
        background-position: top right;
        border-right:0;
        > em{ //time
          //&:first-child { height: dp(62);} // move all up 4 dp
          font-style: normal;
          display:block;
          font-size:.9em;
          height: $hourHeight;
          color:color($fg, 'secondary-text');
          text-align:right;
          padding: 0 dp(15) 0 0;
          line-height: 0; // move text to top of box
        }
      }
      .event{
        transition: all .1s ease-out;
        position:absolute;
        width: 99.8%;
      }
    }
  }
  li {
    flex: 5 0 0;
    border-right: 1px solid color($fg, 'divider');
    &:nth-child(7), &:nth-child(8) { // weekend
      background-color: color($bg, 'button');
    }
    &:first-child { // weeknr
      max-width: dp(64);
    }
  }
  .event {
    @extend %event;
    overflow:visible !important;
    > span { //time
      display:block;
      font-weight:200;
    }
    // handle bars
    &:before, &:after {
      content: '';
      position:absolute;
      left:0; right:0;
      height: 4px;
      cursor: row-resize;
    }
    &:before {top:-2px;}
    &:after {bottom:-2px;}
  }
}

.weekview.time {
  table-layout: fixed;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
  background-color: color($bg, 'card');
  th { height: dp(40); }
  td {
    vertical-align: top;
    position: relative;
    border-right: 1px solid color($fg, 'divider');
    > div {
      position: absolute;
      overflow:auto;
      top: dp(8);
      left: dp(8);
      right: dp(8);
      bottom:0;
      background: linear-gradient(180deg, transparent, transparent dp(36), color($fg, 'divider') dp(36), color($fg, 'divider') dp(36));
      background-size: 100% dp(36)+1px;
      //background: repeating-linear-gradient(transparent, transparent dp(36), color($fg, 'divider') dp(36), color($fg, 'divider') dp(36)+1px);
      > div { // time entry
        @extend %font-caption;
        border-radius: $borderRadius;
        padding:dp(8);
        color: rgba(255,255,255,.86);
        background-color: #B94B4D;
        min-height: dp(104);
        margin-bottom: dp(8);
        position: relative;
        cursor: pointer;
        &.planned {
          background-image: linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px),
          linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
          background-size: 10px 10px;

        }
        span {
          color: rgba(255,255,255,.54);
        }
        sub {
         // @extend %font-subtitle2;
          left:dp(8);
          color: rgba(255,255,255,.86);
          bottom:dp(8);
          position:absolute;
          > em {
            font-size: .7em;
            font-style: normal;
            margin-left: dp(8);
            top: dp(-8);
            color: rgba(255,255,255,.54);
          }
        }
      }
    }
    button {
      width: 100%;

    }
  }
}