<?php
$config['db_name'] = "groupoffice";
$config['db_host'] = "localhost";
$config['db_user'] = "groupoffice";
$config['db_pass'] = "secret";
$config['db_port'] = 3306;
$config['file_storage_path'] = "/var/lib/groupoffice";
$config['tmpdir'] = "/tmp/groupoffice";
$config['debug'] = false;

// Some servers don't support simultanous connections. Then SSE has to be disabled.
$config['sseEnabled'] = true;
