.smi-sign-notification{
	text-decoration:underline;
	cursor:pointer;
}
.smi-encrypt-notification i, .smi-sign-notification i {
	margin-right: 6px;
}

.smi-invalid { color:red;}
.smi-valid { color:green;}
.smi-certemailmismatch{ color:orange;}