.em-composer {
  .x-html-editor-wrap {
    textarea {
      color: black;
      background-color: white; //These styles are copied to the html editor iframe by ExtJS
    }
  }
}

.x-form{
  &-invalid, textarea.x-form-invalid {
    border-color: rgba($cDanger,0.54);
    background-color: color($bg, 'box');
  }
}
.x-form-item label.x-form-invalid-label {
  background-color: color($bg, 'box');
}

.go-html-formatted {
  a:visited {
    color: #B39DDB;
  }

}