@use '../../../../../../../views/goui/goui/style/_util.scss' as *;
@use '../../../../../../../views/goui/goui/style/_config.scss' as *;

%font-caption {
	//text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2em;
	color: $colorTextSecondary;
}

%event {
	position: absolute;
	cursor: pointer;
	word-wrap: break-word;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: dp(4);
	height:dp(24);
	padding: dp(2) dp(6);
	text-align: left;
	user-select: none;
	> em, > span {
		color: $colorText;
	}
	> em {
		mask-image: linear-gradient(to right, white 80%, transparent);
		//text-overflow:ellipsis; // this is ugly
		overflow:hidden;
		flex: 1 1 auto;
	}
	> span {
		text-align:right;
		white-space: nowrap;
		font-weight: 400;
		font-size: .85em;
		color:$colorTextSecondary;
	}
	&::first-letter {
		text-transform: capitalize;
	}
	&.new {
		background-color: white !important;
		border-width: 1px;
		border-style: solid;
	}
	&.allday,&.multiday, dd > & {
		background-color: color-mix(in srgb, currentColor 56%, transparent);
		//background-color:currentcolor;
		> i {color:$colorTextSecondary;}

	}
	//&.multiday {
	//	box-shadow: inset 0 0 0 1px color-mix(in srgb, currentColor 76%, transparent);
	//}
	&.selected {
		//filter: brightness(80%);
		background-color: currentColor;
		color:white;
		> *, &:not(.allday)::before {color:white; }
	}
	&.declined {
		em {
			text-decoration: line-through;
		}
	}

	&.undecided {
		border: 1px dashed $colorText;
		color: $colorText;
		//background-color:transparent;
		opacity: .6;
	}

	&.tentative {
		opacity: .6;
	}


	i {
		display:inline-block;
		font-size: inherit !important;
		color: inherit;
		min-height: dp(16);
		height: dp(16);
		width: dp(16);
		min-width: dp(16);
		margin-right:dp(4);
	}
}

.yearview {
	background-color: $colorBackground;
	//min-height: 560px;
	border-top: $borderWidth solid $colorBorder;
	height: 100%;
	overflow-y:scroll;
	display:flex;
	gap:dp(16);
	flex-wrap: wrap;
	justify-items: center;
	justify-content:space-evenly;
	flex:1;
	align-items: center;
	> div {
		flex:1 1 24%;
		min-width: dp(200);
		//min-height: dp(240);
		//min-width: 25%;
		//padding: 0 dp(16);
	}

	table {
		color: $colorTextSecondary;
		height: 100%;
		min-height: dp(210);
		max-width: dp(340);
		width:100%;
		margin: 0 auto;
		caption { // month name
			cursor: pointer;
			text-align: center;
			//font-size: 1.2em;
			padding: dp(8) 0 dp(4);

			&.current {
				color: $colorPrimary;
			}
		}

		th {
			@extend %font-caption;
			height: 20px;
		}

		td {
			>span{cursor: pointer;}
			&.today {
				font-weight: 500;
				color: $colorPrimary;
			}

			&.past {
				opacity: .7;
			}
		}

		td, th {
			cursor: default;
			position: relative;
			text-align: center;
			vertical-align: top;
			overflow: hidden;

			> div {
				position: absolute;
				top: 15px;
				width: 100%;
				height: 6px;
				line-height: 6px;
				text-align: center;

				> p {
					display: inline-block;
					border-radius: 50%;
					width: 6px;
					height: 6px;
					padding: 0;
					margin: 0;
					background-color: $colorPrimary;
				}
			}
		}

		td.weeknb {
			cursor: pointer;
			color: $colorTextSecondary;
			//font-size: .9em;
		}
	}
}

.cal {
	i.cat {
		background-color: currentColor;
		border-radius: dp(3);
		margin:dp(2);
		vertical-align: middle;
	}
	i.icon {
		display:inline-block !important;
	}
	li {

		&.today {
			em {
				font-weight: 600;
				border-radius: 999px;
				display:inline-block;
				margin-left:dp(8);
				min-width: dp(36);
				line-height: dp(18);
				color: white !important;
				background-color:$colorPrimary !important;
			}
		}
		&.current {
			color: $colorPrimary !important;
		}
		&.past {
			//color: $colorTextSecondary;
		}
		&.weekend {
			background-color: $surfaceLow;
		}
		&.other {
			color: $colorTextPlaceholder;

		}

		// another month
	}

	.now { // the nowbar
		position: absolute;
		pointer-events: none;
		left: dp(72);
		right: 0;
		z-index: 10;

		> hr {
			//background-color: $colorPrimary;
			border-bottom: 1px dashed $colorPrimary;
			height: 1.5px;
			margin: 0;
		}

		> b { // dot
			width: dp(12);
			height: dp(12);
			border-radius: 50%;
			box-shadow: 0 0 0 2px $colorBackground;
			left: 14.4%;
			position: absolute;
			display: block;
			transform: translate(-50%, -50%);
			background-color: $colorPrimary;
		}

		> span { // time display
			margin-left: dp(-72);
			background-color: $colorPrimary;
			color: white;
			height: dp(22);
			line-height: dp(22);
			font-size: .9em;
			white-space: nowrap;
			display: inline-block;
			text-align: right;
			padding-right: dp(16);
			width: dp(72);
			transform: translateY(-54%);
			clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
		}
	}
}

.cal.month {
	display: flex;
	flex-direction: column;

	ul { // header
		@extend %font-caption;
		background-color: $surfaceMid;
		border-bottom: $borderWidth solid $colorBorder;
		display: flex;
		height: dp(40);
		align-items: center;
		> li { //weekdays
			text-align: right;
			padding:0 dp(8);
		}
		+ ol {border-top:0;}
	}

	li {
		flex: 1 0 0;
		//z-index:1;
		&:focus {
			outline: none;
			box-shadow: none;
		}
		//&[data-date] {
		//	position:relative;
		//	z-index:0;
		//}
		> sub { // weeknb
			float:left;
			text-align: center;
			padding: 0 dp(6);
			cursor: pointer;
			font-size: .7em;
			//max-width: dp(24);
			font-weight: 400;
			margin:dp(4) 0 dp(4) dp(4);
			//color:$colorTextSecondary;
			background-color: $surfaceHighest;
			border-radius: 99px;
		}
		> span { // date

			margin-top:dp(2);
			height: dp(30);
			margin-right: dp(8);
			float:right;
			line-height: dp(30);
			> em { // date number
				// position:absolute;
				font-weight: 500;
				line-height: dp(30);
				height:dp(30);
				min-width: dp(30);
				text-align:center;
				font-style: normal;
				//font-size:1.1em;
				//display: block;
			}
		}
	}
}

.cal.month, .cal.split {
	.weekend div.more {
		background-color: $surfaceLow;
	}
	ol { // week row
		background-color: $surfaceLowest;
		display: flex;
		flex: 1 0 0;
		position: relative;
		align-items: stretch;
		border-top: 1px solid $colorDivider;
		user-select:none;
		> li { // day
			border-right: 1px solid $colorDivider;
			&.showMore > div.more {
				display:block;
			}
			> div.more {
				bottom:0;
				position:absolute;
				padding-left:dp(26);
				width: 14.2%;
				background-color: $surfaceLowest;
				color: $colorText;
				display:none;
				mask-image: linear-gradient(to top, white 80%, transparent);

			}
			&:first-child,
			&:last-child { border-right:0;}
			&.events {
				position: absolute;
				//	margin-left: dp(24); // week numbers
				margin-top: dp(34); // day numbers
				width: 100%;
				overflow: hidden;
				bottom: 0;
				top: 0;
				pointer-events:none;
				> div {
					@extend %event;
					display:flex;
					align-items: center;
					pointer-events: all;
					padding-left:dp(16);
					&:not(.allday) {
						padding-left: 0;
						padding-right: 0;
						&::before {
							content: '';
							border-radius: 999px;
							width:dp(6);
							height:dp(16);
							margin: dp(5); // same width as white-space in allday events
							background-color: currentColor;
						}
					}
					&.continues {
						border-bottom-left-radius: 0;
						border-top-left-radius: 0;
					}
					> em {
						white-space: nowrap;
					}
				}
			}
		}
	}
}

$timeMargin: dp(72);

%weekhead {
	display: flex;
	scrollbar-gutter: stable;
	align-items: center;
	overflow-y:auto;
	//padding-right: 14px; // for scrollbar
	border-bottom: 1px solid $colorBorder;
	> li {
		@extend %font-caption;
		text-align: center;
		//padding: dp(4);
		> em { // date number
			font-style: normal;
			display: inline-block;
			margin-left: dp(8);
			padding: dp(8);
			font-size: 1.1em;
			color: $colorText;
			//border: 1px solid currentColor;
		}
	}
}

.cal.week {
	--hour-height: 5vh;
	height:100%;
	display: flex;
	flex-direction: column;
	> ul li:first-child { // week-nb & all-day
		font-size: .9em;
		min-height: dp(24);
		text-align: center;
		padding-top:dp(4);
	}
	.all-days { // container
		min-height: dp(24);
		position:absolute;
		left: $timeMargin;
		right:0;
		> div {
			display: flex;
			align-items: center;
			pointer-events: all;
			padding-left: dp(8);
			> em {
				white-space: nowrap;
			}
		}
		~ li {
			border-right: 1px solid var(--fg-divider);
		}
	}
	> ul { //header
		display: flex;
		scrollbar-gutter: stable;
		overflow-y:auto;
		border-bottom: 2px solid $colorBorder;
		&:first-child { // header
			@extend %weekhead;
		}
		+ ul { // all-day only
			position:relative;
			background-color:$surfaceLowest;
			flex-shrink: 0;
			overflow-x: hidden;
			max-height: 30%; // x all-day events fit
			min-height:dp(32);
			border-bottom: 2px solid $colorLine;
		}

		.event {
			position:absolute;
		}
	}

	> dl { // day columns container
		background-color: $surfaceLowest;
		overflow-y: scroll;
		position: relative;
		display: flex;
		flex: 1;

		> dd { // day column
			position: relative;
			overflow: hidden;
			height: calc(24 * var(--hour-height));
			//max-height: 1680px;
			//background: linear-gradient(180deg, $colorLine 1px, transparent 1px) repeat-y;
			background-image: repeating-linear-gradient(
				to bottom,
				$colorLine 0px,
				$colorLine 1px,
				transparent 1px,
				transparent var(--hour-height)
			);
			//background-size: 100% $hourHeight;
			border-right: 1px solid $colorLine;
			&:last-child { border-right: 0;}
		}
		> dt { // time display
			position: initial;
			//background-size: 8px $hourHeight;
			//background-position: top right;
			border-right: 0;

			> em { //time
				//&:first-child { height: dp(62);} // move all up 4 dp
				font-style: normal;
				display: block;
				font-size: .8em;
				height: var(--hour-height);
				//max-height: 70px; // 1680 / 24
				color: $colorTextSecondary;
				text-align: right;
				padding: 0 dp(15) 0 0;
				line-height: 0; // move text to top of box
			}
		}
	}
	li, dd, dt { // header / all-day
		flex: 5 0 0;

		&.weekend {
			background-color: $surfaceLow;
		}

		&:first-child { // weeknr
			max-width: $timeMargin;
		}
	}
	dd > div, .all-days > div {
		@extend %event;
	}
	dl dd > div {
		position: absolute;
		min-height: dp(24); // big enough to click on it
		border-left: dp(6) solid currentColor;
		> em {
			mask-image:none;
		}
		> em, > span, > i {
			color: color-mix(in srgb, currentColor 36%, var(--fg-text));
		}
		> span { //time
			display: inline-block;
			float:right;
		}
		// handle bars
		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 4px;
			cursor: row-resize;
		}
		&:before {top: 0;}
		&:after {bottom: 0;}
	}
}
.cal.resizing {
	cursor: row-resize;
	dl dd > div {
		pointer-events:none;
		transition: height 84ms ease-out, top 84ms ease-out;
	}
	li.all-days { pointer-events:none; }
}

.cal.split {
	display: flex;
	flex-direction: column;
	ol {
		border-bottom: 1px solid $colorLine;
	}
	ul {
		@extend %weekhead;
	}
	li {
		flex: 5 0 0;
	}
	> div { // calendar name
		padding: dp(4) dp(8);
		//margin: 0 auto;
		//color: $colorTextSecondary;
		//background-color: $colorBackground;
		//border-right: 1px solid $colorBorder;
		//max-width: dp(160);
		//font-weight: 300;
	}
	ol > li {
		&.events {
			margin-top:dp(4);
			width: 100%;
		}
	}
}

.cal.list {
	height:100%;
	background-color: $surfaceLow;
	overflow-y:scroll;
	list-style: none;
	li {
		width:100%;
		overflow: hidden;
		padding: dp(16);
		border-bottom: 1px solid $colorLine;
		&.empty {
			padding:0 dp(16);
			//height: dp(26);
		}
		&.today {
			em {
				line-height: dp(32); }
		}
		> h3 {
			float:left;
			> em {
				font-size:1.4em;
				margin-right:dp(8);
				padding: 0 dp(4);
			}
		}
		> div {
			display:flex;
			font-size: 1.1em;
			flex-wrap: nowrap;
			margin: dp(4) 0 dp(4) dp(144);
			cursor: pointer;
			word-wrap: break-word;
			overflow: hidden;
			box-sizing: border-box;
			border-radius: $borderRadius;
			min-height:dp(28);
			padding: dp(4) dp(6);
			user-select: none;
			//border: 1px solid currentColor;
			&.selected {
				background-color: currentColor;
				color:white;
				> i {color:white;}
			}
			span {
				color: $colorText;
			}
			span:first-of-type { // time
				margin-left:dp(8);
				width: dp(198);
			}
		}
	}
}


%avb-box {
	position:absolute;
	pointer-events:none;
	border-radius: $borderRadius;
	top:dp(8); bottom:dp(8);
}
.cal.availability {
	position:relative;
	ol {
		display: flex; height: 4rem;
		li:first-child {
			padding: 0 dp(16);
			width: dp(240);
			+ li { // hour numbers
				display:flex;
				flex:1;
				justify-content: center;
				align-items: flex-end;
				border-bottom: 1px solid $colorLine;
			}
		}

	}
	em {
		width: 4.166%;  // 100% / 24
		color:$colorTextSecondary;
		text-align: center;
		display:inline-block;
		padding-top: dp(12);
		padding-bottom:dp(4);
	}
	ul { // free and busy
		overflow:hidden;
		position:absolute;
		z-index:1;
		bottom: 0;
		top: dp(40);
		left: dp(240);
		right:0;
		li {
			@extend %avb-box;
			// free blocks
			background-color: color-mix(in srgb, var(--fg-main) 10%, transparent);
			border: 2px dashed $colorPrimary;
			width: 25%;
		}
		li.event { // selection
			cursor: move;
			pointer-events:all;
			left: -100%;
			background-color: color-mix(in srgb, var(--fg-main) 60%, transparent);
			border: 2px solid $colorPrimary;
		}
	}

	.goui-avatar {float:left; margin-right: dp(16); }
	h3,h4{ margin:0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
	dl {
		background-color: $colorBackgroundDarker;
		display: flex;
		min-height: dp(48);
		position: relative;
		align-items: stretch;
		user-select: none;
	}
	dt {
		width: dp(240);
		padding:dp(16);
		//border-right: 1px solid $colorBorder;
		background-color: $colorBackground;
	}
	dd { // grid
		flex:1;
		position:relative;
		padding: dp(8) 0;
		background: linear-gradient(90deg, $colorLine 1px, transparent 1px) repeat-x;
		background-size: 4.166% 100% ;
		//border-bottom: 0.3px solid $colorLine;
		div {
			@extend %avb-box;
			background-color: $colorLine;
			width: 40px;
			left: 60px;
		}
	}

}

.check-list {
	padding-bottom: dp(16);
	.control {
		width: 100%;
		.box-label { padding-top: dp(4) !important; padding-bottom: dp(4) !important; }
	}
	label {
		pointer-events: none;
		input, .goui-toolbar {pointer-events: all;}
		input[style]:checked:before {
			color:white !important;
		}

	}
	li {
		padding-left: 11px;
		&.selected {
			background-color: $colorSelectedRowInactive;
		}
		menu{width:0;}
		&:hover menu, &:focus-within menu{width:auto;}
	}
	.goui-form-field .wrap menu.goui-toolbar {
		border-left:0;
	}
}
.goui.goui-toolbar.dense {
	padding: 7px 3.5px 7px 11px !important;
	> h3 {
		flex: 1 !important;
		color: $colorTextSecondary;
		font-size:.9em;
		~ button {
			padding: 5.25px;
			margin-right: 0;
		}
	}
}

//.participant-field {
//	.goui-pit {
//		border-bottom: 0;
//		border-bottom-left-radius: 0;
//		border-bottom-right-radius: 0;
//		padding-bottom: dp(8);
//	}
//	.goui-form-field .wrap {
//	}
//}

@media only screen and ((max-device-width: $breakpointMedium) or (max-device-height: $breakpointMedium)) {
	//.cal.week > ul:first-child em {
	//	display:inline-block !important;
	//}
	.cal.lijst {
		.detail { display:none;}
	}
	.goui.cal {
		zoom: .8;
		.events > div {
			padding-right:0 !important;
			padding-left:2px !important;
			&:before {display:none;}
			span {display:none;}
		}
	}
	.goui.hbox.tablet-cards > aside.active {
		position:absolute;
		inset:0;
		z-index:1;
		right: 14vw;
		background-color: var(--bg-layer);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		width: dp(280) !important;
	}
}


#go-module-panel-calendar {
	.datepicker {
		margin: 0 auto;
	}
}