.go-module-icon-customfields , .go-menu-icon-customfields {
	background-image: url(https://localhost:63/go/modules/core/customfields/views/extjs3/themes/default/images/customfields.png) !important;
}

.go-tab-icon-customfields {
	background-image: none !important;
}

.cf-btn-categories{
	background-image: url(https://localhost:63/go/modules/core/customfields/views/extjs3/themes/default/images/categories.png) !important;
}

.cf-heading{
	margin-top:10px;
}
.entity.User::before {
	content: "account_circle"
}

.go-module-icon-users, .go-menu-icon-users{
	background-image:url(https://localhost:63/go/modules/core/groups/views/extjs3/themes/default/images/users.png) !important;
}
.go-module-icon-groups , .go-menu-icon-groups {
	background:url(https://localhost:63/modules/groups/themes/Default/images/groups.png);
}

.go-tab-icon-groups {
	background-image: none !important;
}
.go-module-icon-modules, .go-menu-icon-modules{
	background-image: url(https://localhost:63/modules/modules/themes/Default/images/modules.png) !important;
}


.go-module-icon-search , .go-menu-icon-search {
	background-image: url(https://localhost:63/modules/search/themes/Default/images/search.png) !important;
}

.go-tab-icon-search {
	background-image: none !important;
}

.entity.User::before {
	content: "account_circle"
}

.go-module-icon-users, .go-menu-icon-users{
	background-image:url(https://localhost:63/go/modules/core/users/views/extjs3/themes/default/images/users.png) !important;
}

.go-module-icon-password { /* for auth methods */
	background-image:url(https://localhost:63/go/modules/core/users/views/extjs3/themes/default/images/key.png) !important;
}

.go-user-disabled {
	opacity: .6;
}
.entity.Note::before {
	content: "note"
}

.go-module-icon-notes , .go-menu-icon-notes{
	background:url(https://localhost:63/go/modules/community/notes/views/extjs3/themes/default/images/notes.png);
}
.go-tab-icon-googleauthenticator {
	background-image: none !important;
}

.go-module-icon-googleauthenticator , .go-menu-icon-googleauthenticator{
	background-image:url(https://localhost:63/go/modules/community/googleauthenticator/views/extjs3/themes/default/images/icon.png) !important;	
}

img.googleauthenticator-qr {
	margin:20px auto;
	display:block;
}
.entity.Contact::before {
	content: "person";
}

.entity.Company::before {
	content: "domain";
}


.go-model-icon-GO_Addressbook_Model_Contact
{
	background-image: url(https://localhost:63/modules/addressbook/themes/Default/images/16x16/contact.png) !important;
	width:16px;
	height:16px;
}

.go-model-icon-GO_Addressbook_Model_Company
{
	background-image: url(https://localhost:63/modules/addressbook/themes/Default/images/16x16/company.png) !important;
	width:16px;
	height:16px;
}

.go-model-icon-GO_Addressbook_Model_Addresslist{
	background-image: url(https://localhost:63/modules/addressbook/themes/Default/images/16x16/templates.png) !important;
	width:16px;
	height:16px;
}

.go-module-icon-addressbook , .go-menu-icon-addressbook{
	background-image:url(https://localhost:63/modules/addressbook/themes/Default/images/addressbook.png) !important;	
}

.go-tab-icon-addressbook {
	background-image: none !important;
}

.OO-download-btn
{
	padding: 0px 0px 0px 90px;
	/*background-image:url(https://localhost:63/modules/addressbook/themes/Default/images/16x16/mailings.png) !important;*/
}

.letter {
	margin: 1px;
	padding: 4px 3px 4px 3px;
	font-size: 16px;
	font-weight: bold;
	/*border: 1px solid white;*/

	cursor: pointer;
	cursor: hand;
	line-height:40px;
}

.alphabet-view-selected,
.alphabet-view-over
{
	padding: 4px 3px 4px 3px;	
}

.alphabet-view-selected {
	background-color:#ebf1e2 !important;
	border:1px solid #669900 !important;
}
	
.alphabet-view-over
{
  background-color:#ebf1e2
}

.ab-search-form-panel
{
	padding: 0px 3px 0px 3px;
}

.x-form-add-trigger 
{
   background-image: url(https://localhost:63/modules/addressbook/themes/Default/images/16x16/company-link.png) !important;
   background-position: center center !important;    
   cursor: pointer;
   cursor: hand;    
   border: 0 !important;    
   margin-left: 4px;
 }


/* OpenOfficeDocument Selection Window */
/* - Edit User */
#OODocumentList {
	font:normal 11px arial, tahoma, helvetica, sans-serif;
	padding:2px;
	background-color:white;
	/*border-bottom:1px solid #c3daf9;*/
}

#OODocumentList div{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-bottom:2px;
	text-decoration:none;
	line-height:18px;
	cursor:default;
}

#OODocumentList .calendar-wrap{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	padding: 2px;
	cursor: default;
}

#OODocumentList .x-view-over{
  border:1px solid #dddddd;
  background: #efefef url(https://localhost:63/modules/addressbook/themes/Default/../../resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 2px;
}

.readPanelSubHeading{
	font-style:italic;
}

td.contactCompanyLabelWidth {
	width: 110px;
}

td.table_header_links {
	background-color: #f1f1f1;
}

.ml-template-default-spacer {
	border-bottom:1px solid #D0D0D0 !important;
	margin:10px 0px !important;
}

.ab-photo{
	width:120px;
/*	height: 120px;*/
	border:1px solid #d0d0d0;
	margin:5px;
}

.facebook-icon, .linkedin-icon, .skype-icon, .twitter-icon {
	width: 16px;
	height: 16px;
	margin-left: 3px;
	margin-top: 2px;
	margin-right: 5px;
	float: left;
}

.facebook-icon {
	background:url(https://localhost:63/modules/addressbook/themes/Default/images/16x16/facebook-icon-16.png) no-repeat top right !important;
}

.linkedin-icon {
	background:url(https://localhost:63/modules/addressbook/themes/Default/images/16x16/linkedin-icon-16.png) no-repeat top right !important;
}

.skype-icon {
	background:url(https://localhost:63/modules/addressbook/themes/Default/images/16x16/skype-icon-16.png) no-repeat top right !important;
}


.twitter-icon {
	background:url(https://localhost:63/modules/addressbook/themes/Default/images/16x16/twitter-icon-16.png) no-repeat top right !important;
}

.male-cell { 
    background: url(https://localhost:63/modules/addressbook/themes/Default/images/16x16/male.png) no-repeat 8px 12px; 
    padding-left: 18px !important; 
} 
 
.female-cell { 
    background: url(https://localhost:63/modules/addressbook/themes/Default/images/16x16/female.png) no-repeat 8px 12px; 
    padding-left: 18px !important; 
}

.btn-download-assistant {
	background-image: url(https://localhost:63/modules/assistant/themes/Default/images/assistant.png) !important;
}

.entity.Order::before {
	content: "attach_money";
}


.bs-scheduled-cb .x-form-check-wrap{
margin:4px 8px !important;
}

.go-module-icon-billing , .go-menu-icon-billing{
	background:url(https://localhost:63/modules/billing/themes/Default/images/billing.png);	
}

.go-tab-icon-billing {
	background-image: none !important;
}

.go-model-icon-GO_Billing_Model_Order {
	background-image: url(https://localhost:63/modules/billing/themes/Default/images/billing.png) !important;
}
/*
.bs-items-grid .x-grid3-cell-inner, .bs-items-table  .x-grid3-hd-inner {
    overflow:     auto;
    white-space:     normal !important;
}*/

.bs-items-totals-panel {
	padding:1px;
}

.bs-display-items td {
	vertical-align: top;
}

.bs-order-id{
	padding-left:20px;	
}
.bs-icon-recur{
	background-image: url(https://localhost:63/modules/billing/themes/Default/images/recur.png) !important;
	background-repeat: no-repeat;
	height:16px;
	width:16px;
}

.bs-icon-product{
	background-image: url(https://localhost:63/modules/billing/themes/Default/images/product.png) !important;
	height:16px;
	width:16px;
}

.bs-late .x-grid3-cell{
	color: red;	
}
.go-module-icon-bookmarks , .go-menu-icon-bookmarks{
	background:url(https://localhost:63/modules/bookmarks/themes/Default/images/bookmarks.png);
}

.go-tab-icon-bookmarks {
	background-image: none !important;
}

#go-module-panel-bookmarks .x-panel-body{
	background-color: white;
}


.categorie {
	clear: both;
	font-size: 14px;
  color: #333333;
	margin-left: 6px;
	padding-top: 10px;
	letter-spacing:1px;
}

.closebutton {
cursor:pointer;

}


.thumbnails {
	background: transparent;
	font-size: 11px;
	padding: 8px 16px;
}

.thumbnails .x-panel-body{
	background: transparent ;
	font-size: 11px;
}
.thumbnails .thumb{
	
	padding: 4px 4px 4px 4px;
	background: transparent;
}

.thumbnails .icons{
	float: left;
	padding: 2px 2px 2px 2px;
	background: transparent;
}

.thumb-name{
	/*line-height:40px;*/
	vertical-align:top;
	padding-bottom:16px;
	padding-top:8px;
	padding-left:48px;
	background-position: 0px 8px;
	 background-size: 24px 24px;
	background-repeat:no-repeat;
}


.thumbnails .thumb-wrap{
	float: left;
	width:300px;
	height:100px;
	overflow:hidden;
	cursor:pointer;
	overflow:hidden;
/*	margin: 1px;*/
}
.thumbnails .thumb-wrap:hover {
		background-color: white;
	}

.thumbnails .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

.thumbnails .x-view-over{
  background: white ;
}

.thumbnails .x-view-selected .thumb{
	background: white ;
}

.thumbnails .textonly {
	background: transparent;
	font-size: 12px;
}



.bookmark-column {
    float:left;
    width:320px;
    padding:0px;
    border-right: 1px solid #eee;
    margin: 16px 0 0 0;
}

.bookmark-column span{
    display: block;
}

.bookmark-column span.link{
    box-sizing: border-box;
    text-decoration: none;
    color:inherit;
    width:100%;
    padding:5px 10px;
		
}

.bookmark-column span.title{
    /*font-weight: bold;*/
    color: #333333;
    letter-spacing:1px;    
    font-size: 1.2em;
    width:100%;
    text-align:left;
    padding:10px;
		
}

.bookmark-column span.thumb{
    background-repeat: no-repeat;
	 background-size: 24px 24px;
	 background-position: left center;
    padding-left:40px;
		line-height: 40px;
		min-height: 40px;
}

.bookmark-column span.link.x-view-over{
    border:none;
    margin:0;
    cursor:pointer;
}
.entity.Event::before {
	content: "event"
}



.cal-has-reminders{
	background:url(https://localhost:63/modules/calendar/themes/Default/images/16x16/reminder.png) no-repeat 0 1px;
	padding:8px !important;
	float:right;
}

.cal-is-private{
	background:url(https://localhost:63/modules/calendar/themes/Default/images/16x16/private.png) no-repeat 0 1px;
	padding:8px !important;
	float:right;
}
.cal-recurring{
	background:url(https://localhost:63/modules/calendar/themes/Default/images/16x16/recurring.png) no-repeat 0 1px;
	padding:8px !important;
	float:right;
}
.cal-resources{
	background:url(https://localhost:63/modules/calendar/themes/Default/images/16x16/resources.png) no-repeat 0 1px;
	padding:8px !important;
	float:right;
}

.cal-comment{
	white-space:normal !important;
}


.cal-date-picker .x-date-bottom .x-btn{
	float:left;
	margin-left:25px;
}

.cal-go-title{
	font-size:16px;
	margin-bottom:10px;
}

.cal-display-panel .x-toolbar table{
	float:right;	
}

.cal-display-panel * {
	box-sizing: content-box;
}

#availability_date{
font-size: 12px;	
}

.availability{
	width:100%;
border-collapse:collapse;

}
.availability td{
	font-size: 10px;
	border:1px solid rgba(0,0,0,.54);
		
}

.availability_time {
	width:28px;
	padding: 0px 2px;
	text-align:center;
	font-size: 8px;	
	border:1px solid rgba(0,0,0,.16);
	
}

.time-over{
	/*background-color:rgba(0,0,255, .16) !important;*/
}

.free {
	width:6px;
}

.busy {
	background-color:rgba(255,0,0, .16);
	width:6px;
}

.go-menu-icon-calendar, .go-module-icon-calendar{
	background-image: url(https://localhost:63/modules/calendar/themes/Default/images/calendar.png) !important;
}
.go-tab-icon-calendar {
	background-image: none !important;
}

.go-model-icon-GO_Calendar_Model_Event{
	background-image: url(https://localhost:63/modules/calendar/themes/Default/images/calendar.png) !important;
	width:16px;
	height:16px;
}

/* sets the padding for panels with forms or text in it */
.cal-blue-panel .x-panel-body{
	background-color:#D0DEF0;
}

#calendarList {
	/*font:normal 10px "Lucida Sans Unicode","Lucida Grande","Mukti Narrow", sans-serif;*/
	font:normal 11px tahoma,arial,helvetica,sans-serif;
	padding:6px;
	background-color:white;
	position:relative;
	/*border-bottom:1px solid #c3daf9;*/
		
}

#calendarList div{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-bottom:2px;
	text-decoration:none;
	line-height:18px;
	cursor: default;
}

#calendarList .calendar-wrap{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	cursor: default;
	margin-top:4px;
	padding:2px 2px 2px 6px;
}

#calendarList .x-view-over{
	background-color:#ebf1e2;
  border:1px solid #ebf1e2;
	margin-top:4px;
	padding:2px 2px 2px 6px;
}

#calendarList .x-view-selected{
	border:1px solid #669900;
	background-color:#ebf1e2;
	margin-top:4px;
	padding:2px 2px 2px 6px;	
}




#viewList {
	font:normal 11px arial, tahoma, helvetica, sans-serif;
	padding:6px;
	background-color:white;
	position:relative;
}

#viewList div{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-bottom:2px;
	text-decoration:none;
	line-height:18px;
	cursor: default;
}

#viewList .view-wrap{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-top:4px;
	padding:2px 2px 2px 6px;
	cursor: default;
}

#viewList .x-view-over{
  background-color:#ebf1e2;
  border:1px solid #ebf1e2;
 	margin-top:4px;
	padding:2px 2px 2px 6px;
}

#viewList .x-view-selected{
	border:1px solid #669900;
	background-color:#ebf1e2;
	margin-top:4px;
	padding:2px 2px 2px 6px;
	
}

#resourceList {
	font:normal 11px arial, tahoma, helvetica, sans-serif;
	padding:6px;
	background-color:white;
	position:relative;
}

#resourceList div{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-bottom:2px;
	text-decoration:none;
	line-height:18px;
	cursor: default;
}

#resourceList .resource-wrap{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-top:4px;
	padding:2px 2px 2px 6px;
	cursor: default;
}

#resourceList .x-view-over{
  background-color:#ebf1e2;
  border:1px solid #ebf1e2;
 	margin-top:4px;
	padding:2px 2px 2px 6px;
}

#resourceList .x-view-selected{
	border:1px solid #669900;
	background-color:#ebf1e2;
	margin-top:4px;
	padding:2px 2px 2px 6px;

}

.x-calGrid-panel .x-panel-body{
background-color: #F1F1F1 !important;
}
.x-calGrid-table-wrapper{
	position:relative;
	background:transparent;
}

.x-calGrid-indicator{
	position:absolute;
	border-top:2px solid #177ea3; /* #dd4b39; */
	z-index:3001;
}
.x-calGrid-table{
	table-layout:fixed;
	border-collapse: collapse;
}
.x-calGrid-blankRow,.x-calGrid-hourRow{
	/*new theme fix */
	box-sizing: content-box;
}
.x-calGrid-blankRow{
	border-top:1px solid transparent;
	border-right:2px solid rgba(0,0,0, 0.04);
	height:20px;
	background-color:#fff;
}

.x-calGrid-hourRow{
	border-top:1px solid rgba(0,0,0, 0.12);
	border-right:2px solid rgba(0,0,0, 0.04);
	background-color:#fff;
}

.x-calGrid-halfhourRow{
	border-top:1px solid transparent;
	border-right:2px solid rgba(0,0,0, 0.04);
	height:20px;
	background-color:#fff;
}

.x-calGrid-timeHead{
	background-color:#fff;
	width:39px !important;
	height:20px;
	border-top:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	text-align:right;
}
/*.x-calGrid-today{
	background-color:rgba(0,0,0, 0.04) !important;
}*/
.x-calGrid-selector{
	background-color:#DFE8F6;
	position:absolute;
	visibility:hidden;
	z-index:1;
	opacity: 0.6;
	filter:alpha(opacity=60);
}

.x-calGrid-event-container {
	cursor:default;	
	position:absolute;	
	/*border:1px solid #669900;*/
	border:1px solid transparent;	
	background-color:#ebf1e2;
	overflow: hidden;
	font:normal 11px tahoma,arial,helvetica,sans-serif;
	color:#000;
	padding:3px 3px 3px 7px;
	border-radius:2px;
	outline:none;
}

.x-calGrid-event-container .x-resizable-handle-south, .x-calGrid-event-container .x-resizable-handle{
	background:transparent;
	background-image: url(https://localhost:63/modules/calendar/themes/Default/../../../../views/Extjs3/ext/resources/images/default/s.gif);
}

.x-calGrid-all-day-event-container {
	text-align:left;
	padding-left: 8px;
	margin: 2px 2px 4px 0;
	position:relative;
	background-color:#ffffcc;
	overflow: hidden;
	border-radius: 2px;
	-moz-outline:none;
	outline:none;
}

.x-calGrid-selected {
	background-color: rgba(23,126,163,.16) !important;
	z-index:3001 !important;
}

.x-calGrid-event-time{
	font-weight:bold;
}

.x-calGrid-grid-container{
	overflow:auto;
	position:relative;
	font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-calGrid-headings-table {
	background-color: white;
	border-collapse:collapse;
	table-layout:fixed;
	border-bottom:1px solid rgba(0,0,0, 0.12);	
}

.x-calGrid-heading{	
	font-size: 11px;
	vertical-align:middle;
	text-align:center;	
	color:rgba(0,0,0, 0.87);	
	line-height:22px;
	margin:1px;
}

.x-calGrid-heading-today{
	font-weight:bold;
}

.x-calGrid-all-day-table-container{
	overflow:auto;
}
.x-calGrid-all-day-table {
	border-collapse:collapse;
	table-layout:fixed;
	background-color: white;
	border-bottom:3px solid rgba(0,0,0, 0.12);	
}


.x-calGrid-all-day-first-col{
	width: 40px !important;
	/*border-right:1px solid rgba(0,0,0, 0.12);;*/	
} 

.x-calGrid-all-day-container{
	height:0px;
	vertical-align:top;
	/*border-right:1px solid rgba(0,0,0, 0.12);;*/
}
#cal-monthGrid-wrap {
	/*scroll fix */
	    overflow: hidden;
}
#cal-monthGrid-wrap div{
	box-sizing: border-box;

  /* and for older/other browsers: */
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cal-monthGrid-cell{
	border-bottom:1px solid rgba(0,0,0, 0.12);
	border-right:1px solid rgba(0,0,0, 0.12);
	vertical-align:top;
	text-align:left;
	overflow:hidden;
	font-size:11px;
	float:left;
}
.cal-monthgrid-week-no{
	border-bottom:1px solid rgba(0,0,0, 0.12);
	border-right:1px solid transparent;
	vertical-align:top;
	/*background-color:#d9e3e6;*/
	float:left;
	text-align:center;
	font-size: 11px;
}
.cal-overflow-indicator{
	font-style:italic;
	position:absolute;
	padding:1px 2px;
}
.cal-monthGrid-cell .x-monthGrid-cell-day-text {
	padding:4px;
	margin-left: 4px;
}
.x-monthGrid-cell-current, .x-monthGrid-cell-today{
	background-color: white;
}
.x-monthGrid-cell-weekend{
	background-color: #eee;
}

.x-monthGrid-cell-today .x-monthGrid-cell-day-text{
	background-color: #177ea3;
	color: white  !important;
	border-radius: 10px;
}

a.x-monthGrid-cell-day-text:link, a.x-monthGrid-cell-day-text:visited,a.x-monthGrid-cell-day-text:active{
	color:black;	
	font-size: 10px;
	text-decoration: none;
}
a.x-monthGrid-cell-day-text:hover{
	color: #26687C;
}

.x-calGrid-month-event-container {
	text-align:left;
	cursor:pointer;
	margin:0 4px 1px 0;
	background-color:rgba(23,126,163,.16);
	overflow: hidden;
	padding-left:8px;
	position:relative;
	border-radius: 2px;
	-moz-outline:none;
	outline:none;
}

.x-calGrid-month-event-proxy {
	text-align:left;
	cursor:default;
	background-color:rgba(23,126,163,.06);
	height:24px;
	border-radius: 2px;
}



.x-calGrid-drag-overlay {
	/*background:white none repeat scroll 0%;*/
	display:none;
	height:100%;
	left:0pt;
	opacity:0;
	position:absolute;
	top:0pt;
	width:100%;
	z-index:3002;
}




/* start view grid */

.x-viewGrid-table{
	border-collapse: collapse;
}

.x-viewGrid-table td{
	border:1px solid #ddd;
	border-bottom:4px double #ddd;
	vertical-align:top;
	/*font:normal 11px "Lucida Sans Unicode","Lucida Grande","Mukti Narrow", sans-serif;*/
	font:normal 11px arial, tahoma, helvetica, sans-serif;
}
.x-viewGrid-calendar-name-cell {
/*	font-weight:bold;	*/
	padding:6px;
	white-space: nowrap;
	background-color:#F0F1F3;
}

.x-viewGrid-row-allday{
background-color:#f6f6f6;
}

.x-viewGrid-row-morning{
/*	background-color:#f6f6f6;*/
}
.x-viewGrid-row-afternoon{
/*	background-color:#f6f6f6;*/
}
.x-viewGrid-row-evening{
background-color:#f6f6f6;
}

.x-viewGrid-event-container {
	background-color:#ebf1e2;
	text-align:left;
	cursor:default;
	border:1px solid #C0C0C0;
	margin:1px;
	padding:1px 2px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-moz-outline:none;
	outline:none;
}

.x-viewGrid-event-proxy {
	text-align:left;
	cursor:default;
	border:1px solid #0000aa;
	margin:1px;
	background-color:#B8CFEE;/*#c3daf9;*/
	height:14px;
}


/* end view grid */




.x-grid3-col-summary-calendar-name-heading{
	white-space:normal !important;
}


#resources-panel .x-panel-header{
	background:none;
	border:0;
}

#resources-panel .x-panel-header-text{
	font-size:13px;
}

#resources-panel .x-fieldset-header-text{
	color:#666
}

.x-calGrid-event-status {
	border-radius: 2px 0px 0px 2px;
	display: block;
	top:0;bottom:0;
	left:0;
	position:absolute;
	margin-right: 4px;
	width: 4px;
}

.x-calListGrid-event-status{
	/*	background-color: red;*/
	border-radius: 6px 6px 6px 6px;
	display: block;
/*	float: left;*/
	height: 8px;
	line-height: 50px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 1px;
	width: 8px;
}


.cal-event-partstatus-DECLINED{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
	filter: alpha(opacity=50); /* IE 5-7 */
}

.cal-event-partstatus-NEEDS-ACTION{
	border: 2px dashed orange;
}
.cal-arrow-left,.cal-arrow-right,.cal-arrows {
	display:inline;
	padding:0px 14px 0px 0px;
	background: no-repeat center center;
}
.cal-arrow-left{ background-image:url(https://localhost:63/modules/calendar/themes/Default/images/16x16/arrowleft.png);  }
.cal-arrow-right{ background-image:url(https://localhost:63/modules/calendar/themes/Default/images/16x16/arrowright.png);}
.cal-arrows{ background-image:url(https://localhost:63/modules/calendar/themes/Default/images/16x16/arrows.png);  }


.go-module-icon-comments, .go-menu-icon-comments{
	background-image:url(https://localhost:63/modules/comments/themes/Default/images/comments.png) !important;
}
.go-tab-icon-comments {
	background-image: none !important;
}

.go-model-icon-GO_Comments_Model_Comment{
	background-image: url(https://localhost:63/modules/comments/themes/Default/images/comments.png) !important;
	width: 16px;
	height: 16px;
}

@media print {
	.print-always{
		display : block !important;
	}
	
	.print-never {
		display : none !important;
	}
}
.go-module-icon-cron , .go-menu-icon-cron{
	background:url(https://localhost:63/modules/cron/themes/Default/images/cron.png);
}

.go-tab-icon-cron {
	background-image: none !important;
}

.go-add-icon-cron {
	background-image:url(https://localhost:63/modules/cron/themes/Default/images/add-cron.png) !important;
}
@media print {
 .go-warning-msg,.message-move,.em-autolink-message,.em-contact-link-container,.em-link-message{ display: none !important; }
}

.em-autolink-message{
	padding:5px;
	border:1px solid #ddd;
	background-color:#f1f1f1;
	margin-bottom:20px;
}

.em-autolink-link{
	cursor:pointer;
	text-decoration:underline;
}

.go-html-formatted a.em-link-link:link, .go-html-formatted a.em-link-link:visited, .go-html-formatted a.em-link-link:active{
	cursor:pointer;
	text-decoration:none;
	padding-left:18px;
	margin-left:5px;
	background-repeat: no-repeat;
	display:inline-block;
	width: auto !important;
}

.em-link-message{
	padding:5px;
	border:1px solid #ddd;
	background-color:#f1f1f1;
	margin-bottom:20px;
}

.em-spam-move-block {
	float:right;
	color: lightgray;
}

.em-tree-node-noselect .x-tree-node-anchor span, .em-readonly a span{
	font-style:italic;
	color:#666 !important;
}



.em-statusbar-body span{
line-height:21px !important;
padding-left:2px;
}

.em-usage-95{
	color:red !important;
	font-weight:bold !important;
	line-height: 20px !important;
}
.em-usage-85, .em-usage-90{
	color:orange !important;
	font-weight:bold !important;
	line-height: 20px !important;
}



.em-blocked{
margin:5px 2px;
}

#ml-notify, #ml-notify:hover{
	float:left;
	padding-left:20px;
	line-height:16px;
	background: url(https://localhost:63/modules/email/themes/Default/images/16x16/message.png) no-repeat;
	height:16px;
	vertical-align:middle;
	color:#666666;
	font-size: 10px;
	margin-top:3px;
}
.go-model-icon-GO_Email_Model_ImapMessage, .go-model-icon-GO_Savemailas_Model_LinkedEmail {
	background-image: url(https://localhost:63/modules/email/themes/Default/images/16x16/message.png) !important;
	width:16px;
	height:16px;
}

.em-btn-email-files{
	background-image: url(https://localhost:63/modules/email/themes/Default/images/16x16/attach.png) !important;
}

.go-module-icon-email , .go-menu-icon-email{
	background-image: url(https://localhost:63/modules/email/themes/Default/images/email.png) !important;
}

.go-tab-icon-email {
	background-image: none !important;
}


.btn-message-unseen {
	border-radius: 50%;
	background-color: rgba(23,126,163, .16);
	max-width:8px;
	margin: 0 8px;
	max-height: 8px;
}

.em-btn-share-mailbox {
	background-image:url(https://localhost:63/modules/email/themes/Default/images/16x16/share_mailbox.png) !important;
}


.ml-seen-mail{
	margin:2px 0px;
}

.ml-unseen-mail{
 margin:2px 0px;
 font-weight:bold;
 color:#15428B;
}

.ml-seen-from{
}


.ml-seen-subject{
	margin:0px;
	font-weight:normal;
}

.ml-unseen-subject{
	margin:0px;
}





.message-header-table{
	float:left;
	margin-right: 10px;
	margin-bottom: 5px;
}

.message-header-table td{
	vertical-align:top;
}

.message-icalendar{
	background-color:#EBF0F2;
	border-bottom:1px solid #d0d0d0;
	padding: 0 8px 0 8px;
	text-align:left;
	line-height:20px;
}

.message-move {
	color: gray;
	padding: 0 8px 0 8px;
	text-align: right !important;
	line-height: 20px;
}

.message-icalendar-icon{
	background-repeat:no-repeat;
	background-position:0 2px;
	padding:0px 0px 2px 20px;
	white-space:nowrap;
	float:left;
	width:auto !important;
}
.message-icalendar-actions{
	float:right;
	height:20px;
}

.message-icalendar a{
	color: black;
	text-decoration: none;
}
.message-icalendar a:hover{
	color: black;
	text-decoration: underline;
}

#email-message-panel .x-panel-body {
	background-color:white;
}


.email-grid-icon{
	float:left;
	width:16px;
	height:16px;
}

.em-attachments-container{
	outline: none;
}

.attachment-wrap {
	cursor: default;
}
.attachment-wrap.x-view-over{
	background-color:#ebf1e2;
	border:0px !important;
}
.attachment-wrap.x-view-selected{
	background-color:#ebf1e2;
	border:1px solid #669900 !important;;
}

.email-upload-pc{
	padding-left:13px;
	cursor:pointer;
	line-height:16px;
	text-decoration:none;
	white-space:nowrap;

}
.email-upload-pc td.x-btn-tl, .email-upload-pc td.x-btn-tc, .email-upload-pc td.x-btn-tr,
.email-upload-pc td.x-btn-ml, .email-upload-pc td.x-btn-mc, .email-upload-pc td.x-btn-mr,
.email-upload-pc td.x-btn-bl, .email-upload-pc td.x-btn-bc, .email-upload-pc td.x-btn-br {
	background:transparent !important;
}

.email-upload-pc button.x-btn-text
{
	color:#000000 !important;
	font:12px tahoma,arial,helvetica,sans-serif;
	white-space:nowrap;
}

.x-menu-list-item form
{
	background:transparent !important;
}

.em-contact-link-container{
	float:left;
}

.em-contact-link{
	 float:right;
	 margin-left:2px;
	 margin-bottom:2px;
}

.em-contact-link .x-form-check-wrap{
	line-height:inherit !important;
}

div.em-message-labels-container span {
	float: left;
	border-radius: 5px;
	padding: 3px 8px;
	line-height: 15px;
	margin-right: 5px;
	margin-bottom: 5px;
}

div.em-messages-grid-labels-container > div {
	border-radius: 4px;
	float: left;
	height: 16px;
	margin: 0 4px 4px 0;
	width: 16px;
}

.ml-deleted{
	color:#777777;
	text-decoration: line-through;
}

.entity.File::before {
	content: "description"
}

.entity.Folder::before {
	content: "folder"
}


.fs-img-viewer{
border:1px solid #d0d0d0;
display:block;
margin:auto;
cursor:pointer;
}

.go-module-icon-files , .go-menu-icon-files {
	background-image: url(https://localhost:63/modules/files/themes/Default/images/folder.png) !important;
}

.go-tab-icon-files {
	background-image: none !important;
}

.go-model-icon-GO_Files_Model_File {
	background-image: url(https://localhost:63/modules/files/themes/Default/images/filenew.png) !important;
}
.go-model-icon-GO_Files_Model_Folder {
	background-image: url(https://localhost:63/modules/files/themes/Default/images/folder.png) !important;
}

/*.btn-download {
	background-image:url(https://localhost:63/modules/files/themes/Default/images/download.png) !important;
}*/

.btn-download-gota {
	background-image:url(https://localhost:63/modules/files/themes/Default/images/gota.gif) !important;
}

.btn-properties{
	background-image:url(https://localhost:63/modules/files/themes/Default/images/properties.png) !important;
}

.btn-templates{
	background-image:url(https://localhost:63/modules/files/themes/Default/images/templates.png) !important;
}

.btn-compress{
	background-image:url(https://localhost:63/modules/files/themes/Default/images/compress.png) !important;
}
.btn-decompress{
	background-image:url(https://localhost:63/modules/files/themes/Default/images/decompress.png) !important;
}



.go-files-location-panel .x-plain-body{
	padding: 5px 5px 0px 6px;
/*background:#D0DEF0 url(https://localhost:63/modules/files/themes/Default/../../../../ext/resources/images/default/toolbar/bg.gif);*/
}


.x-tree-node img.folder-default, .x-tree-node-collapsed img.folder-default {
    background-image:  url(https://localhost:63/modules/files/themes/Default/images/folder.png);
}
.x-tree-node-expanded img.folder-default
{
    background-image:  url(https://localhost:63/modules/files/themes/Default/images/folder.png);
}

.x-tree-node img.folder-home, .x-tree-node-collapsed img.img.folder-home, .x-tree-node-expanded img.folder-home{
    background-image:  url(https://localhost:63/modules/files/themes/Default/images/folder_home.png);
}
.folder-shared, .x-tree-node img.folder-shared, .x-tree-node-collapsed img.img.folder-shared, .x-tree-node-expanded img.folder-shared{
    background-image:  url(https://localhost:63/modules/files/themes/Default/images/folder_public.png);
}
.x-tree-node img.folder-shares, .x-tree-node-collapsed img.img.folder-shares, .x-tree-node-expanded img.folder-shares{
    background-image:  url(https://localhost:63/modules/files/themes/Default/images/network.png);
}
.x-tree-node img.folder-new, .x-tree-node-collapsed img.img.folder-new, .x-tree-node-expanded img.folder-new{
    background-image:  url(https://localhost:63/modules/files/themes/Default/images/folder_new.png);
}



.fs-thumb{
	padding: 8px;
	text-align:center;
	height: 120px;
	width: 140px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size:contain;
}
.fs-thumb-wrap{
	float: left;
	margin: 8px;
	margin-right: 0;
	padding: 8px;
	height:152px;
	width:152px;
	border-radius: 2px;
	overflow:hidden;
}
.fs-thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

.fs-view-over{
  background-color: rgba(23,126,163, .16);
}
.fs-view-selected{
	background-color: #eeeeee;
}
/*.fs-view-selected .fs-thumb{
	background:transparent;
}*/

.fs-loading-indicator {
	font-size:11px;
	background-image:url(https://localhost:63/modules/files/themes/Default/../../../../views/Extjs3/themes/Default/images/extjs/grid/loading.gif);
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

.fs-btn-normal-size {
	background-image:url(https://localhost:63/modules/files/themes/Default/images/normal_size.png) !important;
}

.fs-btn-fit-image {
	background-image:url(https://localhost:63/modules/files/themes/Default/images/fit_image.png) !important;
}

.fs-imageviewer{
	background-image:url(https://localhost:63/modules/files/themes/Default/images/imageviewer.png) !important;
}

.fs-browser{
	background-image:url(https://localhost:63/modules/files/themes/Default/images/browser.png) !important;
}

.fs-grid-locked{
	background-repeat:no-repeat;
	padding-right:20px;
	height:16px;	
	background: url(https://localhost:63/modules/files/themes/Default/../../../../views/Extjs3/themes/Default/images/16x16/lock.png) no-repeat;
	background-position: right;
	float:left;
}


.fs-thumb-locked{
	background: url(https://localhost:63/modules/files/themes/Default/../../../../views/Extjs3/themes/Default/images/16x16/lock.png) no-repeat;
	background-position: 80px 84px;
	height:100px;
	width:100px;
}


.fs-handler-icon{
	background-repeat:no-repeat;
	padding-left:24px !important;	
	background-position: 0px 4px;
}

.content-expired {
	color:red;
}
.go-module-icon-hoursapproval2, .go-menu-icon-hoursapproval2 {
	background-image:url(https://localhost:63/modules/hoursapproval2/themes/Default/images/hoursapproval2.png) !important;
}

.go-tab-icon-hoursapproval2 {
	background-image: none !important;
}

.ha-approval-buttons{
	font-weight:normal;
}
.ha-approval-buttons td{
	padding:0px !important;
	vertical-align:middle !important;
}

.ha-approve, .ha-disaprove{
	float:left;
	margin-right:5px;
}


.go-module-icon-leavedays , .go-menu-icon-leavedays{
	background:url(https://localhost:63/modules/leavedays/themes/Default/images/leavedays.png);	
}

.go-tab-icon-leavedays {
	background-image: none !important;
}

table.monthReport {
	width: 100%;
}

table.monthReport th {
	border-left: 1px solid #ddd; 
	padding-left: 6px;
}
table.monthReport tbody th {
	border-bottom:1px solid #aaa;
	
}

table.monthReport td,table.monthReport tr {
	width: 2.7%;
	padding:0;
	border: none;
	height:24px;
	border-left: 1px solid #ddd; 
	border-bottom:1px solid #aaa;
}
.entity.Project::before {
	content: "group_work";
}

.pm-disabled-cell{
	background-color:#f1f1f1;
	color:grey;
}

.pm-description-label{
	font-weight:bold;
	margin:0;
}

.pm-subproject-link{
	text-decoration:none !important;
}

.pm-show-mine-only-cb .x-form-check-wrap{
margin:4px 8px !important;
}

#pm-timesheet .x-grid3-row-table{
	border-collapse:collapse;
}

#go-module-panel-projects2-west .x-tree-node-inline-icon.go-icon {
	background-size: cover;
}

.print .x-grid3-scroller{
	overflow:visible;
}

.go-module-icon-projects2 , .go-menu-icon-projects2{
	background-image: url(https://localhost:63/modules/projects2/themes/Default/images/projects2.png) !important;	
}
.go-tab-icon-projects2 {
	background-image: none !important;
}

.go-model-icon-GO_Projects2_Model_Project {
	background-image: url(https://localhost:63/modules/projects2/themes/Default/images/projects2.png) !important;
	width:16px;
	height:16px;
}

.project-item-description{
	padding:0 0 8px 0 !important;	
}

.project-row-description{
	padding:10px 0 0 10px;	
}

.projects-items{
	margin-top:10px;
	margin-left:10px;
	width:100%;
}

.projects-late{
	color: red;
}

.projects-completed{
	text-decoration: line-through;
	color: black !important;
}




.pm-btn-stop-timer{
	background-image:url(https://localhost:63/modules/projects2/themes/Default/images/start_timer.png) !important;
	
}

.go-link-icon-14 {
	background-image: url(https://localhost:63/modules/projects2/themes/Default/images/projects2.png) !important;
}
.go-link-icon-14 {
	background-image: url(https://localhost:63/modules/projects2/themes/Default/images/projects2.png) !important;
}


.pm-time-entry{
	background-image:url(https://localhost:63/modules/projects2/themes/Default/images/start_timer.png) !important;
}

.pm-expense{
	background-image:url(https://localhost:63/modules/projects2/themes/Default/images/expenses.png) !important;
}

.pm-over-budget{
	color:red;
}

.pm-budget-warning{
	color:orange;
}

.pm-btn-report{
	background-image: url(https://localhost:63/modules/projects2/themes/Default/images/report.png) !important;
}
.pm-progressbar{
	height:10px;border:1px solid #666;
}

.pm-progress-indicator{
	background-color:#009cc5;height:8px;
}
.entity.LinkedEmail::before {
	content: "email"
}


.go-module-icon-summary, .go-menu-icon-summary{
	background-image: url(https://localhost:63/modules/summary/themes/Default/images/summary.png) !important;
}
.go-tab-icon-summary {
	background-image: none !important;
}

.rss-icon{
	background-image: url(https://localhost:63/modules/summary/themes/Default/images/rss.gif) !important;
}
.note-icon{
	background-image: url(https://localhost:63/modules/summary/themes/Default/images/note.png) !important;	
}
.go-module-icon-sync , .go-menu-icon-sync {
	background:url(https://localhost:63/modules/sync/themes/Default/images/sync.png);
}

.go-tab-icon-sync {
	background-image: none !important;
}

.entity.Task::before {
	content: "check";
}


#ta-notify, #ta-notify:hover{
	float:left;
	padding-left:20px;
	line-height:16px;
	background: url(https://localhost:63/modules/tasks/themes/Default/images/tasks.png) no-repeat;
	height:16px;
	vertical-align:middle;
	color:white;
	font-size: 10px;
	margin-top:3px;
}

.go-module-icon-tasks , .go-menu-icon-tasks {
	background-image: url(https://localhost:63/modules/tasks/themes/Default/images/tasks.png) !important;
}

.go-tab-icon-tasks {
	background-image: none !important;
}

.go-model-icon-GO_Tasks_Model_Task {
	background-image: url(https://localhost:63/modules/tasks/themes/Default/images/tasks.png) !important;
	width:16px;
	height:16px;
}

.btn-new-task .x-btn-small .x-btn-text{
	padding:0px !important;
}

#tasks-new-task-icon{
	background-image: url(https://localhost:63/modules/tasks/themes/Default/images/newtask.png) !important;
	height:16px;
	width:16px;
	margin-left:5px;	 
}

.tasks-completed{
	text-decoration:line-through !important;
/*	color: black !important;*/
}

.tasks-late td, a.tasks-late, td.tasks-late{
	color: red !important;
}

.tasks-active td, a.tasks-active, td.tasks-active{
	color: green !important;
}

.tasks-call{
	background-image: url(https://localhost:63/modules/tasks/themes/Default/images/call.png) !important;
	width:16px;
	height:16px;
}

.img-call-add{
	background:url(https://localhost:63/modules/tasks/themes/Default/images/phone-add.png) no-repeat top right !important;
	width:16px !important;
	height:16px !important;
}

.entity.Ticket::before {
	content: "live_help";
}
.go-module-icon-tickets , .go-menu-icon-tickets{
	background-image:url(https://localhost:63/modules/tickets/themes/Default/tickets.png) !important;
}
.go-tab-icon-tickets {
	background-image:none !important;
}
.go-model-icon-GO_Tickets_Model_Ticket {
	background-image: url(https://localhost:63/modules/tickets/themes/Default/tickets.png) !important;
}

.ml-unseen-dot.red{
	background-color:#d32f2f;
}

.ti-unseen .x-grid3-td-1, .ti-unseen .x-grid3-td-2, .ti-late .x-grid3-td-1, .ti-late .x-grid3-td-2{
	font-weight:bold;
}

.msg-wrap{
	position: relative;
	margin: 8px 16px;
	background-color: rgba(0,0,0,.07);
	border-radius: 14px;
}
.msg-wrap.from {
	margin-left: 48px;
	border-top-left-radius: 0;
}
.msg-wrap.to {
	margin-right: 48px;
	border-top-right-radius: 0;
	background-color: rgba(39,58,128,.16);
}
.msg-wrap.note {
	background-color: #fffadd;
	border-top:0;
}
.ti-msg {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 32px;
	position:absolute;
	top:0; bottom:0;
}
.ti-msg.from {
	left:-40px;
	height:32px;
	border-radius: 16px;
}

.ti-msg.to {
	border-radius: 16px;
	height:32px;
	right:-40px;
}

.msg-head { padding: 8px 8px 0 8px;  }
.msg-head .msg-left { font-weight: bold;}
.msg-foot {padding: 8px 8px 0 8px; overflow:hidden;}

.msg-head span, .msg-foot span { font-size: 0.9em; }

div.msg-head span.msg-right, div.msg-foot span.msg-right{
	float:right;

}
.msg-content {
	padding:0 8px 8px;
	line-height: 16px;
	text-align:justify;
}
.msg-attachements { padding:3px 6px; }
.msg-attachements * { display: inline-block;  }
.msg-attachements a { 
	background-position: 3px center;
	background-color: #fafafa;
	margin-right: 7px; 
	color: #666;
	padding-left: 23px !important;
	padding: 4px 8px;
	border-radius:2px;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.msg-attachements a:hover {
	background-color: white;
	color: black;
}

.msg-wrap.x-view-selected{
	background-color:rgba(39,58,128,.24);	
	color: rgba(0,0,0, 0.87);
}

table.display-panel td{
	/* Override default padding */
}

.ti-rate{
	padding-right:5px;
	text-align:right;
}
.ti-rate-totals td{
	padding:2px 5px;
}
.go-module-icon-timeregistration2 , .go-menu-icon-timeregistration2 {
	background-image:url(https://localhost:63/modules/timeregistration2/themes/Default/images/timeregistration2.png) !important;
}

.go-tab-icon-timeregistration2 {
	background-image: none !important;
}

/* Override standard grid styles (add colour to vertical grid lines) */
#tr-timesheet .x-grid3-col {
    border-right: 1px solid #EDEDED;
}

#tr-timesheet .x-grid3-cell-last{
	border-right:0px !important;
}

/* Also remove padding from table data (to compensate for added grid lines) */
#tr-timesheet .x-grid3-row td, #pm_timesheet .x-grid3-summary-row td {
    padding-left: 0px;
    padding-right: 0px;
}

.tr-over-budget td{
	color: red;
}
.go-module-icon-tools , .go-menu-icon-tools {
	background-image: url(https://localhost:63/modules/tools/themes/Default/images/tools.png) !important;
}
.go-tab-icon-tools {
	background-image: none !important;
}

.tools-panel .x-panel-body{
	padding:5px;
}

.tools-panel a:visited,.tools-panel a:link,.tools-panel a:active{
	text-decoration:underline;
}

.tools-panel ul{
list-style-image:none;
list-style-position:outside;
list-style-type:disc;
padding:10px;
}

.simple-list > div {
	cursor: pointer !important;
}

.simple-list > div  span{
	display:block;
	color: #666;
	font-size: 11px;
	padding: 2px 0;
}
.go-module-icon-site , .go-menu-icon-site{
	background:url(https://localhost:63/modules/site/themes/Default/images/site.png);
}

.go-tab-icon-site {
	background-image: none !important;
}

.go-model-icon-GO_Site_Model_Site{
	background-image: url(https://localhost:63/modules/site/themes/Default/images/site.png) !important;
}

.go-model-icon-GO_Site_Model_Content{
	background-image: url(https://localhost:63/modules/site/themes/Default/images/content.png) !important;
}

.go-model-icon-GO_Site_Model_Menuroot{
	background-image: url(https://localhost:63/modules/site/themes/Default/images/menu.png) !important;
}

.go-model-icon-GO_Site_Model_Menu{
	background-image: url(https://localhost:63/modules/site/themes/Default/images/menu_blue.png) !important;
}

.go-model-icon-GO_Site_Model_Menuitem{
	background-image: url(https://localhost:63/modules/site/themes/Default/images/menuitem.png) !important;
}

.go-icon-layout{
	background-image: url(https://localhost:63/modules/site/themes/Default/images/layout.png) !important;
}

.site-node-site a span{
	font-weight:bold !important;
}

.site-readonly a span{
	/*color:#009cc5 !important;*/
	color:#666 !important;
	/*font-weight:bold !important;*/
	font-style: italic;
}
.go-module-icon-postfixadmin , .go-menu-icon-postfixadmin {
	background:url(https://localhost:63/modules/postfixadmin/themes/Default/images/postfixadmin.png);
}


.go-tab-icon-postfixadmin {
	background-image: none !important;
}
.go-module-icon-imaputhenticator , .go-menu-icon-googleauthenticator{
	background-image:url(https://localhost:63/go/modules/community/imapauthenticator/views/extjs3/themes/default/images/imapauthenticator.png) !important;	
}
