#conversejs {
	
}
#conversejs .toggle-controlbox {
	background-color: green;
	transform: rotate(-90deg);
	margin-right: -32px;
	margin-top: -70px;
	font-size: 12px;
	line-height: 12px;
	padding: 6px;
}

#conversejs #controlbox .controlbox-head {
    background-color: #009CC5;
}