#conversejs {
	
}
#conversejs .toggle-controlbox {
	background-color: green;
	transform: rotate(-90deg);
	margin-right: -32px;
	margin-top: -70px;
	font-size: 12px;
	line-height: 12px;
	padding: 6px;
}

#conversejs #controlbox .controlbox-head {
    background-color: #009CC5;
}

/*
#conversejs .minimized-chats-flyout, #conversejs .box-flyout {
    border-radius: 0px;
}

#conversejs div#users, #conversejs div#chatrooms, #conversejs div#login-dialog, #conversejs div#settings,
#conversejs .chat-body {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 12px; 
	height: calc(100% - 26px);
}
#conversejs div.chat-title {
	font-size: 13px;
	font-weight: 700;
}
#conversejs * {
	border-radius: 0 !important;
}
#conversejs .chat-head-chatbox a.restore-chat {
	color: white;
	line-height: 18px;
}
#conversejs .minimized-chats-flyout, #conversejs .box-flyout {
	bottom:0;
}
#conversejs ul, #conversejs ol, #conversejs dl {
	margin: 0;
}

#conversejs .group-toggle {
    display: block;
    width: 100%;
	font: 12px Helvetica;
}

#conversejs .chatbox, #conversejs .chatroom {
    border-radius: 0px;
    box-shadow: none;
    float: right;
    margin-right: 15px;
    z-index: 20;
	border:1px solid #ddd;
}


#conversejs .chat-head {
    background-color: #009CC5;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    clear: right;
    color: #FFFFFF;
    height: 26px;
    margin: 0;
    padding: 3px 0 0;
}

#conversejs .chat-head #controlbox-tabs li a {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: none;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
}


#conversejs a.configure-chatroom-button, #conversejs a.minimize-chatbox-button, #conversejs a.close-chatbox-button {
    background: none;
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    color: white !important;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 10px;
    margin-right: 3px;
    padding: 3px 3px 2px;
    text-decoration: none;
    text-shadow: none;
}

#conversejs .icon-close{
	font-family: verdana;
}

#conversejs a:visited, #conversejs a:hover, #conversejs a:active, #conversejs a:link{
	color: black;
	text-decoration:none;
}

#conversejs .chat-head-chatbox, #conversejs .chat-head-chatroom {
	height: 37px;
	overflow:hidden;
}

#conversejs ul#controlbox-tabs li a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: block;
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
	margin-left:2px;
}

#conversejs ul#controlbox-tabs li a {
    height: 24px;
}

#conversejs ul#controlbox-tabs li  {
    padding-left:2px;
}


#conversejs ul#controlbox-tabs a.current,#conversejs ul#controlbox-tabs a.current:hover {
    border-bottom: 0 none;
    box-shadow: none;
    color: black;
	font-weight:bold;
    cursor: default;
    height: 25px;
}


#conversejs .toggle-controlbox{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #E3E2E2;
    border-color: #C3C3C3 #C3C3C3 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-width: 1px 1px medium;
    bottom: 0;
    font-size: 70%;
    height: 16px;
    margin-right: 20px;
    padding: 1px 3px;
    position: fixed;
    right: 0;
}


#conversejs .chat-head {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #FFFFFF;
    font-size: 100%;
    margin: 0;
    padding: 3px 0 0 3px;
}

#conversejs div.chat-title {
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    height: 1em;
    line-height: 15px;
    margin-right: 20px;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: nowrap;
}

#conversejs .chat-head-chatbox, #conversejs .chat-head-chatroom {
    height: 26px;
    position: relative;
	background-color: #009CC5;
}
*/
