@media print {
 .go-warning-msg,.message-move,.em-autolink-message,.em-contact-link-container,.em-links,.em-link-message, .em-links-header{ display: none !important; }
}

.em-autolink-message{
	padding:5px;
	border:1px solid #ddd;
	background-color:#f1f1f1;
	margin-bottom:20px;
}

.em-autolink-link{
	cursor:pointer;
	text-decoration:underline;
}

.go-html-formatted a.em-link-link:link, .go-html-formatted a.em-link-link:visited, .go-html-formatted a.em-link-link:active{
	cursor:pointer;
	text-decoration:none;
	padding-left:18px;
	margin-left:5px;
	background-repeat: no-repeat;
	display:inline-block;
	width: auto !important;
}

.em-link-message{
	padding:5px;
	border:1px solid #ddd;
	background-color:#f1f1f1;
	margin-bottom:20px;
}

.em-links .go-icon-list{
	display: inline-block;	
	margin-left: -15px;
}


.em-spam-move-block {
	float:right;
	color: lightgray;
}

.em-tree-node-noselect .x-tree-node-anchor span, .em-readonly a span{
	font-style:italic;
	color:#666 !important;
}



.em-statusbar-body span{
line-height:21px !important;
padding-left:2px;
}

.em-usage-95{
	color:red !important;
	font-weight:bold !important;
	line-height: 20px !important;
}
.em-usage-85, .em-usage-90{
	color:orange !important;
	font-weight:bold !important;
	line-height: 20px !important;
}



.em-blocked{
margin:5px 2px;
}

#ml-notify, #ml-notify:hover{
	float:left;
	padding-left:20px;
	line-height:16px;
	background: url(images/16x16/message.png) no-repeat;
	height:16px;
	vertical-align:middle;
	color:#666666;
	font-size: 10px;
	margin-top:3px;
}
.go-model-icon-GO_Email_Model_ImapMessage, .go-model-icon-GO_Savemailas_Model_LinkedEmail {
	background-image: url('images/16x16/message.png') !important;
	width:16px;
	height:16px;
}

.em-btn-email-files{
	background-image: url('images/16x16/attach.png') !important;
}

.go-module-icon-email , .go-menu-icon-email{
	background-image: url('images/email.png') !important;
}

.go-tab-icon-email {
	background-image: none !important;
}


.btn-message-unseen {
	border-radius: 50%;
	background-color: rgba(23,126,163, .16);
	max-width:8px;
	margin: 0 8px;
	max-height: 8px;
}

.em-btn-share-mailbox {
	background-image:url('images/16x16/share_mailbox.png') !important;
}


.ml-seen-mail{
	margin:2px 0px;
}

.ml-unseen-mail{
 margin:2px 0px;
 font-weight:bold;
 color:#15428B;
}

.ml-seen-from{
}


.ml-seen-subject{
	margin:0px;
	font-weight:normal;
}

.ml-unseen-subject{
	margin:0px;
}







.message-header-table td{
	vertical-align:top;
}

.message-icalendar{
	background-color:#EBF0F2;
	border-bottom:1px solid #d0d0d0;
	padding: 0 8px 0 8px;
	text-align:left;
	line-height:20px;
}

.message-move {
	color: gray;
	padding: 0 8px 0 8px;
	text-align: right !important;
	line-height: 20px;
}

.message-icalendar-icon{
	background-repeat:no-repeat;
	background-position:0 2px;
	padding:0px 0px 2px 20px;
	white-space:nowrap;
	float:left;
	width:auto !important;
}
.message-icalendar-actions{
	float:right;
	height:20px;
}

.message-icalendar a{
	color: black;
	text-decoration: none;
}
.message-icalendar a:hover{
	color: black;
	text-decoration: underline;
}

#email-message-panel .x-panel-body {
	/*background-color:white;*/

}
#email-message-panel .message-body {
	/*color: rgba(0,0,0,0.87);*/
}

.email-grid-icon{
	float:left;
	width:16px;
	height:16px;
}

.em-attachments-container{
	outline: none;
}

.attachment-wrap {
	cursor: default;
}
.attachment-wrap.x-view-over{
	background-color:#ebf1e2;
	border:0px !important;
}
.attachment-wrap.x-view-selected{
	background-color:#ebf1e2;
	border:1px solid #669900 !important;;
}

.email-upload-pc{
	padding-left:13px;
	cursor:pointer;
	line-height:16px;
	text-decoration:none;
	white-space:nowrap;

}
.email-upload-pc td.x-btn-tl, .email-upload-pc td.x-btn-tc, .email-upload-pc td.x-btn-tr,
.email-upload-pc td.x-btn-ml, .email-upload-pc td.x-btn-mc, .email-upload-pc td.x-btn-mr,
.email-upload-pc td.x-btn-bl, .email-upload-pc td.x-btn-bc, .email-upload-pc td.x-btn-br {
	background:transparent !important;
}

.email-upload-pc button.x-btn-text
{
	color:#000000 !important;
	font:12px tahoma,arial,helvetica,sans-serif;
	white-space:nowrap;
}

.x-menu-list-item form
{
	background:transparent !important;
}

.em-contact-link-container{
	float:left;
}

.em-contact-link{
	 float:right;
	 margin-left:2px;
	 margin-bottom:2px;
}

.em-contact-link .x-form-check-wrap{
	line-height:inherit !important;
}

div.em-message-labels-container span {
	float: left;
	border-radius: 5px;
	padding: 3px 8px;
	line-height: 15px;
	margin-right: 5px;
	margin-bottom: 5px;
}

div.em-messages-grid-labels-container > div {
	border-radius: 4px;
	float: left;
	height: 16px;
	margin: 0 4px 4px 0;
	width: 16px;
}

.ml-deleted{
	color:#777777;
	text-decoration: line-through;
}
