.entity.Contact::before {
	content: "person";
}

.entity.Company::before {
	content: "domain";
}


.go-model-icon-GO_Addressbook_Model_Contact
{
	background-image: url('images/16x16/contact.png') !important;
	width:16px;
	height:16px;
}

.go-model-icon-GO_Addressbook_Model_Company
{
	background-image: url('images/16x16/company.png') !important;
	width:16px;
	height:16px;
}

.go-model-icon-GO_Addressbook_Model_Addresslist{
	background-image: url('images/16x16/templates.png') !important;
	width:16px;
	height:16px;
}

.go-module-icon-addressbook , .go-menu-icon-addressbook{
	background-image:url('images/addressbook.png') !important;	
}

.go-tab-icon-addressbook {
	background-image: none !important;
}

.OO-download-btn
{
	padding: 0px 0px 0px 90px;
	/*background-image:url('images/16x16/mailings.png') !important;*/
}

.letter {
	margin: 1px;
	padding: 4px 3px 4px 3px;
	font-size: 16px;
	font-weight: bold;
	/*border: 1px solid white;*/

	cursor: pointer;
	cursor: hand;
	line-height:40px;
}

.alphabet-view-selected,
.alphabet-view-over
{
	padding: 4px 3px 4px 3px;	
}

.alphabet-view-selected {
	background-color:#ebf1e2 !important;
	border:1px solid #669900 !important;
}
	
.alphabet-view-over
{
  background-color:#ebf1e2
}

.ab-search-form-panel
{
	padding: 0px 3px 0px 3px;
}

.x-form-add-trigger 
{
   background-image: url(images/16x16/company-link.png) !important;
   background-position: center center !important;    
   cursor: pointer;
   cursor: hand;    
   border: 0 !important;    
   margin-left: 4px;
 }


/* OpenOfficeDocument Selection Window */
/* - Edit User */
#OODocumentList {
	font:normal 11px arial, tahoma, helvetica, sans-serif;
	padding:2px;
	background-color:white;
	/*border-bottom:1px solid #c3daf9;*/
}

#OODocumentList div{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-bottom:2px;
	text-decoration:none;
	line-height:18px;
	cursor:default;
}

#OODocumentList .calendar-wrap{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	padding: 2px;
	cursor: default;
}

#OODocumentList .x-view-over{
  border:1px solid #dddddd;
  background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 2px;
}

.readPanelSubHeading{
	font-style:italic;
}

td.contactCompanyLabelWidth {
	width: 110px;
}

td.table_header_links {
	background-color: #f1f1f1;
}

.ml-template-default-spacer {
	border-bottom:1px solid #D0D0D0 !important;
	margin:10px 0px !important;
}

.ab-photo{
	width:120px;
/*	height: 120px;*/
	border:1px solid #d0d0d0;
	margin:5px;
}

.facebook-icon, .linkedin-icon, .skype-icon, .twitter-icon {
	width: 16px;
	height: 16px;
	margin-left: 3px;
	margin-top: 2px;
	margin-right: 5px;
	float: left;
}

.facebook-icon {
	background:url('images/16x16/facebook-icon-16.png') no-repeat top right !important;
}

.linkedin-icon {
	background:url('images/16x16/linkedin-icon-16.png') no-repeat top right !important;
}

.skype-icon {
	background:url('images/16x16/skype-icon-16.png') no-repeat top right !important;
}


.twitter-icon {
	background:url('images/16x16/twitter-icon-16.png') no-repeat top right !important;
}

.male-cell { 
    background: url(images/16x16/male.png) no-repeat 8px 12px; 
    padding-left: 18px !important; 
} 
 
.female-cell { 
    background: url(images/16x16/female.png) no-repeat 8px 12px; 
    padding-left: 18px !important; 
}
