@use "sass:math";

$resourcePath: '../Paper/';
$density: 115;
$font-scale: 1.1;

@font-face {
	font-family: 'Icons';
	font-style: normal;
	font-weight: 400;
	src:  url('./fonts/icons.woff2') format("woff2"); // Super Modern
}

@function dp($width) {
  @return math.floor(math.div(($width * $density) , 160) *1px);
}
@function sp($size) {
  @return ceil(math.div(($size * $density) , 160) * $font-scale) *1px;
}

$borderRadius: 8px;