body{
  background-color: $cHeaderBg;
}

.x-btn, .x-toolbar .x-btn, .x-small-editor .x-btn {
  border: 1px solid color($fg,'line');
  background-color: color($grey, 50);
  &:hover{
    @extend .z1;
    //background-color: $cHover;
  }
  &.x-btn-click{
    box-shadow:none;
    .x-btn-text{color:inherit;}
  }
  &.x-btn-focus {
    @include var(background-color, c-primary-tp);
  }
  &.primary, &.raised {
    color: white;
    background-color: $cPrimary;
    //&:hover{ background-color: #387002;}
  }
}
.x-toolbar .xtb-sep{
  margin-left:0;
}
.x-grid3-body:focus {
  border: 1px solid black;
  background-color:black;
}

.x-btn-group{
  @extend .z1;
  border:0;
  .x-btn {
    border: 0px;
  }
}

.x-html-editor-tb {
  //background-color:black;
  .x-toolbar-cell > * {
    margin:0;
  }
  .x-btn {
    box-shadow: none;
    border: 0;
  }
}

.x-btn.primary .x-btn-text, .x-date-mp-btns button.primary .x-btn-text {
  color: white;
}

.x-btn-icon button {
  min-height:1px;
  &::before{
    top: 0;
  }
}
#global-search-panel .x-btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
#search_query {
  padding-top: 14px;
}
.x-date-picker {
  width: dp(264);
}

.go-form-group .x-panel-bbar .x-btn-text {
  font-size: sp(14);
  font-weight: $font-weight-m;
  letter-spacing: 0.022em;
  text-decoration: none;
  //color: inherit;
}

.x-panel-fbar td button, .x-panel-fbar span button, .x-panel-fbar input button, .x-panel-fbar div button, .x-panel-fbar select button, .x-panel-fbar label button {
  color: inherit;
}

.x-tab-strip > li {
  padding: 0 dp(16);
}

.cal-display-panel {
  background-color: color($bg, 'card');
}

.notificationArea, .notifications {
  background-color: color($bg, 'status-bar');
}
.notificationArea > .x-panel-header {
  background-color: $cHeaderBg;
}

.x-grid3-header,
.go-grid .go-grid-hd-btn,
.message-header,
.cal-monthgrid-week-no,
table.x-calGrid-headings-table {
  background-color: #faf9f8;
}

// fancy app bar
@media screen and (max-width: 1200px){
.go-main-tab-panel > .x-tab-panel-header {
  display: block;
}
}
#mainNorthPanel {
  height: 44px;
}
.go-main-tab-panel{
  overflow:visible;
}
.go-main-tab-panel.x-tab-panel > .x-tab-panel-header{
  position: absolute;
  top: -38px;
  left: 176px;
  right: 172px;
  width:auto !important;
  height: 0;
  overflow: visible;
}
.go-main-tab-panel.x-tab-panel > .x-tab-panel-header .x-tab-strip-active {
  border: 1px solid rgba(0,0,0,.16);
  background-color: rgba(0,0,0,.12);
  border-radius: 15px

}
.go-main-tab-panel {
  bottom:0;
}
.go-main-tab-panel .x-tab-strip > li {
  border:1px solid transparent;
}

//html editor icons in outline set:
.x-edit-forecolor:before, img.x-edit-forecolor + span::before {content: 'color_lens';}
.x-edit-backcolor:before, img.x-edit-backcolor + span::before {content: 'format_paint';}

// fix icon that is different in outline theme
.ic-file-download:before {content: 'download' !important; }
.ic-file-upload:before {content: 'upload' !important; }