.x-btn, .x-toolbar .x-btn, .x-small-editor .x-btn {
	background-color: color($bg, 'button');
	.x-btn-group & {
	 border-radius: 0;
	}
	&:hover{
	 @extend .z1;
	 //background-color: $cHover;
	}
	&.x-btn-click{
	 box-shadow:none;
	 .x-btn-text{color:inherit;}
	}
	&.x-btn-focus {
	 @include var(background-color, c-primary-tp);
	}
	&.primary, &.raised {
		color: white;
		background-color: var(--c-secondary);
		@include var('background-color', c-secondary);
	}
	&.accent {
	  background-color: var(--c-accent);
	}
}
.go-main-tab-panel.x-tab-panel > .x-tab-panel-header .x-tab-strip > li {
	padding: 0 dp(20);
}
.x-menu {
	border: 1px solid var(--fg-disabled);
}
.x-menu-sep {
	margin-left: dp(16);
	margin-right: dp(16);
}
.x-menu-item-text, .go-sidenav *, .go-nav * {
	@extend %font-menu;
}
.x-toolbar .xtb-sep{
  margin-left:0;
}
.x-grid3-body:focus {
  border: 1px solid black;
  background-color:black;
}

.x-btn-group{
  //@extend .z1;
  border:1px solid var(--fg-divider);
  .x-btn {
    border: 0;
  }
}

.x-html-editor-tb {
  //background-color:black;
  .x-toolbar-cell > * {
    margin:0;
  }
  .x-btn {
    box-shadow: none;
    border: 0;
  }
}
.x-window{
	border: 1px solid var(--fg-divider);
	&-header-text {
		height: dp(40);
		line-height:dp(40);
	}
	&-header .x-tool {
		margin:dp(6) 0;
	}
}

#global-search-panel .x-btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.go-form-group .x-panel-bbar .x-btn-text {
  font-size: sp(14);
  font-weight: $font-weight-m;
  letter-spacing: 0.022em;
  text-decoration: none;
  //color: inherit;
}

.x-panel-fbar td button, .x-panel-fbar span button, .x-panel-fbar input button, .x-panel-fbar div button, .x-panel-fbar select button, .x-panel-fbar label button {
  color: inherit;
}

.cal-display-panel {
  background-color: color($bg, 'card');
}

//html editor icons in outline set:
.x-edit-forecolor:before, img.x-edit-forecolor + span::before {content: 'color_lens';}
.x-edit-backcolor:before, img.x-edit-backcolor + span::before {content: 'format_paint';}

// fix icon that is different in outline theme
.ic-file-download:before {content: 'download' !important; }
.ic-file-upload:before {content: 'upload' !important; }

.go-detail-view > .x-panel-bwrap > .x-panel-body > .x-panel, .x-portlet {
  box-shadow:none;
  outline: 1px solid var(--fg-divider);
}
.go-detail-view > .x-panel-bwrap > .x-panel-body > .x-panel > .x-panel-header {
	border-top: 0;
}
.x-portlet { overflow:hidden;}