$ambientColor: #1e1246; //#72575e;// #356772;// ; //#f6f0eb; // #004440; //

:root {
	--fg-base:			 black;
	--fg-divider:			#{rgba(black, 0.08)};
	--fg-border:			#{rgba(black, 0.16)};
	--fg-line:				#{rgba(black, 0.12)};
	--fg-disabled:       #{rgba(black, 0.38)};
	--fg-textfield-box:  rgba(255, 255, 255, 0.8); // for the border
	--fg-textbox-line: 	#{rgba(black, 0.42)};
	--fg-track: 	#{rgba(black, 0.26)};
	--fg-text:           #{rgba(black, 0.87)};
	--fg-secondary-text: #{rgba(black, 0.64)};
	--fg-unfocused:		#{rgba(black, 0.54)};
	--fg-alt:			white;

	--bg-body: 			var(--c-primary);
	--bg-button:	  	#{mix(#fff, $ambientColor, 98%)}; //rgba(255,255,255,.75);
	//--bg-app-bar:     #{mix(#ddd, $ambientColor, 86%)}; // rgba(0,0,0,.35);
	//--bg-form:   #{mix(#eee, $ambientColor, 92%)}; //only dialog body
	--bg-dialog: 		#{rgba(mix(#eee, $ambientColor, 92%),.74)};
	--bg-side-bar:		#{mix(white, $ambientColor, 81%)}; //rgba(255,255,255,.81);
	--bg-background:  #{mix(#fafafa, $ambientColor, 95%)};// rgba(255,255,255,.92);

	--bg-hover:      #{rgba(black, 0.08)};
	--bg-selected:   #{rgba(black, .10)};
	--bg-pressed:		#{rgba(black, .25)};
	--bg-disabled:   #{rgba(black, 0.12)};
	//--bg-active: #{rgba($primary500, .24)}; // active state can me differend from selected

	--bg-box: 			white; //rgba(black, 0.06),
	--bg-card:        	white;
	--bg-alt: 			#{mix(#000, $ambientColor, 65%)};
}
//@media (prefers-color-scheme: dark) {
//	:root {
//		--fg-base:				white;
//		--fg-divider:			rgba(0,0,0, 0.94);
//		--fg-border:			black;
//		--fg-line:				#555555;
//		--fg-disabled:       rgba(255,255,255, 0.3);
//		--fg-textfield-box:  #555555;
//		--fg-textbox-line: 	#{rgba(white, 0.62)};
//
//		--fg-track: 	#{rgba(white, 0.36)};
//		--fg-text:           white;
//		--fg-secondary-text: rgba(255,255,255, 0.7);
//		--fg-unfocused:	   rgba(255,255,255, 0.7);
//		--fg-alt:			black;
//
//		--bg-body: 			#1b1b1b;
//		--bg-button:	  #{mix(#555, $ambientColor, 87%)} ;//rgba(255,255,255,.25); //#606060;
//		//--bg-app-bar:    #{mix(#333, $ambientColor, 95%)}; // #383838; aside
//		--bg-dialog: 		#{rgba(mix(#333, $ambientColor, 95%),.74)};
//		--bg-side-bar:		#{mix(#222, $ambientColor, 87%)};
//		--bg-background: #{mix(#333, $ambientColor, 92%)} ; //rgba(0,0,0,.85); //#1e1e1e;
//
//		--bg-hover:      rgba(255,255,255, 0.04);
//		--bg-selected:   #{rgba(white, .08)};
//		--bg-pressed:	#{rgba(#cccccc, .25)};
//		--bg-disabled: rgba(255,255,255, 0.12);
//
//		--bg-box:      #{mix(#2a2a2a, $ambientColor, 95%)}; // cant be transparent because line of label is same color
//		--bg-card:       #{mix(#202020, $ambientColor, 86%)}; // rgba(0,0,0,.35);
//		--bg-alt: 			#888;
//	}
//}

//compatability meuk
$fg: fg;
$bg: bg;
@function color($color, $color-variant: 500) {
	@return var(--#{$color}-#{$color-variant});
}


//override color
$cSelected: 	color($bg, 'selected'); // click on menus, tree items, table
$cHover: 		color($bg, 'hover') !default;
$cActive: 		color($bg, 'status-bar') !default; // focussed