.entity.File::before {
	content: "description"
}

.entity.Folder::before {
	content: "folder"
}


.fs-img-viewer{
border:1px solid #d0d0d0;
display:block;
margin:auto;
cursor:pointer;
}

.go-module-icon-files , .go-menu-icon-files {
	background-image: url('images/folder.png') !important;
}

.go-tab-icon-files {
	background-image: none !important;
}

.go-model-icon-GO_Files_Model_File {
	background-image: url('images/filenew.png') !important;
}
.go-model-icon-GO_Files_Model_Folder {
	background-image: url('images/folder.png') !important;
}

/*.btn-download {
	background-image:url('images/download.png') !important;
}*/

.btn-download-gota {
	background-image:url('images/gota.gif') !important;
}

.btn-properties{
	background-image:url('images/properties.png') !important;
}

.btn-templates{
	background-image:url('images/templates.png') !important;
}

.btn-compress{
	background-image:url('images/compress.png') !important;
}
.btn-decompress{
	background-image:url('images/decompress.png') !important;
}



.go-files-location-panel .x-plain-body{
	padding: 5px 5px 0px 6px;
/*background:#D0DEF0 url(../../../../ext/resources/images/default/toolbar/bg.gif);*/
}


.x-tree-node img.folder-default, .x-tree-node-collapsed img.folder-default {
    background-image:  url("images/folder.png");
}
.x-tree-node-expanded img.folder-default
{
    background-image:  url("images/folder.png");
}

.x-tree-node img.folder-home, .x-tree-node-collapsed img.img.folder-home, .x-tree-node-expanded img.folder-home{
    background-image:  url("images/folder_home.png");
}
.folder-shared, .x-tree-node img.folder-shared, .x-tree-node-collapsed img.img.folder-shared, .x-tree-node-expanded img.folder-shared{
    background-image:  url("images/folder_public.png");
}
.x-tree-node img.folder-shares, .x-tree-node-collapsed img.img.folder-shares, .x-tree-node-expanded img.folder-shares{
    background-image:  url("images/network.png");
}
.x-tree-node img.folder-new, .x-tree-node-collapsed img.img.folder-new, .x-tree-node-expanded img.folder-new{
    background-image:  url("images/folder_new.png");
}



.fs-thumb{
	padding: 8px;
	text-align:center;
	height: 120px;
	width: 140px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size:contain;
}
.fs-thumb-wrap{
	float: left;
	margin: 8px;
	margin-right: 0;
	padding: 8px;
	height:152px;
	width:152px;
	border-radius: 2px;
	overflow:hidden;
}
.fs-thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

.fs-view-over{
  background-color: rgba(23,126,163, .16);
}
.fs-view-selected{
	background-color: #eeeeee;
}
/*.fs-view-selected .fs-thumb{
	background:transparent;
}*/

.fs-loading-indicator {
	font-size:11px;
	background-image:url('../../../../views/Extjs3/themes/Default/images/extjs/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

.fs-btn-normal-size {
	background-image:url('images/normal_size.png') !important;
}

.fs-btn-fit-image {
	background-image:url('images/fit_image.png') !important;
}

.fs-imageviewer{
	background-image:url('images/imageviewer.png') !important;
}

.fs-browser{
	background-image:url('images/browser.png') !important;
}

.fs-grid-locked{
	background-repeat:no-repeat;
	padding-right:20px;
	height:16px;	
	background: url(../../../../views/Extjs3/themes/Default/images/16x16/lock.png) no-repeat;
	background-position: right;
	float:left;
}


.fs-thumb-locked{
	background: url(../../../../views/Extjs3/themes/Default/images/16x16/lock.png) no-repeat;
	background-position: 80px 84px;
	height:100px;
	width:100px;
}


.fs-handler-icon{
	background-repeat:no-repeat;
	padding-left:24px !important;	
	background-position: 4px 10px;
	background-size: 16px 16px;
}

.fs-dropzone {
	border: 2px dashed grey;
	min-height: 100px;
	margin: 14px 14px 0;
	text-align:center;
	padding-top:40px;
}

.content-expired {
	color:red;
}