

.free {
border:1px solid black;
width:6px;
}

.busy {
border:1px solid black;
background-color:red;
width:6px;
}


.go-module-icon-calendar , .go-menu-icon-calendar , .go-tab-icon-calendar {
	background-image: url('images/16x16/calendar.png') !important;
}

.go-link-icon-1 {
	background-image: url('images/16x16/calendar.png') !important;
}

.btn-invite{
	background-image: url('images/16x16/message.png') !important;
}

.btn-one-day {
	background-image: url('images/16x16/calendar.png') !important;
}

.btn-five-days {
	background-image: url('images/16x16/5days.png') !important;
}
.btn-seven-days {
	background-image: url('images/16x16/7days.png') !important;
}

.btn-month {
	background-image: url('images/16x16/month.png') !important;
}

.btn-list {
	background-image: url('images/16x16/list.png') !important;
}

.btn-availability {
	background-image: url('images/16x16/availability.png') !important;
}

.btn-copy {
	background-image:url('images/16x16/copy.png') !important;
}

.btn-cut {
	background-image:url('images/16x16/cut.png') !important;
}

.btn-properties{
	background-image:url('images/16x16/properties.png') !important;
}

.img-available {
	background-image: url('images/16x16/available.png') !important;
	width:16px;
	height:16px;
}

.img-unavailable {
	background-image: url('images/16x16/unavailable.png') !important;
	width:16px;
	height:16px;
}

.img-unknown {
	background-image: url('images/16x16/unknown.png') !important;
	width:16px;
	height:16px;
}

.x-calGrid-headings-table {
	background-image:url(../../../../views/Extjs3/ext/resources/images/default/layout/panel-title-light-bg.gif) !important;
	border-bottom:1px solid #98C0F4 !important;
}

.cal-date-picker-wrap{
	width:210px;
	margin:auto;
	margin-top: 4px;
	margin-bottom: 4px;
}