@import "../../../../../../../../../views/Extjs3/themes/Paper/src/_base.scss";

.go-addressbook-star {
	color: #febf35;
}

.go-addressbook-contact-avatar {
	text-align: center;
	.avatar {
		height: dp(200);
		width: dp(200);
	}
}

.go-addressbook-name-panel {
	padding: dp(16);
	.x-panel-tbar {
		.x-toolbar {
			border-bottom: 0;
		}
	}
	
	h4 {
		top: dp(-16);
		left: dp(56);
	}
}