.fs-img-viewer{
border:1px solid #d0d0d0;
display:block;
margin:auto;
cursor:pointer;
}

.go-module-icon-files , .go-menu-icon-files {
	background-image: url('images/folder.png') !important;
}

.go-tab-icon-files {
	background-image: none !important;
}

.go-model-icon-GO_Files_Model_File {
	background-image: url('images/filenew.png') !important;
}
.go-model-icon-GO_Files_Model_Folder {
	background-image: url('images/folder.png') !important;
}

.btn-files {
	background-image:url('images/files.png') !important;
}

.btn-up {
	background-image:url('images/up.png') !important;
}

.btn-add-folder {
	background-image:url('images/add.png') !important;
}

.btn-upload {
	background-image:url('images/upload.png') !important;
}


.fs-btn-download {
	width:16px;
	height:16px;
	display:block;
	background-image:url('images/download.png');
	text-decoration:none;
}


/*.btn-download {
	background-image:url('images/download.png') !important;
}*/

.btn-download-gota {
	background-image:url('images/gota.gif') !important;
}

.btn-copy {
	background-image:url('images/copy.png') !important;
}

.btn-cut {
	background-image:url('images/cut.png') !important;
}

.btn-paste {
	background-image:url('images/paste.png') !important;
}

.btn-properties{
	background-image:url('images/properties.png') !important;
}

.btn-templates{
	background-image:url('images/templates.png') !important;
}

.btn-compress{
	background-image:url('images/compress.png') !important;
}
.btn-decompress{
	background-image:url('images/decompress.png') !important;
}

.btn-thumbnails{
	background-image:url('images/thumbs.png') !important;
}



.go-files-location-panel .x-plain-body{
	padding: 5px 5px 0px 6px;
/*background:#D0DEF0 url(../../../../ext/resources/images/default/toolbar/bg.gif);*/
}


.x-tree-node img.folder-default, .x-tree-node-collapsed img.folder-default {
    background-image:  url("images/folder.png");
}
.x-tree-node-expanded img.folder-default
{
    background-image:  url("images/folder.png");
}

.x-tree-node img.folder-home, .x-tree-node-collapsed img.img.folder-home, .x-tree-node-expanded img.folder-home{
    background-image:  url("images/folder_home.png");
}
.folder-shared, .x-tree-node img.folder-shared, .x-tree-node-collapsed img.img.folder-shared, .x-tree-node-expanded img.folder-shared{
    background-image:  url("images/folder_public.png");
}
.x-tree-node img.folder-shares, .x-tree-node-collapsed img.img.folder-shares, .x-tree-node-expanded img.folder-shares{
    background-image:  url("images/network.png");
}
.x-tree-node img.folder-new, .x-tree-node-collapsed img.img.folder-new, .x-tree-node-expanded img.folder-new{
    background-image:  url("images/folder_new.png");
}



.fs-thumb{
	/*background: #dddddd;*/
	padding: 3px;
	text-align:center;
	height: 100px;
	width: 100px;
	background-position:  center center;
	background-repeat: no-repeat;
	background-size:contain;
}
.fs-thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
	height:120px;
	width:120px;
	overflow:hidden;
}
.fs-thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

.fs-view-over{
  border:1px solid #dddddd;
  background: #efefef url(../../../../views/Extjs3/themes/Default/images/extjs/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}
.fs-view-selected{
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
	border:1px solid #669900;
	padding: 4px;
}
/*.fs-view-selected .fs-thumb{
	background:transparent;
}*/

.fs-loading-indicator {
	font-size:11px;
	background-image:url('../../../../views/Extjs3/themes/Default/images/extjs/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

.fs-btn-normal-size {
	background-image:url('images/normal_size.png') !important;
}

.fs-btn-fit-image {
	background-image:url('images/fit_image.png') !important;
}

.fs-imageviewer{
	background-image:url('images/imageviewer.png') !important;
}

.fs-browser{
	background-image:url('images/browser.png') !important;
}

.fs-grid-locked{
	background-repeat:no-repeat;
	padding-right:20px;
	height:16px;	
	background: url(../../../../views/Extjs3/themes/Default/images/16x16/lock.png) no-repeat;
	background-position: right;
	float:left;
}


.fs-thumb-locked{
	background: url(../../../../views/Extjs3/themes/Default/images/16x16/lock.png) no-repeat;
	background-position: 80px 84px;
	height:100px;
	width:100px;
}


.fs-handler-icon{
	background-repeat:no-repeat;
	padding-left:24px !important;	
	background-position: 0px 4px;
}
.fs-filebrowser{
	border:10px solid white;
}



/*.fs-filebrowser .x-border-layout-ct{
	background-color:#2a9ac9;
}*/


.fs-filebrowser .go-border-north{
	background-color:#fff;
}