.go-tab-icon-googleauthenticator {
	background-image: none !important;
}

.go-module-icon-googleauthenticator , .go-menu-icon-googleauthenticator{
	background-image:url('images/icon.png') !important;	
}


img.googleauthenticator-qr {
	width:200px;
	height:200px;
	border:1px solid #000;
}