.go-tab-icon-googleauthenticator {
	background-image: none !important;
}

.go-module-icon-googleauthenticator , .go-menu-icon-googleauthenticator{
	background-image:url('images/icon.png') !important;	
}

img.googleauthenticator-qr {
	margin:20px auto;
	display:block;
}