.entity.Event::before {
	content: "event"
}



.cal-has-reminders{
	background:url(images/16x16/reminder.png) no-repeat 0 1px;
	padding:8px !important;
	float:right;
}

.cal-is-private{
	background:url(images/16x16/private.png) no-repeat 0 1px;
	padding:8px !important;
	float:right;
}
.cal-recurring{
	background:url(images/16x16/recurring.png) no-repeat 0 1px;
	padding:8px !important;
	float:right;
}
.cal-resources{
	background:url(images/16x16/resources.png) no-repeat 0 1px;
	padding:8px !important;
	float:right;
}

.cal-comment{
	white-space:normal !important;
}


.cal-date-picker .x-date-bottom .x-btn{
	float:left;
	margin-left:25px;
}

.cal-go-title{
	font-size:16px;
	margin-bottom:10px;
}

.cal-display-panel .x-toolbar table{
	float:right;	
}

.cal-display-panel * {
	/* box-sizing: content-box; */
}

#availability_date{
font-size: 12px;	
}

.availability{
	width:100%;
border-collapse:collapse;

}
.availability td{
	font-size: 10px;
	border:1px solid rgba(0,0,0,.54);
		
}

.availability_time {
	width:28px;
	padding: 0px 2px;
	text-align:center;
	font-size: 8px;	
	border:1px solid rgba(0,0,0,.16);
	
}

.time-over{
	/*background-color:rgba(0,0,255, .16) !important;*/
}

.free {
	width:6px;
}

.busy {
	background-color:rgba(255,0,0, .16);
	width:6px;
}

.go-menu-icon-calendar, .go-module-icon-calendar{
	background-image: url('images/calendar.png') !important;
}
.go-tab-icon-calendar {
	background-image: none !important;
}

.go-model-icon-GO_Calendar_Model_Event{
	background-image: url('images/calendar.png') !important;
	width:16px;
	height:16px;
}

/* sets the padding for panels with forms or text in it */
.cal-blue-panel .x-panel-body{
	background-color:#D0DEF0;
}

#calendarList {
	/*font:normal 10px "Lucida Sans Unicode","Lucida Grande","Mukti Narrow", sans-serif;*/
	font:normal 11px tahoma,arial,helvetica,sans-serif;
	padding:6px;
	background-color: transparent;
	position:relative;
	/*border-bottom:1px solid #c3daf9;*/
		
}

#calendarList div{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-bottom:2px;
	text-decoration:none;
	line-height:18px;
	cursor: default;
}

#calendarList .calendar-wrap{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	cursor: default;
	margin-top:4px;
	padding:2px 2px 2px 6px;
}

#calendarList .x-view-over{
	background-color:#ebf1e2;
  border:1px solid #ebf1e2;
	margin-top:4px;
	padding:2px 2px 2px 6px;
}

#calendarList .x-view-selected{
	border:1px solid #669900;
	background-color:#ebf1e2;
	margin-top:4px;
	padding:2px 2px 2px 6px;	
}




#viewList {
	font:normal 11px arial, tahoma, helvetica, sans-serif;
	padding:6px;
	background-color: transparent;
	position:relative;
}

#viewList div{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-bottom:2px;
	text-decoration:none;
	line-height:18px;
	cursor: default;
}

#viewList .view-wrap{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-top:4px;
	padding:2px 2px 2px 6px;
	cursor: default;
}

#viewList .x-view-over{
  background-color:#ebf1e2;
  border:1px solid #ebf1e2;
 	margin-top:4px;
	padding:2px 2px 2px 6px;
}

#viewList .x-view-selected{
	border:1px solid #669900;
	background-color:#ebf1e2;
	margin-top:4px;
	padding:2px 2px 2px 6px;
	
}

#resourceList {
	font:normal 11px arial, tahoma, helvetica, sans-serif;
	padding:6px;
	background-color: transparent;
	position:relative;
}

#resourceList div{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-bottom:2px;
	text-decoration:none;
	line-height:18px;
	cursor: default;
}

#resourceList .resource-wrap{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-top:4px;
	padding:2px 2px 2px 6px;
	cursor: default;
}

#resourceList .x-view-over{
  background-color:#ebf1e2;
  border:1px solid #ebf1e2;
 	margin-top:4px;
	padding:2px 2px 2px 6px;
}

#resourceList .x-view-selected{
	border:1px solid #669900;
	background-color:#ebf1e2;
	margin-top:4px;
	padding:2px 2px 2px 6px;

}

.x-calGrid-panel .x-panel-body{
/*background-color: #F1F1F1 !important;*/
}
.x-calGrid-table-wrapper{
	position:relative;
	background:transparent;
}

.x-calGrid-indicator{
	position:absolute;
	border-top:2px solid #177ea3; /* #dd4b39; */
	z-index:3001;
}
.x-calGrid-table{
	table-layout:fixed;
	border-collapse: collapse;
}
.x-calGrid-blankRow,.x-calGrid-hourRow{
	/*new theme fix */
	/* box-sizing: content-box; */
}
.x-calGrid-blankRow{
	border-top:1px solid transparent;
	border-right:2px solid rgba(0,0,0, 0.04);
	height:20px;
	background-color: transparent;
}

.x-calGrid-hourRow{
	border-top:1px solid rgba(0,0,0, 0.12);
	border-right:2px solid rgba(0,0,0, 0.04);
	background-color: transparent;
}

.x-calGrid-halfhourRow{
	border-top:1px solid transparent;
	border-right:2px solid rgba(0,0,0, 0.04);
	height:20px;
	background-color: transparent;
}

.x-calGrid-timeHead{
	background-color: transparent;
	width:39px !important;
	height:20px;
	border-top:1px solid rgba(0,0,0, 0.04);
	border-right:1px solid rgba(0,0,0, 0.04);
	text-align:right;
}
/*.x-calGrid-today{
	background-color:rgba(0,0,0, 0.04) !important;
}*/
.x-calGrid-selector{
	background-color:#DFE8F6;
	position:absolute;
	visibility:hidden;
	z-index:1;
	opacity: 0.6;
	filter:alpha(opacity=60);
}

.x-calGrid-event-container {
	cursor:default;	
	position:absolute;	
	/*border:1px solid #669900;*/
	border:1px solid transparent;	
	background-color:#ebf1e2;
	overflow: hidden;
	font:normal 11px tahoma,arial,helvetica,sans-serif;
	color:#000;
	padding:3px 3px 3px 7px;
	border-radius:2px;
	outline:none;
}

.x-calGrid-event-container .x-resizable-handle-south, .x-calGrid-event-container .x-resizable-handle{
	background:transparent;
	background-image: url(../../../../views/Extjs3/ext/resources/images/default/s.gif);
}

.x-calGrid-all-day-event-container {
	text-align:left;
	padding-left: 8px;
	margin: 2px 2px 4px 0;
	position:relative;
	background-color:#ffffcc;
	overflow: hidden;
	border-radius: 2px;
	-moz-outline:none;
	outline:none;
}

.x-calGrid-selected {
	background-color: rgba(23,126,163,.16) !important;
	z-index:3001 !important;
}

.x-calGrid-event-time{
	font-weight:bold;
}

.x-calGrid-grid-container{
	overflow:auto;
	position:relative;
	font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-calGrid-headings-table {
	background-color: transparent;
	border-collapse:collapse;
	table-layout:fixed;
	border-bottom:1px solid rgba(0,0,0, 0.12);	
}

.x-calGrid-heading{	
	font-size: 11px;
	vertical-align:middle;
	text-align:center;	
	/*color:rgba(0,0,0, 0.87);	*/
	line-height:22px;
	margin:1px;
}

.x-calGrid-heading-today{
	font-weight:bold;
}

.x-calGrid-all-day-table-container{
	overflow:auto;
}
.x-calGrid-all-day-table {
	border-collapse:collapse;
	table-layout:fixed;
	background-color: transparent;
	border-bottom:3px solid rgba(0,0,0, 0.12);	
}


.x-calGrid-all-day-first-col{
	width: 40px !important;
	/*border-right:1px solid rgba(0,0,0, 0.12);;*/	
} 

.x-calGrid-all-day-container{
	height:0px;
	vertical-align:top;
	/*border-right:1px solid rgba(0,0,0, 0.12);;*/
}
#cal-monthGrid-wrap {
	/*scroll fix */
	    overflow: hidden;
}
#cal-monthGrid-wrap div{
	box-sizing: border-box;

  /* and for older/other browsers: */
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cal-monthGrid-cell{
	border-bottom:1px solid rgba(0,0,0, 0.12);
	border-right:1px solid rgba(0,0,0, 0.12);
	vertical-align:top;
	text-align:left;
	overflow:hidden;
	font-size:11px;
	float:left;
}
.cal-monthgrid-week-no{
	border-bottom:1px solid rgba(0,0,0, 0.12);
	border-right:1px solid transparent;
	vertical-align:top;
	/*background-color:#d9e3e6;*/
	float:left;
	text-align:center;
	font-size: 11px;
}
.cal-overflow-indicator{
	font-style:italic;
	position:absolute;
	padding:1px 2px;
}
.cal-monthGrid-cell .x-monthGrid-cell-day-text {
	padding:4px;
	margin-left: 4px;
}

.x-monthGrid-cell-current, .x-monthGrid-cell-today{
	background-color: transparent;
}
.x-monthGrid-cell-weekend{
	background-color: rgba(0,0,0, 0.04);
}

.x-monthGrid-cell-today .x-monthGrid-cell-day-text{
	background-color: #177ea3;
	color: white  !important;
	border-radius: 10px;
}

a.x-monthGrid-cell-day-text:link, a.x-monthGrid-cell-day-text:visited,a.x-monthGrid-cell-day-text:active{
	font-size: 10px;
	text-decoration: none;
}
a.x-monthGrid-cell-day-text:hover{
	color: #26687C;
}

.x-calGrid-month-event-container {
	text-align:left;
	cursor:pointer;
	margin:0 4px 1px 0;
	background-color:rgba(23,126,163,.16);
	color: #000;
	overflow: hidden;
	padding-left:8px;
	position:relative;
	border-radius: 2px;
	-moz-outline:none;
	outline:none;
}

.x-calGrid-month-event-proxy {
	text-align:left;
	cursor:default;
	background-color:rgba(23,126,163,.06);
	height:24px;
	border-radius: 2px;
}



.x-calGrid-drag-overlay {
	/*background:white none repeat scroll 0%;*/
	display:none;
	height:100%;
	left:0pt;
	opacity:0;
	position:absolute;
	top:0pt;
	width:100%;
	z-index:3002;
}




/* start view grid */

.x-viewGrid-table{
	border-collapse: collapse;
}

.x-viewGrid-table td{
	border:1px solid #ddd;
	border-bottom:4px double #ddd;
	vertical-align:top;
	/*font:normal 11px "Lucida Sans Unicode","Lucida Grande","Mukti Narrow", sans-serif;*/
	font:normal 11px arial, tahoma, helvetica, sans-serif;
}
.x-viewGrid-calendar-name-cell {
/*	font-weight:bold;	*/
	padding:6px;
	white-space: nowrap;
	background-color:#F0F1F3;
}

.x-viewGrid-row-allday{
background-color:#f6f6f6;
}

.x-viewGrid-row-morning{
/*	background-color:#f6f6f6;*/
}
.x-viewGrid-row-afternoon{
/*	background-color:#f6f6f6;*/
}
.x-viewGrid-row-evening{
background-color:#f6f6f6;
}

.x-viewGrid-event-container {
	background-color:#ebf1e2;
	text-align:left;
	cursor:default;
	border:1px solid #C0C0C0;
	margin:1px;
	padding:1px 2px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-moz-outline:none;
	outline:none;
}

.x-viewGrid-event-proxy {
	text-align:left;
	cursor:default;
	border:1px solid #0000aa;
	margin:1px;
	background-color:#B8CFEE;/*#c3daf9;*/
	height:14px;
}


/* end view grid */




.x-grid3-col-summary-calendar-name-heading{
	white-space:normal !important;
}


#resources-panel .x-panel-header{
	background:none;
	border:0;
}

#resources-panel .x-panel-header-text{
	font-size:13px;
}

#resources-panel .x-fieldset-header-text{
	color:#666
}

.x-calGrid-event-status {
	border-radius: 2px 0px 0px 2px;
	display: block;
	top:0;bottom:0;
	left:0;
	position:absolute;
	margin-right: 4px;
	width: 4px;
}

.x-calListGrid-event-status{
	/*	background-color: red;*/
	border-radius: 6px 6px 6px 6px;
	display: block;
/*	float: left;*/
	height: 8px;
	line-height: 50px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 1px;
	width: 8px;
}


.cal-event-partstatus-DECLINED{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
	filter: alpha(opacity=50); /* IE 5-7 */
}

.cal-event-partstatus-NEEDS-ACTION{
	border: 2px dashed orange;
}
.cal-arrow-left,.cal-arrow-right,.cal-arrows {
	display:inline;
	padding:0px 14px 0px 0px;
	background: no-repeat center center;
}
.cal-arrow-left{ background-image:url(images/16x16/arrowleft.png);  }
.cal-arrow-right{ background-image:url(images/16x16/arrowright.png);}
.cal-arrows{ background-image:url(images/16x16/arrows.png);  }

