@use '../../../../../../../views/goui/goui/style/_util.scss'  as *;
@use '../../../../../../../views/goui/goui/style/_config.scss' as *;

.main-menu {
	background-color: $colorMain;
	.goui-button {
		color: white;
	}
}