.entity.File::before {
	content: "file"
}

.entity.Folder::before {
	content: "folder"
}

.go-module-icon-files , .go-menu-icon-files{
	background:url('images/files.png');
}

.preview {
	width: 100%;
	height: 130px;
	background-size: 80px 80px;
	background-position: bottom center;
}
.detail-preview > * {
	max-height: dp(240);
	width:100%;
}

.tile > .filetype {
	background-size: dp(100);
	background-position:center center;
	width: 100%;
	height: dp(160);
}

.go-fullscreen {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color: rgba(0,0,0,.86);
	z-index:20;
	text-align:center;
	transition: all 120ms;
	.preview-item {
		transition: all 500ms;
		transform:scale(1);
		&.scale-25 {transform:scale(.25);}
		&.scale-50 {transform:scale(.50);}
		&.scale-75 {transform:scale(.75);}
		&.scale-150 {transform:scale(1.5);}
		&.scale-200 {transform:scale(2.0);}
		&.scale-400 {transform:scale(4.0);}
	}
	button::before{
		color:white;
	}
	img {
		display:inline-block;
	}
	.x-toolbar-left > table {
		background-color:black;
	}
	.x-panel-body {
		top: dp(56);
		bottom: dp(56);
		width: 100%;
		position:absolute;
	}
	.x-panel-footer {
		bottom: 0;
		width: 100%;
		position: absolute;
	}
	&.x-hide-display {
		display: block !important;
		opacity: 0;
		pointer-events:none;
		.preview-item {
			transform:scale(.9);
		}
	}
}

.x-dd-over {
	position:relative;
	&::after {
		content: '';
		z-index:1;
		pointer-events : none;
		position:absolute;
		@include var(background-color, c-primary-tp);
		top:dp(8);bottom:dp(8);left:dp(8);right:dp(8);
		outline: 8px solid transparent;
		@include var(outline-color, c-primary-tp);
		border: 2px dashed white;
	}
}